
.vis-vsetup-wrap{
	width:40%;
	margin:5% auto;
	min-width: 595px;	
}
.vis-header-wrap{ width:100%; float:left;}
.vis-vsetup-tittle {
    /*width: 96%;
    background: rgba(var(--v-c-primary), 1);
    padding: 14px 0px 14px 15px;
    float: left;
	font-size:13.5px;
	 margin: 0;
    font-family: helvetica;
    font-weight: bold;
    color: white;*/
}
.vis-btn-close {
    /*width: 4%;
	height:29px;
    background: url('../Images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
   padding-top: 25px;
    padding-bottom: 18px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    margin: 0;*/
}
.vis-clear-both{
	clear: both;
}
.vis-graywrap, initial-client-form {
    /*background:#f4f4f4;*/
    width: 100%;
    float: left;    
    /*border-left:2px solid #1aa0ed;
	border-right:2px solid #1aa0ed;
	border-bottom:2px solid #1aa0ed;*/
    /*padding: 15px;*/
}
.vis-graywrap {
    height: 100%;
}
.vis-graywrap > p{
	/*color:#666;*/
	font-size:14px;	
}
.vis-intial-form-data, .vis-initial-form-buttons, .vis-intial-form-dataCombo {
    float: left;
    width: 50%;
    /*margin-bottom:10px;*/
    /*margin-left:15px;*/
    padding-left: 12px;
    margin-bottom: 10px;
    padding-right: 12px;
}

.vis-input-wrap.vis-intial-form-data input:not(:focus):placeholder-shown ~ label,
.vis-input-wrap.vis-intial-form-dataCombo input:not(:focus):placeholder-shown ~ label {
    /*font-size:14px;*/
    /*color:#666;
	font-weight:normal;*/
    /*width:100%;
	float:left;*/
    /*margin-bottom: 2px;*/
    left: 10px;
}
.vis-intial-form-data input, .vis-intial-form-dataCombo select{
	/*float:left;
	width:100%;*/	
	/*border:1px solid #ccc;*/
	border-radius:3px;
	padding:5px 10px;
     /*height:30px;*/
   
}
.vis-intial-form-dataCombo > select {
    margin-right: 10px;
}
.vis-intial-form-data > a{
	float:right;
	width:16px;
	height:16px;
	background:url('../Images/info-icon.png');
	margin-top: 8px;
	cursor:pointer;	
}

html[dir="rtl"] .vis-intial-form-data
{
    float:right;
}


ul.vis-initial-client-form-list{
	margin:0;
	padding:0;
	list-style:none;	
    margin-top: 10px;
}
ul.vis-initial-client-form-list > li{
	float:left;
	width:48%;	
    margin-left:15px;
}
.vis-initial-form-checkbox{ 
	width: 50%;
	float: left;
	margin-top: 10px;	
}
.vis-initial-form-checkbox > input{
	float:left;	
	margin-right:10px;
    margin-left:10px;
}

html[dir="rtl"] .vis-initial-form-checkbox
{
    	float:right;	
}

html[dir="rtl"] .vis-initial-form-checkbox > input {
	float:right;	
}

.vis-initial-form-checkbox > label{
	float:left;
	font-size:14px;
	/*color:#666;
	font-weight:normal;*/	
}

html[dir="rtl"] .vis-initial-form-checkbox > label {
	float:right;	
}

.vis-cs-op-lbl, .vis-its-ryt-panel h3 {
    color: rgba(var(--v-c-primary), 1);
}
.vis-initial-form-buttons{
	margin-top:20px;	
    width: 100%;
}
.vis-initial-btn-right{
	float:left;	
}
.vis-initial-btn-left{
	float:right;	
    margin-top: 10px;
    padding-left:15px;
    
}
.vis-initial-btn, .vis-initial-btn:hover {
    color: rgba(var(--v-c-on-primary), 1) !important;
    background: rgba(var(--v-c-primary), 1);
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    float: left;
    border-radius:.25rem;
}
.vis-initial-btn-blue, .vis-initial-btn-blue:hover {
    background: rgba(var(--v-c-primary), 1);
}
.vis-cs-op-lbl {
    margin-left: 12px;
    font-size: 16px;
}
.vis-fieldset-wrap, .vis-fieldset-inn, .initial-client-form {
    width: 100%;
    float: left;
}
.vis-fieldset-wrap{ padding: 0 12px;}
.vis-fieldset-inn {
    border: 1px solid rgba(var(--v-c-on-secondary), .3);
    padding: 0 10px 10px;
    border-radius: 5px;
    margin-top: 0px;
}
.vis-its-main-wrap {
    width: 80%;
    height: 100%;
}
.initial-client-form {
    height: calc(100% - 60px);
    overflow: auto;
}
.vis-its-ryt-panel {
    background-color: rgba(var(--v-c-secondary), .8);
    width: 20%;
    height: 100%;
    padding: 12px;
    word-wrap: break-word;
}
.vis-its-ryt-panel h3 {
    margin-top: 0;
    font-size: 16px;    
}
.vis-its-ryt-panel-inner{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}
.vis-initial-btn i {
    font-size: 1rem;
}
.vis-its-ryt-panel .vis-initial-btn {
    float: right;
}
.initial-client-form .VIS_Pref_change-pass {
    margin-bottom: 20px;
}