
.vis-email-rootDiv {
    width: 100%;
    height: 100%;
    background-color: white;
}

.vis-email-rootDivBusy {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    background: url('../Images/busy.gif') no-repeat;
    display: none;
}

.vis-email-mainDiv {
    width: 100%;
    height: 100%;
}

.vis-Email-rytForm {
    margin-top: 10px;
    overflow: auto;
}

.vis-email-leftDiv {
    width: 200px;
    float: left;
    height: 100%;
    background-color: rgba(var(--v-c-on-secondary), 1);
    display: inline;
    overflow: auto;
}

html[dir="rtl"] .vis-email-leftDiv {
    float: right;
}


.vis-email-middleDiv {
    width: auto;
    float: left;
    height: 100%;
    background-color: green;
    display: inline;
}

.vis-email-rightDiv {
    width: 200px;
    float: left;
    height: 100%;
    background-color: aqua;
    display: inline;
}

.vis-email-attachmentContainer {
    height: 90px;
    /*border: #CCCCCC solid 1px;*/
    margin-top: 20px;
    overflow: auto;
    /*margin-bottom:10px;*/
}



.vis-email-inputText {
    width: 100%;
}

.vis-email-To {
    width: 100%;
}

.vis-email-Cc {
    width: 100%;
}

.vis-email-Bcc {
    width: 100%;
}

.vis-email-Subject {
    width: 100%;
}

.vis-email-ul {
    /*list-style-type: none;*/
}

.vis-list-li-bcc {
    /* white-space: nowrap; */
}

label.vis-chcklist-label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.5rem;
}




/*----------------------------BY Designer------------------------*/

.vis-Email-headerTopRight {
    float: right;
    right: 0;
    position: absolute;
}

.vis-Email-topIcons {
    float: left;
    margin-right: 30px;
}

    .vis-Email-topIcons > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .vis-Email-topIcons > ul > li {
            float: left;
            padding: 0 10px;
        }

.vis-EmailIcon {
    width: 21px;
    height: 21px;
    float: left;
    background: none;
    border: none;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.vis-Email-Open {
    background: url('../Images/open.png');
    background-repeat: no-repeat;
}

.vis-Email-Save {
    background: url('../Images/save.png');
    background-repeat: no-repeat;
}

.vis-Email-SaveAs {
    background: url('../Images/saveas.png');
    background-repeat: no-repeat;
}

.vis-Email-Preview {
    background: url('../Images/preview.png');
    background-repeat: no-repeat;
}

.vis-Email-Cancel {
    background: url('../img/cancel.png');
    background-repeat: no-repeat;
    border-right: 1px solid #1493dc;
    padding-right: 30px;
}

.vis-Email-Send {
    background: url('../img/send.png');
    background-repeat: no-repeat;
}

.vis-EmailAttachment {
    background: url('../Images/attachment.png');
    background-repeat: no-repeat;
}

.sidebar > img, .vis-Email-ContentArea {
    width: 100%;
}

.vis-Email-ContentWrap {
    float: left;
    margin-left: 20px;
    /*margin-top:30px;*/
    /*width: 93%;*/
    /*margin-right:20px;*/
    height: 100%;
    background-color: white;
}

html[dir="rtl"] .vis-Email-ContentWrap {
    /*float: right;
    margin-right: 20px;*/
}

.vis-Email-ContentArea {
    float: left;
    height: 100%;
    color: rgba(var(--v-c-on-secondary), 1);
}

.vis-Email-leftWrap {
    float: left;
    /*width:75%;*/
}

html[dir="rtl"] .vis-Email-leftWrap {
    float: right;
}

.vis-Email-inputWrap {
    width: 100%;
    overflow: auto;
}

.vis-form-data {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.vis-form-data-extra {
    width: 93%;
    float: left;
    margin-bottom: 20px;
}

.vis-form-data-sub {
    margin-top: 10px;
    float: left;
    margin-bottom: 5px;
}

.vis-EmailAttachment {
    float: right;
    width: 4%;
}

.vis-Email-CcBcc {
    float: right;
    /*width:12%;*/
    /*color: #535353;*/
    font-size: 12px;
    margin-top: 5px;
}

    .vis-Email-CcBcc:hover, .vis-EmailAttachment:hover {
        text-decoration: none;
        cursor: pointer;
        /*color: #535353;*/
    }

.vis-form-data > input,
.vis-form-data-extra > input,
.vis-form-data-sub > input,
.vis-sms-form-data > input,
.vis-sms-form-data-extra > input,
.vis-sms-form-data-sub > input {
    width: 100%;
    float: left;
    border: none;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
    /*padding-bottom: 10px;*/
    font-size: 20px;
    font-weight: lighter;
    color: rgba(var(--v-c-on-secondary), 1);
    outline: none;
}

    .vis-form-data > input:focus,
    .vis-form-data-extra > input:focus,
    .vis-form-data-sub input:focus,
    .vis-sms-form-data > input:focus,
    .vis-sms-form-data-extra > input:focus,
    .vis-sms-form-data-sub input:focus {
        /* border: none; */
        border-bottom: 1px solid rgba(var(--v-c-primary), 1);
    }

.vis-Email-leftFooter {
    width: auto;
    float: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

    .vis-Email-leftFooter div {
        margin-right: 15Px;
    }

    .vis-Email-leftFooter label {
        font-weight: normal;
    }
    /*html[dir="rtl"] .vis-Email-leftFooter
{
    float: right;
}*/
    .vis-Email-leftFooter > input {
        /* float: left; */
    }

    /*html[dir="rtl"] .vis-Email-leftFooter > input
{
    float: right;
}*/

    .vis-Email-leftFooter > label {
        font-weight: normal;
        font-size: .75rem;
        /* float: left; */
        /* margin-top: 2px; */
        margin-left: 5px;
        margin-bottom: 0;
    }

/*html[dir="rtl"] .vis-Email-leftFooter > label
{
    margin-right: 10px;
    margin-left: 0px;
}*/

/*.Email-divider{
	width:1px;
	float:left;
	height:600px;
	background:url('../img/Email/divider.png');	
	 margin-left:20px;
}*/
.vis-Email-rytWrap {
    float: left;
    width: 325px;
    border-left: 1px solid rgba(var(--v-c-on-secondary), .2);
    padding-left: 20px;
    margin-left: 20px;
    height: 100%;
}

.vis-Email-rytContent {
    width: 100%;
    float: left;
    /*overflow: auto;*/
    height: 100%;
}

.vis-form-rytData {
    float: left;
    width: 100%;
    /*margin-bottom: 5px;*/
    position: relative;
    /*margin-top: 10px;*/
    display: flex;
    align-items: center;
}

    .vis-form-rytData .vis-input-wrap input + label {
        left: 10px;
    }

.vis-Email-rytForm .vis-form-rytData:first-child {
    margin-top: 5px;
}
/*.vis-form-rytData input {
    float: left;
    width: 100%;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    outline: none
}
.vis-form-rytData input:focus {
    border: 1px solid rgba(var(--v-c-primary), 1);
}
.vis-form-rytData input:focus ~ label {
    top: -8px;
    color: rgba(var(--v-c-primary), 1);
}*/
.vis-Email-rytBcc {
    /*margin-top: 10px;*/
    float: left;
    width: 100%;
    overflow: auto;
}

    .vis-Email-rytBcc > h4 {
        color: #535353;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

.vis-Email-BccList {
    float: left;
    width: 100%;
    overflow: auto;
}

    .vis-Email-BccList > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .vis-Email-BccList > ul > li {
            /* color: #535353; */
            font-size: 12px;
            line-height: 30px;
            display: flex;
            margin-bottom: 5px;
        }

            .vis-Email-BccList > ul > li input {
                margin-right: 10px;
                margin-top: 5px;
            }

/* Add By Param On date 22-sep-2015*/
.vis-DMSAttachDoc {
    margin-top: 10px;
    float: left;
    width: 100%;
    overflow: auto;
}

    .vis-DMSAttachDoc > h4 {
        color: #535353;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

.vis-DMSAttachDocList {
    float: left;
    width: 100%;
    overflow: auto;
    height: 200px;
}

    .vis-DMSAttachDocList > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .vis-DMSAttachDocList > ul > li {
            color: #535353;
            font-size: 12px;
            line-height: 30px;
        }

            .vis-DMSAttachDocList > ul > li input {
                margin-right: 10px;
            }

/*End*/

.vis-emailattchico {
    width: 31px;
    height: 31px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3rem;
    transform: rotate(-43deg);
}

.vis-email-leftDiv li {
    font-size: .875rem;
    border-bottom: 1px solid rgba(var(--v-c-secondary), .1);
    padding: 10px 0;
}

.vis-email-rytBcc-header {
    display: flex;
    align-items: center;
}

    .vis-email-rytBcc-header h4 {
        flex: 1;
        margin-top: 0;
    }

    .vis-email-rytBcc-header i {
        cursor: pointer;
        font-size: 1.2rem;
    }

.vis-email-btns, .vis-email-sendbtn, .vis-email-saveAttachbtn {
    /* margin-top: 10px; */
    /* margin-right: 20px; */
    cursor: pointer;
    float: right;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.vis-email-sendbtn {
    /* background: rgba(var(--v-c-on-secondary), .5); */
    margin-right: 0;
    width: 42px;
    justify-content: center;
    order: 6;
}

/*@media(max-width:1024px){
	.Email-ContentWrap{
		width:91%;	
	}
}*/


.vis-Email-textarea-div {
    position: relative;
}

    .vis-Email-textarea-div table {
        position: absolute;
    }

        .vis-Email-textarea-div table tr:nth-child(2) {
            height: 100%;
        }

            .vis-Email-textarea-div table tr:nth-child(2) td {
                height: 100%;
                display: block;
            }

.vis-sms-textarea-div textarea:focus {
    border: 1px solid rgba(var(--v-c-primary), 1);
}
/*----------------------------end by designer--------------------------------*/
