/* CSS Document */

/*advancedSearch-wrap{
	width:60%;
	margin:10% auto;	
}
.header-wrap{ width:100%; float:left;}
.advancedSearch-tittle {
    width: 96%;
    background: #1aa0ed;
    padding: 14px 0px 14px 15px;
    float: left;
	font-size:13.5px;
	 margin: 0;
    font-family: helvetica;
    font-weight: bold;
    color: white;
}*/

/*.vis-advancedSearch-GrayWrap{

	width:100%;
    height:100%;
	/*float:left;
	border-left:2px solid #1aa0ed;
	border-right:2px solid #1aa0ed;
	border-bottom:2px solid #1aa0ed;
}*/

.vis-advancedSearch-contentWrap {
    width: 100%;
    height: 100%;
}
.vis-advancedSearchContentArea {
    width: calc(100% - 200px);
    height: 100%;
    padding-right: 10px;
}
.vis-advancedSearchContentArea-up {
    /*min-height: 80px;*/
}
.vis-advancedSearchContentArea-down {
    height: calc(100% - 100px);
    float: left;
    width: 100%;
}
.vis-advancedSearchHorigontal:last-child {
    margin-right: 0;
}
.vis-advancedSearchContentArea-button {
    /*height: 10%;*/
}
.vis-advancedSearch-RecentRecords {
    width: 200px;
    float: left;
    border-left: 1px solid rgba(var(--v-c-on-secondary), .2);
    padding-left: 10px;
    height: 100%;
}

.vis-advanedSearch-InputsWrap {
    width: 100%;
    display: flex;
}

.vis-advancedSearchInput, .vis-advancedSearchHorigontal
{
    width: 21%;
    float: left;
    margin-right: 10px;
}
.vis-advancedSearchHorigontal {
    width: 14%;
    display: flex;
    position: relative;
}
.vis-advancedSearchContentArea input[type="checkbox"] {
    margin-top: 0 !important;
}
.vis-advancedSearchInput {
    width: 42%;
     padding-right: 10px;
    margin-right: 0;
    flex-basis: 27%;
    align-items: center;
    position: relative;
}

.vis-advancedSearchInput-op {
    /*width: 11%;*/
    flex-basis: 12%;
}
.vis-advancedSearchInput-v {
    width: 29%;
    flex: 1;
}
.vis-advancedSearchInput-v textarea {
    min-height: 65px !important;
}
.vis-advancedSearchHorigontal-colspan2
{
    width: 38%;
    float: left;
}

.vis-advancedSearchHorigontal-dynamic
{
    float: left;
    /*width: 13%;*/
    margin-right: 5px;
}
.vis-advancedSearchInput1 {
    width: 27%;
    float: left;
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
}
.vis-advancedSearchHorigontal input {
    flex: 1;
    position:relative;
}
.vis-advancedSearchHorigontal > label{
    /*width: 16%;*/
    padding-right: 5px;
}

.vis-advancedSearchInput > label, .vis-advancedSearchHorigontal > label {
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-bottom: 0;
    position: absolute;
    top: -8px;
    left: 5px;
    background: linear-gradient(#fff 51%, transparent 50%);
    padding: 0 5px;
}
.vis-advancedSearchInput input[type="checkbox"] + label {
    margin-bottom: 0;
    position: relative;
    top: auto;
    left: auto;
    background: transparent;
}

html[dir="rtl"] .vis-advancedSearchInput > label, html[dir="rtl"] .vis-advancedSearchInput1 > label, html[dir="rtl"] .vis-advancedSearchHorigontal > label
{
    float: right;
}
/*.vis-advancedSearchInput1 > input[type=checkbox]
{
    float: left;
}*/

.vis-advancedSearchInput1 > label {
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-bottom: 0;
}

.vis-advanedSearch-InputsWrap.vis-advancedSearchMrgin {
    /*margin-top: 5px;*/
    float: left;
}
/*.advancedSearchMrgin{ margin-left:20%;}*/
.vis-advancedSearchInput > input, .vis-advancedSearchInput > select {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    padding: 5px;
    width: 100%;
     font-size: 12px;
     border-radius: 0;
    display: inline-flex;
    outline: none;
    float: left;
}

    .vis-advancedSearchInput > input:focus, .vis-advancedSearchInput > select:focus, .vis-advancedSearchHorigontal > select:focus
    {
        border: 1px solid rgba(var(--v-c-primary), 1);
        box-shadow: none;
    }

.vis-advancedSearchHorigontal > select {
    width: 55%;
    float: left;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    padding: 5px;
    /*color: #848484;*/
    font-size: 12px;
}

.vis-advancedSearchInput > select {
    font-size:15px;
    /*padding: 6px;
    min-height: 30px;
    line-height: inherit !important;
   
    background: transparent;
    background-image: linear-gradient(45deg, transparent 50%, rgba(var(--v-c-primary),1) 50%), linear-gradient(135deg, rgba(var(--v-c-primary),1) 50%, transparent 50%);
    background-position: calc(100% - 15px), calc(100% - 10px);
    background-size: 5px 4px, 5px 4px, 1px 1.5em;
    background-repeat: no-repeat;*/
}

.vis-advancedSearchInput > button {
    /*width:100%;*/
    height: 30px;
    border-radius: 0;
    padding: 0;
    width: 30px;
    display: inline-flex;
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    background-color: rgba(var(--v-c-on-secondary), .12);
    color: rgba(var(--v-c-on-secondary), .8);
    align-items: center;
    justify-content: center;
    float: left;
}

.vis-advancedSearch-Icons
{
    width: 17%;
    float: left;
}

.vis-advancedSearch-calender-Icon
{
    width: 31px;
    float: left;
    /*margin-left: -7px;*/
    /*margin-right: 10px;*/
}

    .vis-advancedSearch-Icons > ul, .vis-advancedSearch-calender-Icon > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 0;
    }

        .vis-advancedSearch-Icons > ul > li
        {
            margin-right: 2px;
            float: left;
        }


        .vis-advancedSearch-calender-Icon > ul > li
        {
            float: left;
        }

.vis-advancedSearchActionIcon {
    width: 30px;
    height: 30px;
    float: left;
     background-repeat: no-repeat; 
     background-position: center center; 
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    padding: 0;
    background-color: rgba(var(--v-c-on-secondary), .12);
    color: rgba(var(--v-c-on-secondary), 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vis-ads-icon {
    width: 30px;
    height: 30px;
    /*float: left;*/
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    padding: 0;
    background-color: rgba(var(--v-c-on-secondary), .12);
    color: rgba(var(--v-c-on-secondary), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

    .vis-ads-icon i {
        font-size: 1rem;
    }

/*.vis-advancedSearch-EditIcon
{
    background: url('../img/edit-icon.jpg');
}*/

.vis-advancedSearch-delIcon
{
    /*background-image: url('../Images/adv-delete-icon.png');*/
}

/*.vis-advancedSearch-calenderIcon
{
    background: url('../Images/calender-icon.jpg');
}*/

.vis-advancedSearch-SaveIcon
{
    background-image: url('../Images/adv-save-icon.png');
    margin-left: 7px;
}
.vis-advancedSearchTableWrap {
    width: 100%;
    float: left;
    height: 100%;
    overflow: auto;
}

.vis-advancedSearchTable
{
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    float: left;
}
/*.advancedSearchTableHead{
	background:#e9eef0;
	width:100%;
	float:left;	
}
.advancedSearchTableHead > p{
	width:16.55%;
	text-align:center;
	font-size:13px;
	font-weight:normal;
	color:#494949;
	padding:5px 0;
	float:left;
}*/

/*.advancedSearchTableBody{ 
	background:#f8fafa;
	height:173px;
	overflow-y:scroll;
}*/
.vis-advancedSearchTableHead {
    background: rgba(var(--v-c-secondary), 1);
}
.vis-advancedSearchTableHead > th, .vis-advancedSearchTableRow > td {
    text-align: center !important;
    font-size: 12px;
    font-weight: normal;
    /*color: #494949;*/
    padding: 10px 0;
}
.vis-advancedSearchTableHead > th {
    font-weight: 600;
}
.vis-advancedSearchTableBody {
    background: rgba(var(--v-c-secondary), .4);
}

.vis-advancedTableIcon
{
    width: 22px;
    height: 19px;
    float: left;
    background-repeat: no-repeat !important;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

/*.vis-advncedRefreshIcon
{
    background: url('../img/refersh.png');
}*/

/*.vis-advncedTickIcon
{
    background: url('../img/tickIcon.png');
    margin-top: 13px;
}*/

/*.vis-advncedCloseIcon
{
    background: url('../img/closeIcon.png');
}*/

.vis-RecentRecords-Heading
{
    float: left;
    width: 100%;
}
.vis-RecentRecords-Heading > h4 {
    /* color: #535353; */
    font-size: 13px;
    margin-top: 0;
    padding: 0;
    /* font-weight: 500; */
}
.vis-RecentRecords-listWrap {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    float: left;
    width: 100%;
    padding: 0px;
    height: calc(100% - 52px);
    overflow-y: auto;
}
.vis-RecentRecords-listWrap > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0;
}
.vis-RecentRecords-listWrap > ul > li {
    /* color: #848484; */
    /* line-height: 23px; */
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
}
.vis-RecentRecords-listWrap > ul > li:hover {
    background-color: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
}
.vis-advancedSearchFooter
{
    float: right;
    /*height: 5%;*/
    /*position:absolute;*/
}
.vis-advancedSearchFooter > p {
    /* float: right; */
    margin: 10px 0 0 0;
    /* color: #535353; */
    font-size: 12px;
}

.vis-advcedfooterBtn
{
    margin-top: 9px;
    float: left;
    width: 100%;
}

.vis-advncedBtn
{
    background: #626365;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
}

.vis-form-group
{
    margin-bottom: 15px;
}

.vis-advancedSearchbusy
{
    height: 98%;
    width: 95%;
}

.vis-advancedSearchInput label.vis-ec-col-lblchkbox {
    display: flex;
    height: 30px;
    align-items: center;
    top: auto;
}

.vis-advancedSearchInput label.vis-ec-col-lblchkbox input[type="checkbox"] {
    margin-left: 0;
}
.vis-advanedSearch-AddFilterWrap label {
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: underline;
    color: rgba(var(--v-c-primary), 1);
    font-size: 1rem;
}
.vis-as-topfieldswrap {
    flex: 1;
    margin-top: 10px;
}

.vis-advancedSearchContentArea-up .vis-advanedSearch-InputsWrap:nth-child(2) {
    margin-top: 5px;
}

.vis-advanedSearch-AddFilterWrap {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.vis-as-backbtn button {
    display: none;
}

.vis-advancedSearch-AddFilter {
cursor:pointer;
}
