/*html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.loginConatiner
{
    min-height: 100%;
    background: linear-gradient(to bottom left, #46ABE6,#C5E9FF 50% ); 
}


.logo
{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}

    .logo img
    {
        width: 100%;
        max-width: 400px;
        vertical-align: middle;
    }

.loginPanel
{
    text-align: center;
    max-width: 740px;
}

.busy
{
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 300px;
    background: url("../Images/busy.gif") no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: none;
    
}

.leftContent
{
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

    .leftContent img
    {
        height: auto;
        width: 100%;
        vertical-align: middle;
    }


.form-signin .form-control
{
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    
}


.rightContent
{
    display: inline-block;
   
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    border-left: 2px solid #8EC0E0;
    padding: 15px;
    height: 100%;
   
}

html[dir="rtl"] .rightContent
{
    border-left-width: 0px;
    border-right: 2px solid #8EC0E0;
}


.login
{
    
    text-align: center;
}


    .login label:not(.checkbox)
    {
        display: inline;
        text-align: left;
    }

    .login ol
    {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        .login ol li
        {
            padding-bottom: 25px;
        }


    .login ul
    {
        list-style: none;
        padding: 0 0 0 12px;
        margin: 0;
    }

    .login input[type=submit]
    {
        background-color: #0165AA;
        color: white;
    }

.loginInput::-ms-clear
{
    display: none;
}

.login input[type=checkbox]
{
    border: none;
}

#login2Panel
{
    background-color: white;
    padding: 20px 20px 0px 20px;
}

    #login2Panel table
    {
        padding: 0;
        border-collapse: collapse;
    }

        #login2Panel table tr td
        {
            padding-bottom: 15px;
            text-align: left;
        }

html[dir="rtl"] #login2Panel table tr td
{
    text-align: right;
}

#login2Panel label
{
    font-weight: normal;
}

#login2Panel input:not([type=submit])
{
    background: white;
    width: 98%;
    margin-left: 4px;
    min-width: 10%;
}

#login2Panel select
{
    background: white;
    width: 100%;
    height: 35px;
    margin-left: 4px;
    margin-right: 4px
}

#login2Panel input[type="date"]
{
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

#loginPanel
{
    
}

    #loginPanel input:not([type=checkbox])
    {
        display: block;
        position: relative;
        vertical-align: middle;
        border: 1px solid #cccccc;
        border-radius: 4px;
        width: 100%;
        height: 50px;
    }

    #loginPanel input:not([type=submit])
    {
        background: white;
    }

    #loginPanel label
    {
        display: inline;
    }



    #loginPanel select
    {
        background: white;
        width: 100%;
        height: 50px;
    }

.login input[disabled]
{
    text-decoration: line-through;
}



.login input, select
{
    border: 1px solid #dedede;
}*/


@charset "utf-8";
/* CSS Document */
* {
    font-family: Helvetica, sans-serif;
}

html {
    /*background-image: url(../Images/login/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;*/
}





/*body{
	margin: 0;
	padding: 0;
	background-image: url(../img/bg.jpg);
}*/
html, body {
     background-image: url(../Images/login/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}
.login-wrap {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}

.vienna-logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.login-content {
    /*width: 527px;
	height: 448px;
	margin: 12% auto 0 auto;
	background-image: url(../img/form-bg.png);*/
    /*width: 30%;*/
    max-width: 484px;
    margin: 9% auto 0 auto;
    border-radius: 5px;
    background-color: rgba(255,253,235,.1);
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 4px 2px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 4px 2px 7px rgba(0,0,0,0.3);
    -o-box-shadow: 4px 2px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 2px 7px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

.lock {
    width: 100%;
    text-align: center;
    position: relative;
    top: -50px;
}

.login-form {
    width: 100%;
    margin-top: -20px;
}

.input-row {
    border-bottom: 1px solid #FFF;
    margin: 0px 30px 30px;
    padding-bottom: 5px;
}

.input-icon {
    width: 18px;
    float: left;
    margin-right: 10px;
}

    .input-icon > img {
        float: left;
        margin-right: 10px;
    }

.input-row > input {
    font-size: 18px;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    color: #FFF;
    width: 93%;
    outline: none;
}

.input-row > input[type=date] {
    font-size:16px;
    line-height:22px;
}



input::-moz-placeholder {
    color: #fff;
}

input::-webkit-input-placeholder {
    color: #fff;
}

.remember, .login-button {
    margin: 0px 30px 20px 30px;
}

    .remember > label {
        font-size: 18px;
        color: #fff;
    }

    .remember > img {
        float: right;
    }

.btn-login {
    background: #1aa0ed;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px 0;
    cursor: pointer;
    border: none;
}

.language {
    width: 93%;
    /*height: 17px;
   overflow: hidden;*/
    overflow: -moz-hidden-unscrollable;
    background: url(../Images/login/combo-arrow.png) no-repeat right;
    display: inline-block;
    position: relative;
    padding-right:12px;
}

    .language > select {
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        font-size: 18px;
        border: 0;
        /*height: 17px;
   position: absolute;*/
        color: #fff;
        outline: none;
        /*left: 0;
   top: 0;*/
    }

        .language > select > option {
            background: rgba(255,255,255,.2);
            color: #333;
            border: none;
        }

.validation-summary-errors {
    color: white;
    
}
    .validation-summary-errors ul {
        margin-left: 30px;
        margin-right: 30px;
        list-style:none;
        padding: 0px;
    }

.login-button input[disabled]
{
    text-decoration: line-through;
}



.login2PanelBtn {
    background-color: #1aa0ed;
    color: white;
    border:none;
    padding:5px;
    font-size:20px;
}


@media (max-width: 1366px) {
    .login-content {
        width: 36%;
    }

    .language, .input-row > input {
        width: 92%;
    }
}

@media (max-width: 1152px) {
    .login-content {
        width: 42%;
    }

    .input-row > input {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .login-content {
        margin-top: 10%;
    }

    .input-row, .remember, .login-button {
        margin: 0px 30px 30px;
    }
}

@media (max-width: 999px) {
    .login-content {
        margin-top: 25%;
    }

    .login-content {
        width: 52%;
    }

    .language {
        width: 90%;
    }
}

@media (max-width: 767px) {
    html {
        overflow: auto;
    }

    .login-content {
        width: 70%;
    }

    .language {
        width: 89%;
    }

    .input-row > input {
        width: 88%;
    }
    .vienna-logo {
            right: 10px;
        bottom: 10px;
        z-index: 0;
    }
        .vienna-logo img {
            max-width: 80px;
        }
}

@media (max-width: 420px) {
    .login-content {
        width: 90%;
    }

    .language {
        width: 85%;
    }

    .input-row > input {
        width: 84%;
    }

    /*.vienna-logo {
        display: none;
    }*/

        .vienna-logo > img {
            opacity: 0.3;
        }
}

/* SLIDE TWO */
.slideTwo {
    width: 80px;
    height: 30px;
    /*background: #333;*/
    /*margin: 20px auto;*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    /*-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);*/
}

    .slideTwo:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 14px;
        height: 2px;
        width: 52px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: #111;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
        -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    }

    .slideTwo input[type=checkbox] {
        visibility: hidden;
    }

    .slideTwo label {
        display: block;
        width: 22px;
        height: 22px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        position: absolute;
        top: 4px;
        z-index: 1;
        left: 4px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        background: #fcfff4;
        background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    }

        .slideTwo label:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background: #333;
            left: 6px;
            top: 6px;
            -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
            -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
        }

    .slideTwo input[type=checkbox]:checked + label {
        left: 54px;
    }

        .slideTwo input[type=checkbox]:checked + label:after {
            background: #00bf00;
        }

