html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    /*font-family: 'Source Sans Pro',sans-serif;*/
    font-weight: 200;
    overflow: hidden;
    /*background-color: ButtonHighlight;*/
}


/*Common button Style*/




textarea, select, button
{
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-appearance: none;
}

*
{
    -webkit-tap-highlight-color: transparent;
}

select
{
    background: url(../Images/select.png) no-repeat 97% 50%;
    min-width: 26px;
    background-color: white;
}

html[dir="rtl"] select
{
    background-position: 3%;
}

::-ms-expand
{
    display: none;
}

html[dir="rtl"] input[type=radio], input[type=checkbox]
{
    margin: 4px 4px 0;
}


/* Common*/

.vis-pull-left
{
    float:left;
}
.vis-pull-right
{
    float:right;
}

html[dir="rtl"] .vis-pull-left
{
    float:right;
}

html[dir="rtl"] .vis-pull-right
{
    float:left;
}

/* main Page */


.container-fluid.header
{
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}


.vis-scrollerVertical
{
    /*position: absolute;
    z-index: 1;
    width: 100%;*/
}

/*----------------------------------------*/
/* App Top Menu Bar Css Definations START */
/*----------------------------------------*/

/* Top menu bar icons */
.vis-icons-menuBar
{
    background: url('../images/home/icons-MenuBar.png') 0px 0px no-repeat;
    display: block;
    float: left;
}

    .vis-icons-menuBar.vis-icon-menu
    {
        width: 42px;
        height: 42px;
        background-color: #1aa0ed;
        background-position: 10px 10px;
        margin: 0px 0px 0px 0px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-alerts
    {
        width: 42px;
        height: 42px;
        background-position: -16px -30px;
        margin: 0px 0px 0px 0px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-Info-Home
    {
        width: 42px;
        height: 42px;
        /*background-position: 10px -70px;*/
        margin: 0px 0px 0px 2px;
        text-indent: -999999px;
        padding: 11px;
        background: url('../images/infoOnHome.png') 0px 0px no-repeat;
        background-size: 42px 42px;
    }

    .vis-icons-menuBar.vis-icon-call
    {
        width: 42px;
        height: 42px;
        background-color: #1aa0ed;
        background-position: 11px -204px;
        margin: 0px 0px 0px 2px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-date
    {
        width: 17px;
        height: 16px;
        background-position: -29px -122px;
        margin: 6px 5px 0px 0px;
    }

    .vis-icons-menuBar.vis-icon-time
    {
        width: 17px;
        height: 16px;
        background-position: -30px -148px;
        margin: 6px 5px 0px 0px;
    }

    .vis-icons-menuBar.vis-icon-logout
    {
        width: 26px;
        height: 26px;
        background-position: -19px -174px;
        margin: 3px 0px 0px 0px;
        text-indent: -999999px;
    }

/* Top Menu bar left side menu items */
.vis-topMenu
{
    float: left;
    list-style: none;
    color: #616364;
    height: 42px;
    margin: 0px 0px 0px -15px;
    padding: 0px;
}

    .vis-topMenu li
    {
        float: left;
        margin: 0px;
        padding: 0px;
    }

.vis-notify-counter
{
    position: absolute;
    font-size: 10px;
    color: #FFFFFF;
    background: #FF0000;
    padding: 2px 4px 2px 4px;
    display: block;
    margin-left: 20px;
}

/* Top Menu bar right side items */
.vis-userinfo
{
    float: right;
    list-style: none;
    margin: 5px 0px 5px 0px;
    color: #616364;
}

    .vis-userinfo li
    {
        float: left;
        margin: 0px 10px 0px 10px;
        line-height: 32px;
    }

        .vis-userinfo li:last-child
        {
            margin: 0px;
        }

/* Right to left Layout*/

html[dir="rtl"] .vis-userinfo
{
    float: left;
}

    html[dir="rtl"] .vis-userinfo li
    {
        float: right;
    }

html[dir="rtl"] .vis-topMenu
{
    float: right;
    margin: 0px -15px 0px 0px;
}

    html[dir="rtl"] .vis-topMenu li
    {
        float: right;
    }

html[dir="rtl"] .vis-icons-menuBar.vis-icon-Info-Home
{
    margin-left: 0px;
    margin-right: 2px;
}
/* End rtl*/

#vis_userTime
{
    border-right: 1px solid #CCCCCC;
    padding-right: 20px;
}

#vis_userDisplayName
{
    font-size: 14pt;
    color: #1aa0ed;
}

.vis-div-userAvatar
{
    float: right;
    margin: 0px 0px 0px 5px;
    text-align: center;
    padding: 1px;
    line-height: 27px;
}


.vis-userAvatar
{
    max-height: 100%;
    max-width: 100%;
}
/* App Top Menu Bar Css Definations END */



/*------------------------------------------*/
/* App Side Main Menu Css Definations START */
/*------------------------------------------*/
#vis_mainMenu
{
    background: url('../images/home/mainMenu-BG.png') 0px 0px repeat;
    position: fixed;
    z-index: 999;
    top: 42px;
    left: 0px;
    bottom: 0px;
    min-width: 320px;
}

    #vis_mainMenu .vis-menuTitle
    {
        background: #1aa0ed;
        line-height: 42px;
    }

        #vis_mainMenu .vis-menuTitle p
        {
            margin: 0px;
            padding: 0px 0px 0px 10px;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
        }

    #vis_mainMenu .vis-menuSearch
    {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #d8d7d7;
    }

        #vis_mainMenu .vis-menuSearch input[type=text]
        {
            padding: 5px 40px 5px 10px;
            background: #e2d0d0;
            border: 1px solid #d1d1d1;
            border-radius: 3px;
            width: 88%;
        }

/* rtl menu*/
html[dir="rtl"] #vis_mainMenu
{
    left: auto;
    right: 0px;
}


.vis-menuitm-with-favItm
{
    width: 85%;
    display: inline-block;
    float: left;
}

html[dir="rtl"] .vis-menuitm-with-favItm
{
    float: right;
}

.vis-menufavitm
{
    min-height: 30px;
    display: inline-block;
    margin-right: 0px;
    margin-top: 8px;
    width: 5%;
    float: right;
}

html[dir="rtl"] .vis-menufavitm
{
    float: left;
}

.vis-favitmchecked
{
    background: url('../images/favItem.png') 0px 0px no-repeat;
}

.vis-favitmunchecked
{
    background: url('../images/nonfavItem.png') 0px 0px no-repeat;
}

.vis-mainMenuIcons
{
    background: url('../images/home/mainMenu.png') 0px 0px no-repeat;
    display: block;
    text-indent: -999999px;
}

    .vis-mainMenuIcons.vis-icon-menuclose
    {
        width: 40px;
        height: 42px;
        float: right;
    }

html[dir="rtl"] .vis-mainMenuIcons.vis-icon-menuclose
{
    float: left;
    display: inline;
}

.vis-mainMenuIcons.vis-icon-searchfilter
{
    background-position: -64px -157px;
    width: 26px;
    height: 30px;
    position: absolute;
    display: inline;
    margin: 1px 0px 0px -24px;
}

    .vis-mainMenuIcons.vis-icon-searchfilter:before
    {
        content: ' ';
        border-left: 2px solid #d7c6c6;
        display: block;
        height: 22px;
        width: 0px;
        margin: 4px 0px 0px -6px;
    }

.vis-mainMenuIcons.vis-icon-search
{
    background-position: -60px -114px;
    width: 20px;
    height: 20px;
    float: right;
    margin: 7px 0px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderclose
{
    background-position: -60px -299px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderclose-grey
{
    background-position: -60px -349px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-workspace
{
    background-position: -60px -399px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-workspace-grey
{
    background-position: -60px -448px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderopen
{
    background-position: -57px -497px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderopen-grey
{
    background-position: -57px -545px;
    width: 23px;
    height: 18px;
    float: left;
    margin: 2px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-unknownfolder
{
    background-position: -59px -593px;
    width: 21px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-window
{
    background-position: -60px -642px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-form
{
    background-position: -60px -736px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-report
{
    background-position: -60px -831px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-process
{
    background-position: -60px -929px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}





.vis-sidebarMenuWrapper
{
    top: 102px;
    width: 99%;
    position: absolute;
    z-index: 22;
    bottom: 0px;
    left: 0;
}

/*.vis-sidebarMenuWrapper ul
    {
        list-style: none;
        margin: 0px 10px 10px 10px;
        padding: 0px;
    }

        .vis-sidebarMenuWrapper ul li
        {
            margin-bottom: 2px;
            background-color: #ffffff;
            position: relative;
        }*/

.vis-hasSubMenu
{
}

    .vis-hasSubMenu:after
    {
        content: ' ';
        width: 6px;
        height: 11px;
        background: url('../images/home/mainMenu.png') 0px -210px no-repeat;
        margin: 0px;
        position: absolute;
        top: 14px;
        right: 10px;
    }

html[dir="rtl"] .vis-hasSubMenu:after
{
    display: none;
}

.vis-settingsMenu:after
{
    content: ' ';
    width: 16px;
    height: 18px;
    background: url('../images/home/mainMenu.png') 0px -251px no-repeat;
    margin: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.vis-menu-Overlay
{
    width: 100%;
    height: 100%;
    z-index: 998;
    position: absolute;
    display: none;
}


/*.vis-sidebarMenuWrapper ul li a{padding:10px;display:block;margin-right:20px;}*/

/*.vis-sidebarMenuWrapper ul li ul{background-color:#dfdddd;padding:4px 4px 4px 4px;margin:0px;}*/
/*.vis-sidebarMenuWrapper ul li ul li{margin-bottom:1px}*/

/*.vis-sidebarMenuWrapper ul li ul li ul{padding:3px 0px 1px 0px}*/
/*.vis-sidebarMenuWrapper ul li ul li ul li{background-color:#f9f9f9}
.vis-sidebarMenuWrapper ul li ul li ul li ul li{background-color:#ffffff;}
.vis-sidebarMenuWrapper ul li ul li ul li ul li a{margin-left:5px;}
.vis-sidebarMenuWrapper ul li ul li ul li ul li ul li{background-color:#f9f9f9}*/

/* App Side Main Menu Css Definations END */





.vis-css-menu
{
    position: relative;
    /*display: none;*/
    /*left: 69px;
    top: 0;*/
}

.vis-css-treeview
{
    /*font: normal 11px "Segoe UI", Arial, Sans-serif;
    font-size: 12px;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*margin-top: 7px;*/
    height: 100%;
    overflow-y: auto;
}

    .vis-css-treeview ul
    {
        list-style: none;
        margin: 0px 10px 10px 10px;
        padding: 0px;
    }

        .vis-css-treeview ul li
        {
            margin-bottom: 2px;
            background-color: #ffffff;
            position: relative;
        }

            .vis-css-treeview ul li a
            {
                padding: 10px;
                display: block;
                outline: none;
                /*margin-right: 20px;*/
            }

            .vis-css-treeview ul li ul
            {
                background-color: #dfdddd;
                padding: 4px 4px 4px 4px;
                margin: 0px;
            }

                .vis-css-treeview ul li ul li
                {
                    margin-bottom: 1px;
                }

                    .vis-css-treeview ul li ul li ul
                    {
                        padding: 4px 0px 4px 4px;
                        margin: 0px;
                    }


    /*.vis-css-treeview li
    {
         padding: 0;
        margin: 0;
        list-style: none;
        padding-top: 4px;
        padding-bottom: 5px;
    }*/

    .vis-css-treeview input
    {
        position: absolute;
        opacity: 0;
    }

    .vis-css-treeview a
    {
        /*color: #F7F7F7;
        text-decoration: none;
        display: inline-block;*/
    }

        /*.vis-css-treeview > ul
    {
        margin: 10px 20px 0px 0px;
        width: auto;
    }*/

        .vis-css-treeview a:hover
        {
        }

    .vis-css-treeview input + label + ul
    {
        /*margin: 0 0 0 20px;*/
    }


        .vis-css-treeview input + label + ul li img
        {
            margin-right: 4px;
            /*height: 16px;*/
        }


    .vis-css-treeview input ~ ul
    {
        /*display: none;*/
    }

    .vis-css-treeview label,
    .vis-css-treeview label::before
    {
        cursor: pointer;
    }

html[dir="rtl"] .vis-css-treeview label::before
{
    margin: 0px 0px 0px 10px;
    float: right;
}

.vis-css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.vis-css-treeview input:checked:not(:disabled) ~ ul
{
    /*display: block;*/
}




.vis-css-treeview label,
.vis-css-treeview label::before
{
    /*display: inline-block;
        height: 16px;
        vertical-align: top;*/
}

.vis-css-treeview label
{
    margin: 0;
    padding: 10px;
    display: block;
    /*margin-right: 20px;*/
    font-weight: normal;
    color: #428bca;
}

    /*.vis-css-treeview label::before
        {
            content: "";
            width: 16px;
            margin: 0 4px 0 0;
        }*/

    .vis-css-treeview label::before
    {
        /*background: url("../Images/login/folder.png") no-repeat;*/
        background: url('../images/home/mainMenu.png') 0px 0px no-repeat;
        display: block;
        text-indent: -999999px;
        content: "";
        background-position: -59px -299px;
        width: 22px;
        height: 20px;
        float: left;
        margin: 0px 10px 0px 0px;
    }

.vis-css-treeview input:checked + label::before
{
    /*background: url('../images/home/mainMenu.png') 0px 0px no-repeat;*/
    /*display: block;
        text-indent: -999999px;*/
    background-position: -57px -497px;
    /*
        height: 18px;
        float: left;
        margin: 2px 10px 0px 0px;*/
    /*background: url("../Images/login/folder-open.png") no-repeat;*/
}

.vis-css-treeview input:checked
{
    margin: 0;
}



@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .vis-css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    /*@-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }

        to
        {
            padding: 0;
        }
    }*/
}



/*::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px #fff; 
    -webkit-border-radius: 10px;
    background:#fff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb  {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover  {
    background: #999999; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #999999; 
}

html,body { color:black;
   scrollbar-face-color:#05B7FF;
   scrollbar-arrow-color:#05B7FF;
   scrollbar-track-color:#CBD5D7;
   scrollbar-shadow-color:#05B7FF;
   scrollbar-highlight-color:#05B7FF;
   scrollbar-3dlight-color:#808080;
   scrollbar-darkshadow-Color:#202020;
 }*/




/*.inner-header
{
    min-height: 30px;
    height: 100%;
    width: 100%;
    padding: 0 5px 10px 5px;
}

.full-height-div
{
    height: 100%;
    
}
*/
.vis-main-container
{
    clear: both;
    height: 100%;
    background: url("../Images/logo.jpg") no-repeat;
    background-position: bottom right;
}

html[dir="rtl"] .vis-main-container
{
    background-position: bottom left;
}
.vis-sub-container
{
    height: 100%;
    overflow: auto;
}

.vis-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ADADAD;
    background-color: white;
    height: 23px;
}

.vis-taskbar-left
{
    /* float: left; */
    display: inline-block;
    width: 96%;
    overflow-y: auto;
    vertical-align: middle;
    max-height: 100%;
    max-width: 96%;
}

.vis-taskbar-right
{
    /*position: fixed;*/
    display: inline-block;
    width: 20px;
    height: 22px;
    bottom: 0;
    float: right;
    /*right: 0;*/
    background-image: url(../Images/base/logo.png);
    background-position-y: center;
    background-size: contain;
}

html[dir="rtl"] .vis-taskbar-right
{
    float: left;
}

.vis-taskbar-right-l
{
    float: right;
}

.vis-taskbar
{
    list-style: none;
    padding: 0px;
    margin: 0;
    vertical-align: bottom;
    font-family: 'Conv_HelveticaNeue-Medium';
    color: #757575;
    /*padding-top: 1px;*/
}

    .vis-taskbar li
    {
        text-align: center;
        cursor: pointer;
        display: inline-block;
        background-color: white;
        margin: 0;
        margin-right: 4px;
        margin-left: 3px;
        padding: 0px 7px 0px 7px;
        /* rounded corners */
        /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;*/
        /* gradients */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
        background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);*/
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
        background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);*/
    }

        .vis-taskbar li a
        {
            color: #757575;
            font-size: 14px;
            /*color: white;*/
            word-wrap: break-word;
            text-decoration: none;
        }

        .vis-taskbar li img
        {
            margin: 0 auto;
            padding: 0;
            width: 16px;
            height: 14px;
        }



.vis-wakeup-main
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99997;
    background-color: lightgray;
    opacity: .5;
}

.vis-wakeup
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    border: solid #1AA0ED 10px;
    height: 200px;
    width: 300px;
    opacity: .6;
    border-radius: 7px;
    z-index: 99998;
}

.vis-wakeup-content
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -90px;
    height: 180px;
    width: 280px;
    opacity: 1;
    z-index: 99999;
    background-color: white;
}


.vis-dialog
{
    z-index: 99999;
    display: block;
    position: absolute;
    background: #494D50;
    border-radius: 10px;
    padding: 10px;
}

    .vis-dialog::before
    {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
    }


.vis-auth-dialog
{
    top: 50px;
    right: 20px;
    width: 310px;
    padding-top: 20px;
    display: none;
    color: white;
}

html[dir="rtl"] .vis-auth-dialog
{
    right: auto;
    left:2px;
}


    .vis-auth-dialog::before
    {
        border: 10px solid transparent;
        border-bottom-color: #494D50;
        bottom: 100%;
        left: 70%;
    }

    .vis-auth-dialog select
    {
        width: 98%;
        margin: 5px 0px 5px 0px;
    }

    .vis-auth-dialog input[type=submit]
    {
        background-color: #616364;
        color: white;
    }

    .vis-auth-dialog input[disabled]
    {
        text-decoration: line-through;
    }



.vis-filter-dialog
{
    top: 145px;
    left: 200px;
    padding: 20px;
    display: none;
    color: white;
}

    .vis-filter-dialog::before
    {
        border: 10px solid transparent;
        border-bottom-color: #494D50;
        bottom: 100%;
        left: 47%;
    }

html[dir="rtl"] .vis-filter-dialog
{
    left:auto;
    right: 15px;
}
