html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 200;
    overflow: hidden;
    
}


/*Common button Style*/




textarea, select, button
{
    /*-webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-appearance: none;*/
}

*
{
    -webkit-tap-highlight-color: transparent;
}

select {
    /*background: url(../Images/select.png) no-repeat 97% 50%;*/
    min-width: 30px;
    background-color: white;
    padding-right: 25px;
    padding-left: 10px;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    color: rgba(var(--v-c-on-secondary), 1)
}
button:focus {
    outline: none;
}
/*html[dir="rtl"] select
{
    background-position: 3%;
}*/

::-ms-expand
{
    display: none;
}

/*html[dir="rtl"] input[type=radio], input[type=checkbox]
{
    margin: 4px 4px 0;
}*/


/* Common*/

.vis-pull-left
{
    float:left;
}
.vis-pull-right
{
    float:right;
}

/* main Page */


.container-fluid.header
{
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.vis-scrollerVertical
{
    /*position: absolute;
    z-index: 1;
    width: 100%;*/
}

/*----------------------------------------*/
/* App Top Menu Bar Css Definations START */
/*----------------------------------------*/

/* Top menu bar icons */
.vis-icons-menuBar
{
    background: url('../images/home/icons-MenuBar.png') 0px 0px no-repeat;
    display: block;
    float: left;
}

    .vis-icons-menuBar.vis-icon-menu
    {
        width: 42px;
        height: 42px;
        background-color: #1aa0ed;
        background-position: 10px 10px;
        margin: 0px 0px 0px 0px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-alerts
    {
        width: 42px;
        height: 42px;
        background-position: -16px -30px;
        margin: 0px 0px 0px 0px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-Info-Home
    {
        width: 42px;
        height: 42px;
        /*background-position: 10px -70px;*/
        margin: 0px 0px 0px 2px;
        text-indent: -999999px;
        padding: 11px;
        background: url('../images/infoOnHome.png') 0px 0px no-repeat;
        background-size: 42px 42px;
    }

    .vis-icons-menuBar.vis-icon-call
    {
        width: 42px;
        height: 42px;
        background-color: #1aa0ed;
        background-position: 11px -204px;
        margin: 0px 0px 0px 2px;
        text-indent: -999999px;
        padding: 11px;
    }

    .vis-icons-menuBar.vis-icon-date
    {
        width: 17px;
        height: 16px;
        background-position: -29px -122px;
        margin: 6px 5px 0px 0px;
    }

    .vis-icons-menuBar.vis-icon-time
    {
        width: 17px;
        height: 16px;
        background-position: -30px -148px;
        margin: 6px 5px 0px 0px;
    }

    .vis-icons-menuBar.vis-icon-logout
    {
        width: 26px;
        height: 26px;
        background-position: -19px -174px;
        margin: 3px 0px 0px 0px;
        text-indent: -999999px;
    }

/* Top Menu bar left side menu items */
.vis-topMenu
{
    float: left;
    list-style: none;
    color: #616364;
    height: 42px;
    margin: 0px 0px 0px -15px;
    padding: 0px;
}

    .vis-topMenu li
    {
        float: left;
        margin: 0px;
        padding: 0px;
    }

.vis-notify-counter
{
    position: absolute;
    font-size: 10px;
    color: #FFFFFF;
    background: #FF0000;
    padding: 2px 4px 2px 4px;
    display: block;
    margin-left: 20px;
}

/* Top Menu bar right side items */
.vis-userinfo
{
    float: right;
    list-style: none;
    margin: 5px 0px 5px 0px;
    color: #616364;
}

    .vis-userinfo li
    {
        float: left;
        margin: 0px 10px 0px 10px;
        line-height: 32px;
    }

        .vis-userinfo li:last-child
        {
            margin: 0px;
        }

/* Right to left Layout*/

html[dir="rtl"] .vis-userinfo
{
    float: left;
}

    html[dir="rtl"] .vis-userinfo li
    {
        float: right;
    }

html[dir="rtl"] .vis-topMenu
{
    float: right;
    margin: 0px -15px 0px 0px;
}

    html[dir="rtl"] .vis-topMenu li
    {
        float: right;
    }

html[dir="rtl"] .vis-icons-menuBar.vis-icon-Info-Home
{
    margin-left: 0px;
    margin-right: 2px;
}
/* End rtl*/

#vis_userTime
{
    border-right: 1px solid #CCCCCC;
    padding-right: 20px;
}

/*#vis_userDisplayName
{
    font-size: 14pt;
    color: #1aa0ed;
}*/

.vis-div-userAvatar
{
    float: right;
    margin: 0px 0px 0px 5px;
    text-align: center;
    padding: 1px;
    line-height: 27px;
}


.vis-userAvatar
{
    max-height: 100%;
    max-width: 100%;
}
/* App Top Menu Bar Css Definations END */



/*------------------------------------------*/
/* App Side Main Menu Css Definations START */
/*------------------------------------------*/
#vis_mainMenu {
    /*background: url('../images/home/mainMenu-BG.png') 0px 0px repeat;*/
    background: #fff;
    position: fixed;
    z-index: 999;
    top: 42px;
    left: 0px;
    bottom: 0px;
    min-width: 320px;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
}
#vis_mainMenu .vis-menuTitle {
    background: rgba(var(--v-c-primary), 1);
    line-height: 30px;
    display: flex;
    border-top-right-radius: 5px;
}
.vis-mainMenu .vis-menuTitle i {
    color: rgba(var(--v-c-on-primary), 1);
}
.vis-menuTitle a {
    padding: 0 10px;
}
#vis_mainMenu .vis-menuTitle p {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    color: rgba(var(--v-c-on-primary), 1);
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    flex: 1;
}
#vis_mainMenu .vis-menuSearch {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
    align-items: center;
}
.vis-menuSearch a{
    font-size: 1.3rem;
    margin-left: 10px;
}
.vis-menuSearch a:hover {
    color: rgba(var(--v-c-primary),1);
}
#vis_mainMenu .vis-menuSearch input[type=text] {
    padding: 5px 1s0px 5px 10px;
    background-color: rgba(var(--v-c-secondary), 0.7);
    border: 1px solid rgba(var(--v-c-primary), 0.09);
    border-radius: 3px;
    flex: 1;
    color: rgba(var(--v-c-on-secondary), 1);
    outline: none;
}
#vis_mainMenu .vis-menuSearch input[type=text]:focus {
    border: 1px solid rgba(var(--v-c-primary), .4);
}
    #vis_mainMenu .vis-menuSearch input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(var(--v-c-primary), 0.6);
    }

    #vis_mainMenu .vis-menuSearch input[type=text]::-moz-placeholder { /* Firefox 19+ */
        color: rgba(var(--v-c-primary), 0.6);
    }

    #vis_mainMenu .vis-menuSearch input[type=text]:-ms-input-placeholder { /* IE 10+ */
        color: rgba(var(--v-c-primary), 0.6);
    }

    #vis_mainMenu .vis-menuSearch input[type=text]:-moz-placeholder { /* Firefox 18- */
        color: rgba(var(--v-c-primary), 0.6);
    }

/* rtl menu*/
html[dir="rtl"] #vis_mainMenu
{
    left: auto;
    right: 0px;
}


.vis-menuitm-with-favItm
{
    width: 100%;
    display: inline-block;
    float: left;
}

.vis-css-treeview li.vis-subNavFirstElement ~ ul li span {
    padding-left: .625rem;
}
.vis-navSearchWrap input:focus {
    border: none !important;
}

html[dir="rtl"] .vis-menuitm-with-favItm
{
    float: right;
}

.vis-menufavitm
{
    min-height: 30px;
    display: inline-block;
    margin-right: 0px;
    margin-top: 8px;
    width: 5%;
    float: right;
}

html[dir="rtl"] .vis-menufavitm
{
    float: left;
}

.vis-favitmchecked
{
    background: url('../images/favItem.png') 0px 0px no-repeat;
}

.vis-favitmunchecked
{
    background: url('../images/nonfavItem.png') 0px 0px no-repeat;
}

.vis-mainMenuIcons
{
    background: url('../images/home/mainMenu.png') 0px 0px no-repeat;
    display: block;
    text-indent: -999999px;
}
.vis-mainMenuIcons.vis-icon-menuclose{
    width: 40px;
     height: 42px; 
     float: right; 
}
.vis-icon-menuclose {
    font-size: .875rem;
}
.vis-icon-menuclose, .vis-icon-menuclose:hover {
    /* width: 40px; */
    /* height: 42px; */
    /* float: right; */
    color: rgba(var(--v-c-on-secondary), 1);
}

html[dir="rtl"] .vis-mainMenuIcons.vis-icon-menuclose
{
    float: left;
    display: inline;
}

.vis-mainMenuIcons.vis-icon-searchfilter
{
    background-position: -64px -157px;
    width: 26px;
    height: 30px;
    position: absolute;
    display: inline;
    margin: 1px 0px 0px -24px;
}

    .vis-mainMenuIcons.vis-icon-searchfilter:before
    {
        content: ' ';
        border-left: 2px solid #d7c6c6;
        display: block;
        height: 22px;
        width: 0px;
        margin: 4px 0px 0px -6px;
    }

.vis-mainMenuIcons.vis-icon-search
{
    background-position: -60px -114px;
    width: 20px;
    height: 20px;
    float: right;
    margin: 7px 0px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderclose
{
    background-position: -60px -299px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderclose-grey
{
    background-position: -60px -349px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-workspace
{
    background-position: -60px -399px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-workspace-grey
{
    background-position: -60px -448px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderopen
{
    background-position: -57px -497px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-folderopen-grey
{
    background-position: -57px -545px;
    width: 23px;
    height: 18px;
    float: left;
    margin: 2px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-unknownfolder
{
    background-position: -59px -593px;
    width: 21px;
    height: 20px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-window
{
    background-position: -60px -642px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-form
{
    background-position: -60px -736px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-report
{
    background-position: -60px -831px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}

.vis-mainMenuIcons.vis-icon-process
{
    background-position: -60px -929px;
    width: 20px;
    height: 19px;
    float: left;
    margin: 1px 10px 0px 0px;
}


.vis-subNavFirstElement {
    /*position: fixed;
    top: 85px;
    left: 0;*/
    width: 100%;
}

.vis-css-treeview > li {
    display: none !important;
}

.vis-sidebarMenuWrapper {
    width: 100%;
    height: calc(100vh - 130px);
    position: relative;
}

.vis-mbilemenu-search {
    padding: .3rem .2rem .3rem .625rem;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .05);
}

.vis-mbilemenu-search-icon {
    color: rgba(var(--v-c-primary), 1) !important;
    border-radius: 0;
    /* color: red; */
    font-size: 1rem;
}

.vis-mbilemenu-search .input-group-text {
    border: none !important;
}

.vis-menu-foldderUL ul {
    padding-left: 15px !important;
}

.vis-menu-innerFolders ~ li {
    padding-left: 1.25rem;
    border: none !important;
}

.vis-subNavFirstElement ~ li {
   
    padding-left: .625rem;
}

.vis-css-treeview ul li a:first-child {
    border-left: 4px solid rgba(var(--v-c-on-secondary), .2);
}
.vis-css-treeview ul li:hover a {
    border-color: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-primary), 1);
}
.vis-css-treeview li:hover label {
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
}
.vis-css-treeview ul li span {
    /*padding-right: .625rem;*/
}
.vis-css-treeview ul li span i {
    padding: 0 .725rem;
}
/*.vis-sidebarMenuWrapper ul
    {
        list-style: none;
        margin: 0px 10px 10px 10px;
        padding: 0px;
    }

        .vis-sidebarMenuWrapper ul li
        {
            margin-bottom: 2px;
            background-color: #ffffff;
            position: relative;
        }*/

.vis-hasSubMenu
{
}

    .vis-hasSubMenu:after
    {
        content: ' ';
        width: 6px;
        height: 11px;
        /*background: url('../images/home/mainMenu.png') 0px -210px no-repeat;*/
        margin: 0px;
        position: absolute;
        top: 14px;
        right: 10px;
    }

html[dir="rtl"] .vis-hasSubMenu:after
{
    display: none;
}

.vis-settingsMenu:after
{
    content: ' ';
    width: 16px;
    height: 18px;
    background: url('../images/home/mainMenu.png') 0px -251px no-repeat;
    margin: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.vis-menu-Overlay
{
    width: 100%;
    height: 100%;
    z-index: 998;
    position: absolute;
    display: none;
}


/*.vis-sidebarMenuWrapper ul li a{padding:10px;display:block;margin-right:20px;}*/

/*.vis-sidebarMenuWrapper ul li ul{background-color:#dfdddd;padding:4px 4px 4px 4px;margin:0px;}*/
/*.vis-sidebarMenuWrapper ul li ul li{margin-bottom:1px}*/

/*.vis-sidebarMenuWrapper ul li ul li ul{padding:3px 0px 1px 0px}*/
/*.vis-sidebarMenuWrapper ul li ul li ul li{background-color:#f9f9f9}
.vis-sidebarMenuWrapper ul li ul li ul li ul li{background-color:#ffffff;}
.vis-sidebarMenuWrapper ul li ul li ul li ul li a{margin-left:5px;}
.vis-sidebarMenuWrapper ul li ul li ul li ul li ul li{background-color:#f9f9f9}*/

/* App Side Main Menu Css Definations END */





.vis-css-menu
{
    position: relative;
    /*display: none;*/
    /*left: 69px;
    top: 0;*/
}

.vis-css-treeview
{
    /*font: normal 11px "Segoe UI", Arial, Sans-serif;
    font-size: 12px;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*margin-top: 7px;*/
    height: 100%;
    overflow-y: auto;
}
.vis-css-treeview ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    width: 100%;
}

.vis-css-treeview ul li {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .1);
    display: flex;
    align-items: center;
}

.vis-css-treeview ul li a {
    padding: 10px;
    display: flex;
    outline: none;
    Color: inherit;
    flex: 1;
    align-items: center;
    /* margin-right: 20px; */
}
.vis-menu-innerFolders {
    padding-left: 1rem;
    font-weight: 600;
    justify-content: space-between;
}

.vis-menuItem {
    display: flex;
    align-items: center;
}

.vis-css-treeview ul li ul {
    background-color: rgba(var(--v-c-primary), 0.07);
    padding: 4px 4px 4px 4px;
    margin: 0px;
}

.vis-css-treeview ul li ul li {
    margin-bottom: 2px;
}
.vis-css-treeview ul li ul li ul {
    padding: 4px 0px 4px 4px;
    margin: 0px;
}


    /*.vis-css-treeview li
    {
         padding: 0;
        margin: 0;
        list-style: none;
        padding-top: 4px;
        padding-bottom: 5px;
    }*/

    .vis-css-treeview input
    {
        position: absolute;
        opacity: 0;
    }

    .vis-css-treeview a
    {
        /*color: #F7F7F7;
        text-decoration: none;
        display: inline-block;*/
    }

        /*.vis-css-treeview > ul
    {
        margin: 10px 20px 0px 0px;
        width: auto;
    }*/

        .vis-css-treeview a:hover
        {
        }

    .vis-css-treeview input + label + ul
    {
        /*margin: 0 0 0 20px;*/
    }


        .vis-css-treeview input + label + ul li img
        {
            margin-right: 4px;
            /*height: 16px;*/
        }


    .vis-css-treeview input ~ ul
    {
        /*display: none;*/
    }

    .vis-css-treeview label,
    .vis-css-treeview label::before
    {
        cursor: pointer;
    }

html[dir="rtl"] .vis-css-treeview label::before
{
    margin: 0px 0px 0px 10px;
    float: right;
}

.vis-css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.vis-css-treeview input:checked:not(:disabled) ~ ul
{
    /*display: block;*/
}




.vis-css-treeview label,
.vis-css-treeview label::before
{
    /*display: inline-block;
        height: 16px;
        vertical-align: top;*/
}

.vis-css-treeview label {
    margin: 0;
    padding: 10px;
    display: block;
    font-weight: normal;
    color: inherit;
    position: relative;
    width: 100%;
}
.vis-css-treeview label:after {
    position: absolute;
    content: "\f054";
    right: 10px;
    font-family: 'FontAwesome';
}
.vis-menuitm-backbtn:after {
    display: none;
}
.vis-css-treeview label.vis-menuitm-backbtn {
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
}
.vis-css-treeview li.vis-subNavFirstElement ~ li,
.vis-css-treeview li.vis-subNavFirstElement ~ ul li {
    border: none;
}

    /*.vis-css-treeview label::before
        {
            content: "";
            width: 16px;
            margin: 0 4px 0 0;
        }*/

    .vis-css-treeview label i, .vis-css-treeview ul li a span {
        /*background: url("../Images/login/folder.png") no-repeat;*/
        /*background: url('../images/home/mainMenu.png') 0px 0px no-repeat;
        display: block;
        text-indent: -999999px;
        content: "";
        background-position: -59px -299px;
        width: 22px;
        height: 20px;
        float: left;
        margin: 0px 10px 0px 0px;*/
        font-size: 1.1rem;
        padding-right: 10px;
        /*color: rgba(var(--v-c-primary),1);*/
    }

.vis-css-treeview input:checked + label i.vis-folder-open-ico::before {
    /*background: url('../images/home/mainMenu.png') 0px 0px no-repeat;*/
    /*display: block;
        text-indent: -999999px;*/
    /*background-position: -57px -497px;*/
    /*
        
        height: 18px;
        float: left;
        margin: 2px 10px 0px 0px;*/
    /*background: url("../Images/login/folder-open.png") no-repeat;*/
    content: '\f115';
}

.vis-css-treeview input:checked
{
    margin: 0;
}



@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .vis-css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    /*@-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }

        to
        {
            padding: 0;
        }
    }*/
}



/*::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px #fff; 
    -webkit-border-radius: 10px;
    background:#fff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb  {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover  {
    background: #999999; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #999999; 
}

html,body { color:black;
   scrollbar-face-color:#05B7FF;
   scrollbar-arrow-color:#05B7FF;
   scrollbar-track-color:#CBD5D7;
   scrollbar-shadow-color:#05B7FF;
   scrollbar-highlight-color:#05B7FF;
   scrollbar-3dlight-color:#808080;
   scrollbar-darkshadow-Color:#202020;
 }*/




/*.inner-header
{
    min-height: 30px;
    height: 100%;
    width: 100%;
    padding: 0 5px 10px 5px;
}

.full-height-div
{
    height: 100%;
    
}
*/
.vis-main-container
{
    clear: both;
    height: 100%;
    background: url("../Images/logo.jpg") no-repeat;
    background-position: bottom right;
}

html[dir="rtl"] .vis-main-container
{
    background-position: bottom left;
}
.vis-sub-container
{
    height: 100%;
    overflow: auto;
}

.vis-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ADADAD;
    background-color: white;
    height: 23px;
}

.vis-taskbar-left
{
    /* float: left; */
    display: inline-block;
    width: 96%;
    overflow-y: auto;
    vertical-align: middle;
    max-height: 100%;
    max-width: 96%;
}

.vis-taskbar-right
{
    /*position: fixed;*/
    display: inline-block;
    width: 20px;
    height: 22px;
    bottom: 0;
    float: right;
    /*right: 0;*/
    background-image: url(../Images/base/logo.png);
    background-position-y: center;
    background-size: contain;
}

html[dir="rtl"] .vis-taskbar-right
{
    float: left;
}

.vis-taskbar-right-l
{
    float: right;
}

.vis-taskbar
{
    list-style: none;
    padding: 0px;
    margin: 0;
    vertical-align: bottom;
    font-family: 'Conv_HelveticaNeue-Medium';
    color: #757575;
    /*padding-top: 1px;*/
}

    .vis-taskbar li
    {
        text-align: center;
        cursor: pointer;
        display: inline-block;
        background-color: white;
        margin: 0;
        margin-right: 4px;
        margin-left: 3px;
        padding: 0px 7px 0px 7px;
        /* rounded corners */
        /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;*/
        /* gradients */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
        background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);*/
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
        background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);*/
    }

        .vis-taskbar li a
        {
            color: #757575;
            font-size: 14px;
            /*color: white;*/
            word-wrap: break-word;
            text-decoration: none;
        }

        .vis-taskbar li img
        {
            margin: 0 auto;
            padding: 0;
            width: 16px;
            height: 14px;
        }



.vis-wakeup-main
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99997;
    background-color: lightgray;
    opacity: .5;
}
.vis-wakeup-content {
    position: absolute;
    left: auto;
    top: 22%;
    width: 250px;
    opacity: 1;
    z-index: 99999;
    background-color: white;
    /* transform: translateY(-50%); */
}
.vis-wakeup-outerwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.vis-wakeup-headsec {
    width: 100%;
    height: 130px;
    background: rgba(var(--v-c-primary), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/plug-img.png);
    background-position: center;
}
.vis-wakeup-datawrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: .8rem;
}
.vis-wakeup-datawrp strong {
    padding-bottom: 15px;
    font-weight: 600;
}
.vis-wakeup-text {
    padding-bottom: 20px;
}

.vis-wakeup-datawrp button {
    background: rgba(var(--v-c-primary), 1);
    border: none;
    color: rgba(var(--v-c-on-primary), 1);
    border-radius: .25rem;
    padding: 6px 22px;
    font-size: .875rem;
}

.vis-dialog {
    z-index: 99999;
    display: block;
    position: absolute;
    background: rgba(var(--v-c-secondary), 1);
    border-radius: 10px;
    padding: 10px;
}

    .vis-dialog::before
    {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
    }


.vis-auth-dialog {
    top: 50px;
    right: 20px;
    width: 310px;
    padding-top: 20px;
    display: none;
    color: rgba(var(--v-c-on-secondary), 1);
    box-shadow: 0px 2px 3px 1px rgba(var(--v-c-on-secondary), 0.18);
    border: 1px solid rgba(var(--v-c-primary), .15);
}

html[dir="rtl"] .vis-auth-dialog
{
    right: auto;
    left:2px;
}


.vis-auth-dialog::before {
    border: 10px solid transparent;
    border-bottom-color: rgba(var(--v-c-secondary), 1);
    bottom: 100%;
    left: 70%;
}

.vis-auth-dialog label {
    font-weight: normal;
    margin: 0;
}

.vis-auth-dialog select {
    background-color: rgba(var(--v-c-primary), .07);
    border: 1px solid rgba(var(--v-c-primary), .07);
    border-radius: .25rem;
    width: 100%;
    height: 30px;
    color: rgba(var(--v-c-on-secondary), 1);
    margin: 5px 0px 5px 0px;
    background-image: linear-gradient(45deg, transparent 50%, rgba(var(--v-c-primary),1) 50%), linear-gradient(135deg, rgba(var(--v-c-primary),1) 50%, transparent 50%);
    background-position: calc(100% - 15px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 4px, 5px 4px, 1px 1.5em;
    background-repeat: no-repeat;
}

.vis-auth-dialog input[type=submit], .vis-filter-dialog input[type="button"] {
    background-color: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
    border: 1px solid rgba(var(--v-c-primary), 1);
}

.vis-auth-dialog input[disabled] {
    text-decoration: line-through;
}
.vis-filter-dialog {
    top: 85px;
    left: auto;
    padding: 10px;
    display: none;
    color: rgba(var(--v-c-on-secondary), 1);
    box-shadow: 0px 2px 3px 1px rgba(var(--v-c-on-secondary), 0.18);
    border: 1px solid rgba(var(--v-c-primary), .15);
    min-width: 150px;
    max-width: 150px;
    /*right: 320px;*/
}
.vis-filter-dialog label {
    font-weight: normal;
    padding-left: 5px;
}
.vis-filter-dialog::before {
    border: 10px solid transparent;
    border-bottom-color: rgba(var(--v-c-secondary), 1);
    bottom: 100%;
    right: 20px;
}


.vis-css-treeview ul li input[type="checkbox"] {
    position: absolute;
}
.vis-navSearchWrap .input-group-text i {
    color: rgba(var(--v-c-on-primary), 1);
}
.vis-navList div span {
    display: flex;
}
.vis-navHeadRight {
    /*width: 30%;*/
    justify-content: flex-end;
    flex:1;
}

.vis-navSearchWrap input {
    min-width: 120px;
}