.vis-pu-outerwrap{
    width: 100%;
    height: 100%;
}
.vis-pu-innerwrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.vis-old-attachments {
    flex: 1;
    border-top: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-dropdownMenu {
    left: -32px;
    min-width: 140px;
}
.vis-attach-main-wrap{ width:100%;}
.vis-header-wrap h3 {
    margin: 0;
    font-size: 22px;
    font-family: helvetica;
    font-weight: 400;
    color: white;
}
.vis-attach-tittle {
    width: 96%;
    background: #3892DA;
    padding: 10px 0px 10px 0px;
    float: left;
    padding-left: 10px;
}
.vis-btn-close {
    width: 4%;
    background: url('../Images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 19px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    margin: 0;
}
.vis-clear-both{
	clear: both;
}
.vis-content-wrap {
    border-left: 2px solid #3892DA;
    border-right: 2px solid #3892DA;
    border-bottom: 2px solid #3892DA;
    padding-bottom: 20px;
    padding-top: 10px;
	float:left;
	width:100%;
}
.vis-attach-top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.vis-attach-heading > h4{
	margin: 0;
    font-size: 14px;
    font-family: helvetica;
	font-weight:bold;
	color:#499EDE;
	margin-top:6px;
}
.vis-plus-ico{
	background:url(../Images/plus-ico.png);
	background-repeat:no-repeat;
	width:10px;
	height:10px;
	float:left;
	display:block;
	margin-top:3px;
	margin-right:5px;	
}
.vis-caret{ margin-left:5px;}
.vis-attach-file-location select {
    border-radius: .25rem;
    height: 31px;
    width: 25%;
    padding: 0 0 0 10px;
}
.vis-attach-top-btns > a, .vis-btn-arrange {
    /*background:#0197d4;*/
    /*color:#fff;*/
    /*padding:6px 20px;*/
    /*font-size:12px;
	float:left;
	margin-left:10px;
	border-radius:0;
    height:30px;
    width:30px;*/
    /*margin-top: -17px;*/
    /*margin-right: 0px;*/
    background: transparent;
    padding: 0;
}
.vis-attach-top-btns > a i {
    transform: rotate(45deg);
    font-size: 1.3rem;
    color: rgba(var(--v-c-on-secondary), .6);
}
.vis-btn-arrange{ padding:5px 20px;}
.vis-attach-content-wrap {
    width: 100%;
    margin-top: 5px;
    /* float: left; */
    /* border-bottom: 2px solid #eee; */
    /*padding-bottom: 20px;*/
    /* max-height: 200px; */
    overflow-y: overlay;
    /*display: flex;*/
    flex-wrap: wrap;
    min-height: 80px;
    /*max-height: 153px;*/
}
.vis-attach-file-wrap {
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    float: left;
    /*margin:20px 10px;*/
    margin: 6px;
    width: 192px;
    padding: 10px;
}
.vis-attach-file-wrapla {
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    float: left;
    margin: 10px 12px 5px 0px;
    /* margin: 6px; */
    width: 192px;
    position: relative;
    padding: 10px 10px 0;
}
.vis-attach-file-top{
	/*width:100%;
	float:left;
	margin-top:-10px;*/	
}
.vis-file-close-ico {
    /*background: url(../Images/close-file.png);
    background-repeat: no-repeat;*/
    width: 20px;
    height: 20px;
    /* float: right; */
    position: absolute;
    /* z-index: 999; */
    right: -8px;
    top: -8px;
    background: rgba(var(--v-c-on-secondary), 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vis-attach-file-top a i {
    color: rgba(var(--v-c-secondary), 1);
    font-size: .75rem;
}
.vis-attach-file-content {
    /*padding: 0px 0px 0px 10px;
	float:left;
	width: 100%;*/
    /*position:relative;*/
    display: flex;
    margin-bottom: 7px;
}
.vis-pu-uploadsbtnswrap {
    width: 100%;
    /*overflow: auto;*/
    margin-top: 5px;
    /*border-bottom: 2px solid rgba(var(--v-c-on-secondary), .1);*/
    display: none;
    float: left;
    padding-bottom: 10px;
}
.vis-attach-ico {
    /*width: 27px;
    height: 25px;
    float: left;*/
    cursor: pointer;
    background: rgba(var(--v-c-primary), .15);
    color: rgba(var(--v-c-primary), 1) !important;
    padding: 5px 10px;
    margin-left: 10px;
}
.vis-download-ico {
    background: url('../Images/download-ico.png') no-repeat;
}
.vis-browse-ico {
    /*background: url('../Images/browse.png') no-repeat;*/
    background: url('../Images/attachment.png') no-repeat;  
}
.vis-cancelall-ico {
    background: url('../Images/cancelfiles.png') no-repeat;
}
.vis-uploadall-ico {
    background: url('../Images/upload.png') no-repeat;
}

.vis-delete-ico {
    background: url('../Images/delete-ico.png') no-repeat;
	margin-left:7px;
}
/*.vis-attach-file-icon, .vis-attach-fileBottom-Text, .vis-attach-BottomLeft{ float:left;position:relative;}*/
.vis-attach-file-text {
    /*width:75%;
      float:right; 
      margin-right:10px;*/
    /*position:relative;*/
    flex: 1;
    padding-left: 10px;
}
.vis-attach-fileBottom-Text{ width:100%; margin-bottom:10px; float:left;}
.vis-attach-file-text > p, vis-attach-file-text > a{
	color:#666;
	font-size:13px;
	font-weight:500;
	margin:0;	
}
.vis-attach-BottomLeft > p{
	color:#999;
	font-size:12px;
	margin-top:5px;	
}
.vis-attach-BottomRight{
	float:right;
	/*margin-right:7px;*/	
}
.vis-attach-download{
	width:9px;
	height:17px;
	float:left;
	background:url('../Images/download.png');	
}
.vis-attach-delete{
	width:15px;
	height:17px;
	float:left;
	background:url('../Images/delete.png');	
	margin-left:15px;
}
/*.vis-attach-file-icon{ margin-right:5px; float:left;}*/

.vis-attach-pagination{ padding-right:10px; width:100%; float:left;}
.vis-attach-footer {
    padding: 10px 0px 15px;
}
.vis-attach-file-location {
    flex: 1;
    display: flex;
    align-items: center;
}
.vis-attach-file-location > label{ 
    font-size:13px;
    margin-bottom: 0;
    padding-right: 10px;
    font-weight: normal;
}
/*.vis-attach-file-location > select{ margin-left:10px;}*/
.vis-attach-btns > a, .vis-attach-btns > a:not([href]) {
    background: rgba(var(--v-c-primary), 1);
    color: rgb(var(--v-c-on-primary), 1);
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    border-radius: .25rem;
    margin-left: 10px;
    cursor: pointer;
}
.vis-attach-btns > a:hover, .vis-btn-arrange:hover, .vis-attach-btns > a:not([href]), .vis-attach-btns > a:not([href]):hover{
	color: rgb(var(--v-c-on-primary), 1);	
}
.vis-attach-shift-arrow{
	width:8px;
	height:8px;
	float:left;
	padding: 7px 4px;
	margin-top: 6px;
	margin-left: 3px;	
}
.vis-left-shift{
	background:url(../Images/left-shift-arrow.png);
	background-repeat:no-repeat;	
}
.vis-right-shift{
	background:url(../Images/right-shift-arrow.png);
	background-repeat:no-repeat;
}

.vis-Att-ui-effects-transfer
{
    border: 2px dotted gray;
    z-index: 100;
}


/* Bar which is placed behind the progress */
.vis-ui-progress-bar {
    position: relative;
    height: 35px;
    padding-right: 2px;
    background-color: rgba(var(--v-c-secondary), 1);
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(var(--v-c-on-secondary), .3)), color-stop(1, rgba(var(--v-c-secondary), 1)));
    background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(var(--v-c-on-secondary), .1), 0px 1px 0px 0px #FFF;
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
    box-shadow: inset 0px 1px 2px 0px rgba(var(--v-c-on-secondary), .1), 0px 1px 0px 0px #FFF;
}

/* Progress part of the progress bar */
.vis-ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -webkit-background-size: 44px 44px;
    background-color: rgba(var(--v-c-primary), 1);
    background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(255,255,255,0.17)), color-stop(0.25, rgba(255,255,255,0.17)), color-stop(0.26, rgba(255,255,255,0)), color-stop(0.50, rgba(255,255,255,0)), color-stop(0.51, rgba(255,255,255,0.17)), color-stop(0.75, rgba(255,255,255,0.17)), color-stop(0.76, rgba(255,255,255,0)), color-stop(1.00, rgba(255,255,255,0)) ), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(var(--v-c-primary), 1)), color-stop(1, rgba(var(--v-c-primary), 1)));
    -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    -webkit-animation: animate-stripes 2s linear infinite;
    color: rgba(var(--v-c-on-primary), 1);
}

    .vis-ui-progress .vis-ui-label {
        line-height: 35px;
    }

/* Progress indicator text */
.vis-ui-progress span.ui-label {
  font-size: 1.2em;
  position: absolute;
  right: 0;
  line-height: 33px;
  padding-right: 12px;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
}



/*Tree Maintenance*/
.vis-tm-topContainerDiv {
    padding:15px;
}
.vis-tm-lblSelectTree {
    margin-right:15px;
}
.vis-tm-cmbSelectTree {
    width:150px;
}
.vis-tm-leftMainContainer {
    height:500px;width:25%;float:left;
}
.vis-tm-rightMainContainer {
    /*height:740px;width:40%;float:right;overflow: auto;*/
    height:750px;width:50%;float:right;overflow: auto;
}
.vis-tm-ulTopContainer {
   height: 737px; 
}
.vis-tm-leftTreeDiv {
   height:740px;width:100%;
}
.vis-tm-leftBottomDiv {
   height:100px;width:15%;
}
.vis-tm-menuselectedcolor {
    background-color: rgba(var(--v-c-primary), .2);
}
.vis-tm-ulInfoPathInTree {
   height:50px;width:100%;background-color:pink;
}
.vis-tm-rightULBackDiv {
   height:700px;width:100%;overflow:auto;
}

.vis-tm-opacity {
   opacity:.6;
}



.vis-tm-chkboxmenudata {
   opacity:.6;
}

.vis-tm-summorNonSum {
   opacity:.6;
}


.vis-tm-upperdivchkandimg {
 /*float:left;*/  
}
.vis-tm-upperdivli {
   float:left;
   /*width: calc(100% - 53px);
   width: -moz-calc(100% - 53px);
   width: -webkit-calc(100% - 53px);*/

    width: calc(100% - 60px);
   width: -moz-calc(100% - 60px);
   width: -webkit-calc(100% - 60px);

}


/*-------------*/

.VIS-TM-content-wrap{
	width: 100%;
	float: left;	
	position: absolute;
	height: calc(100% - 44px);
    height: -moz-calc(100% - 44px);
    height: -webkit-calc(100% - 44px);
    padding: 12px 0;
}
.VIS-TM-left-tree, .VIS-TM-middle, .VIS-TM-right-slide{
    /*width: 33.3333%;*/
    width: 50%;
    float: left;
    height: 100%;
    padding: 0 15px;
    position: relative;
}
.VIS-TM-data-head, .VIS-TM-dataWrap, .VIS-TM-treeCombo, .VIS-TM-tree-wrap, .VIS-TM-treeCombo select, .VIS-TM-data{    
    float: left;
    width: 100%;
}
.VIS-TM-right-slide .VIS-TM-data-head {
    padding-bottom:4px;
}
.VIS-TM-left-tree {
    border-right: 1px solid rgba(var(--v-c-on-secondary), .25)
}


.VIS-TM-data-head > h4 {
    /*float: left;*/
    color: rgba(var(--v-c-primary), 1);
    margin: 0;
    font-size: 16px;
    flex: 1;
}
.VIS-TM-data-head .VIS-TM-data{
    float: right;
    margin-left: 10px;
    width: auto;
    padding: 0;
}
.VIS-TM-data{
     padding: 8px 0;
     list-style: none;
     display: flex;
     align-items: center;
}
.vis-app-aform-root .VIS-TM-data-head input[type="checkbox"], 
.vis-app-aform-root .VIS-TM-data-headMID input[type="checkbox"] {
    margin-top: 0;
}
.VIS-TM-data input {
    float: left;
    margin-right: 7px;
    /*margin-top: 2px;*/
}

.VIS-TM-data label {
    float: left;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}
.VIS-TM-treeCombo, .VIS-TM-Righttree-search {
    padding: 10px 0;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .3);
    display: flex;
}
.VIS-TM-treeCombo select, .VIS-TM-Righttree-search > input[type=search], .VIS-TM-tree-search > input[type=search]  {
    height: 29px;
    border: 1px solid rgba(var(--v-c-on-secondary), .25);
    /* width: calc(100% - 98px); */
    /*width: -moz-calc(100% - 98px);*/
    /* width: -webkit-calc(100% - 98px); */
    border-radius: 0;
    flex: 1;
    min-width: 50px;
}
.VIS-TM-data-head {
    border-bottom: 1px solid rgba(var(--v-c-primary), 1);
    padding-bottom: 7px;
    display: flex;
    align-items: center;
}

.VIS-TM-data-headMID {
    /*padding-bottom: 7px;*/
    /*color: #1aa0ed;*/
    margin-top: 10px;
}
.VIS-TM-data-headMID > h4{
    /*float: left; */
    color: rgba(var(--v-c-primary), 1);
    margin: 0;
    font-size: 16px;
    flex: 1;
}
.VIS-Tm-glyphiconglyphicon-link {
    margin-left: 10px;
    position: relative;
    font-family: 'vis-fonts' !important;
    cursor: pointer;
}
.VIS-Tm-deletetreenode {
    background: url('../Images/link-del.png') no-repeat;
    height: 19px;
    width: 16px;    
}
.VIS-TM-tree-wrap {
    padding-top: 8px;
    /*height: calc(100% - 118px);
    height: -moz-calc(100% - 118px);
    height: -webkit-calc(100% - 118px);*/
    height: calc(100% - 205px);
    height: -moz-calc(100% - 205px);
    height: -webkit-calc(100% - 205px);
    /*height:710px;*/
    /*overflow: auto;*/
    z-index: 2;
    position: relative;
    border-bottom: 1px solid rgba(var(--v-c-primary), 1);
}
ul.VIS-TM-root-node { padding: 0;}
ul.VIS-TM-root-node, ul.VIS-TM-root-node ul{ list-style: none;}
.VIS-TM-sub-node > li:last-child {
  padding-bottom: 0px;
}
ul.VIS-TM-root-node li{
    padding-bottom: 8px;
    padding-top: 8px;
}
.VIS-TM-folder-ico{
    width: 20px;
    height: 14px;
    float: left;
    background-image: url(../img/folder.png);
    background-position: -25px 0px;
    margin-right: 7px;
}
.VIS-TM-open{
    background-position: -78px 0px;
}
li.VIS-TM-active > span{
    background-position: -52px 0px;
}
ul.VIS-TM-root-node li.VIS-TM-active> a {color: rgba(var(--v-c-primary), 1);}
ul.VIS-TM-root-node li a{
    font-size: 14px;
    color: #535353;
}
ul.VIS-TM-root-node li a:hover{ text-decoration: none;}
.VIS-TM-tree-search {
    position: relative;
    bottom: 0;
    width: 100%;
    border: 1px solid rgba(var(--v-c-on-secondary), .25);
    display: flex;
}
.VIS-TM-tree-search > input[type=search] {
    border: none;
    border-right: 1px solid rgba(var(--v-c-on-secondary), .25);
    /*height: 29px;*/
    padding-left: 5px;
    /*width: calc(100% - 29px);
    width: -moz-calc(100% - 29px);
    width: -webkit-calc(100% - 29px);
    float: left;
    outline: none;
    border-radius: 0px;*/
}
.VIS-TM-tree-search .VIS-Tm-btnicon {
    border: none;
    border-left: 1px solid rgba(var(--v-c-on-secondary), .25);
}
.VIS-TM-ondragdrop{
    /*background-color:#FFCDCD;*/

    background-color:#FFC0CB;

    
}
.VIS-TM-ondragdropTopDiv{
    background-color:white;
}

.vis-tm-treeCmbDisable 
{
        height: 31px;
    width: 100%;
    display: none;
    position: absolute;
    left: 0;    
    
    z-index: 2;
    

}


.vis-tm-bottomdivdisable 
{
    position:relative;
}
.VIS-TM-Righttree-search {
    margin-bottom: 10px;
    position: relative;
}
.VIS-TM-Righttree-search > input[type=search] {
    /*border: 1px solid #ccc;
    height: 29px;*/
    padding-left: 5px;
    /*width: calc(100% - 29px);
    width: -moz-calc(100% - 29px);
    width: -webkit-calc(100% - 29px);
    float: left;
    outline: none;
    border-radius: 0px;*/
}


.VIS-tm-expandtree {
    /*width: 29px;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background: #eee url(../Images/tm-minus.png) center;  
    outline:none;*/
}

.VIS-tm-collapsetree {
    /*width: 29px;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background: #eee url(../Images/tm-expand.png) center;
    outline:none;*/

}

.VIS-tm-collapsetree:focus, .VIS-tm-expandtree:focus {
    /*border: 1px solid #ccc;*/
}




.ass-btns {
    width: 29px;
    height: 29px;
    border: none !important;
    border-radius: 0px;
    /*background: url(../Images/searchTM.png);*/    
    /*url('../Images/close.png');*/
}
.VIS-TM-middle{
    border-left: 1px solid #abbcc3;    
    border-right: 1px solid #abbcc3;
}
.VIS-TM-dataWrap{
    height: calc(100% - 25px);
    height: -moz-calc(100% - 25px);
    height: -webkit-calc(100% - 25px);
    /*height:772px;*/
    overflow: auto;
    /*padding-top: 5px;*/
}
.VIS-TM-path {
    background: rgba(var(--v-c-secondary), 1);
    padding: 10px 15px;
    /* max-height: 50px; */
    position: absolute;
    bottom: -7px;
    margin-left: -15px;
    width: 100%;
    height: 60px;
    /* overflow: auto; */
    display: flex;
    align-items: center;
}
.VIS-TM-path i {
    height: 100%;
    overflow: auto;
}
.VIS-TM-treeList{

     height: calc(100% - 122px);
    height: -moz-calc(100% - 122px);
    height: -webkit-calc(100% - 122px);
    /*height: calc(100% - 107px);
    height: -moz-calc(100% - 107px);
    height: -webkit-calc(100% - 107px);*/
    /*height:720px;*/
    overflow: auto;
}
.VIS-TM-treeList ul{
    list-style: none;
    padding: 0;
}
.VIS-TM-treeList ul li{
    /*0px 0 5px 0px*/
    
    /*background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    background-position: 0 11px;
    float:left;
    width:100%;*/
        display: flex;
}
.VIS-TM-treeList ul > li {
        padding: 5px 0px;
}
.VIS-TM-highlight {
       background-color:yellow;
       color:black;
}

.VIS-TM-leftMianDataDiv {
 height:calc(100% - 112px);
 height:-moz-calc(100%-112px);
 height:-webkit-calc(100%- 112px);
 position:relative;
 z-index:2;
 float:left;
 width:100%;
}

.VIS-TM-resizediv {
      max-height:calc(100% - 7px);
      max-height:-moz-calc(100%-7px);
      max-height:-webkit-calc(100%- 7px);


      /*min-height:calc(100% - 7px);
      min-height:-moz-calc(100%-7px);
      min-height:-webkit-calc(100%- 7px);*/
}


.VIS-TM-recordeNotFound {
        /*margin-top: 80px;*/
         float: left; width: 100%; text-align: center;display:none;
}


.VIS-Tm-search-icontree {
    /*background: #EEEEEE;
    border: 1px solid #ccc;
    padding: 7px;
    float: right;
    color: #828181;
    width: 29px;
    height: 29px;
    cursor:pointer;
    top:0px;*/
}


.VIS-Tm-btnicon {
    background: rgba(var(--v-c-secondary), 1);
    border: 1px solid rgba(var(--v-c-on-secondary), .25);
    /* padding: 5px; */
    /* float: left; */
    color: rgba(var(--v-c-on-secondary), 1);
    width: 30px;
    height: 30px;
    cursor: pointer;
     top: 0px; 
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.VIS-Tm-btnicon:last-child {
    margin-right: 0;
}

.VIS-TM-mouseenterleave {        
         cursor:not-allowed;
}

.VIS-Tm-unlinkforbottmo {
    /* background-image: url(../Images/link-del.png); */
    /* vertical-align: middle; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    display: inline-block;
    width: 20px;
    height: 26px;
    /* float: right; */
    cursor: pointer;
    /* opacity: .6; */
    position: relative;
    display: inline-flex;
    align-items: center;
}
.VIS-Tm-unlinkforbottmo:after,
.VIS-Tm-glyphiconglyphicon-link:after{
    content: "\e94d";
    position: absolute;
    bottom: 5px;
    right: 2px;
    font-size: .45rem;
    color: red;
    font-weight: bolder;
}
.VIS-Tm-glyphiconglyphicon-link:before {
    position: relative;
    content: "\e946";
}
.VIS-TM-treeList ul li .VIS-Tm-glyphiconglyphicon-link:after {
    bottom: -2px;
    right: -3px;
}

.vis-tm-unlinkimgss
{
    background: url('../Images/link-del.png') no-repeat;
    width: 100%;
    /*height: auto;*/
    float: left;
    min-width: 16px;
    min-height: 19px;

}


.vis-tm-delete {
   opacity:.6;
}


.vis-tm-sorttableLi 
{
    height: 1.5em; line-height: 1.2em; 
}

.vis-tm-sorttableLilist 
{
   background: #cedc98;
         border: 1px solid #DDDDDD;
         color: #333333;
}

.vis-tm-onhoverselected 
{
    border: 1px solid rgba(var(--v-c-primary), 1);

    /*color: black;
    background-color:rgb(182, 225, 151);*/
}

.VIS-TM-tree-search > input[type="search"]::-webkit-search-cancel-button, .VIS-TM-Righttree-search > input[type="search"]::-webkit-search-cancel-button {
  /*position: relative;
  right: 0px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  /*background: url('../Images/croswithText.png') no-repeat center;
  cursor: pointer;*/
}

.vis-tm-topTreeDiv 
{
    width: 100%; overflow: auto;
}

 /*::-webkit-scrollbar
{
    cursor:pointer;
}*/


.vis-tm-nodeItemDeleteliketopdiv 
{
    width: 28px;text-align: center;z-index:-1 ;float: right;  position: absolute; right: 5px; display: none; background-color: rgb(255, 192, 203);
}
.vis-tm-nodeItemDeletespans
{
   margin: auto; position: relative; top: 50%; display: block;
}
.vis-tm-childnodeinidailog {
    float: right;
    font-size: 13px;
    margin-right: 5px;
    color: rgba(var(--v-c-on-primary), 1);
    cursor: pointer;
    background: rgba(var(--v-c-on-secondary), .9);
    padding: 1px 11px;
    letter-spacing: 1px;
    line-height: 22px;
    /* font-family: Helvetica; */
}
.vis-tmlinkdel-icon 
{
        width: 16px;
    height: 16px;
    background: url('../Images/croswithText.png') no-repeat center;
    float: left;
    position: absolute;
    right: 145px;
    top: 6px;
    display:none;
    cursor:pointer;
}
.VIS-TM-Righttree-search > span.vis-tmlinkdel-icon {
    right: 37px;
    top: 17px;
}

.vis-tm-selectedkendoNode {
    /*color:#242830;*/
    /*color:#ff0000;*/
}


.vis-unlinkallNodes {
        float: right;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 10px;
    cursor:pointer;
}


.vis-unlinkallNodes b {
    float: left;
    width: 100%;
    border: 2px solid rgba(var(--v-c-on-secondary), .8);
    margin-bottom: 3px;
}


.vis-apanel-tm-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 9px;
}

.vis-apanel-tm-ul li{
    border-bottom: 1px solid #CCDADE;
    margin-bottom: 9px;
    margin-right: 4px;
    color: #535353;
    font-size: 12px;
    font-family: helvetica;
    cursor: pointer;
    padding: 1px 0px 1px 0px;
}

.vis-tm-liw2overlay {
    background-color:white;border:white;border-bottom:2px #EBEBEB solid;
}

.vis-tm-r-list-w,
.VIS-TM-data-headMID,
.vis-tm-upperdivchkandimg {
    display: flex;
    align-items: center;
}
.vis-tm-b-s-ryt {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.vis-tm-b-s-ryt input[type="checkbox"] {
    margin: 1px 5px 0 0 !important;
}
.VIS-TM-left-tree input:focus, .VIS-TM-left-tree select:focus,
.VIS-TM-right-slide input:focus, .VIS-TM-right-slide select:focus {
    outline: none;
}
.treechild {
    /*color: rgba(var(--v-c-on-secondary), 1);*/
}
.imgdivTree {
    float: left;
    font-size: 1.2rem;
    padding: 6px 0 6px 8px;
}
.textdivTree {
    padding: 6px 8px 6px 10px;
    float: left;
}
.textdivTree p {
    margin: 0;
}
.vis-tm-sortable > li, .VIS-TM-treeList ul > li {
    display: flex;
    align-items: center;
    color: rgba(var(--v-c-on-secondary), 1);
    cursor: default;
    padding: 5px 0;
}
.vis-tm-sortable li i,
.scrolldrag li .vis-tm-upperdivchkandimg i {
    font-size: 1.1rem;
    padding-right: 10px;
}
input[type="checkbox"].VIS-tm-checkbox,
input[type="checkbox"].vis-tm-chkbox {
    margin: 0 10px 0 0 !important;
}
.VIS-tm-MLi {
    display: inline-flex;
    padding-left: 10px;
}
.VIS-tm-topMLi {
    padding: 5px 0;
    display: flex;
    align-items: center;
}
/*.VIS-TM-textdivTreedata {
    width: 80%;
}
    .VIS-TM-textdivTreedata p {
        width: 100%;
    }*/
/*.span.k-in > span.highlight
 {
    background:yellow;
}*/
/*---------------*/
/*contactinfo form homepage*/
.vis-view_left_part {
    float: left;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px
}
.vis-view_left_part .vis-view_profile_name {
    color: rgba(var(--v-c-primary), 1);
    font-size: 16px;
    margin: 0px;
    font-weight: 600;
}
.vis-view_left_part .vis-view_profile_possession {
    color: rgba(var(--v-c-on-secondary), .8);
    font-size: 12px;
    font-style: italic;
    margin: 3px 0px;
}
.vis-view_left_part .vis-view_team p:first-child {
    color: rgba(var(--v-c-primary), 1);
}
.vis-view_left_part .vis-view_team p {
    font-size: 12px;
    color: rgba(var(--v-c-on-secondary), .8);
    margin: 4px 0px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.vis-profile_big_img {
    width: 320px;
    background: rgba(var(--v-c-secondary), 1);
    height: 240px;
    position: relative;
}
.vis-profile_big_img > div > img {
        width:auto;
        height:auto;
        overflow:hidden;
    }
.vis-bigimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.vis-bigimg i {
    font-size: 3rem;
    color: rgba(var(--v-c-primary), 1);
}
.vis-image-upload {
    float: right;
    position: absolute;
    z-index: 999;
    width: 100%;
}
.vis-fileupload-label {
    cursor: pointer;
    float: right;
    padding: 5px 5px 0;
}
.vis-tableRightContent {
    width: 100%;
    margin-top: 20px;
    word-break: break-all;
}
.vis-tdactionlist {
    width: 50%;
}
.vis-tableaction {
    font-size: 12px;
    font-weight: 400;
    float: left;
    display: flex;
}
.vis-view_right_part .vis-action .vis-left_icon {
    float: left;
}
.vis-tdactionlist p {
    float: left;
    margin-left: 5px;
}
.vis-profile_big_img_mobile {
    display: none;
}
.vis-view_team a i {
    font-size: 1rem;
}
.vis-view_team span {
    padding-right: 5px;
}



.vis-progress-gridbar {
    width: 100%;
    height: 1.2em;
    background-color: rgba(var(--v-c-on-secondary),0.1) !important;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    padding:0 !important;
}
.vis-progress-percent-bar {
    height: 1.2em;
    background-color: rgba(var(--v-c-primary), 1);
    border-radius: 10px;
    position: absolute;
    
}

.vis-progress-gridoutput {
    height: 1.2em;
    width: 100%;
    position: absolute;
   
    padding-left: 5px;
    padding-top: 2px;
}

.vis-auto-addItem {
    display: inline-block;
    padding: 5px 10px !important;
    margin: 5px !important;
    border-radius: 0.25rem !important;
}
    .vis-auto-addItem:hover {
        background-color: rgba(var(--v-c-primary), 1) !important;
        color: #fff !important;
    }
center {
    text-align: center !important;
}


}
/*contactinfo form homepage END*/
@media (max-width: 1024px) {
    .VIS-TM-textdivTreedata {
        width: 65%;
    }
    .VIS-TM-treeList ul li {
        width: 95%;
    }
}
@media (max-width: 999px) {
    .VIS-TM-textdivTreedata {
        width: 54%;
    }
}
@media (max-width: 800px) {
    .VIS-TM-textdivTreedata {
        width: 52%;
    }
}


@media print {
    .vis-attach-main-wrap {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

