
/*rtl css Start here*/
html[dir="rtl"] * {
    text-align: right;
}

/*css form home*/
html[dir="rtl"] .vis-feedIcons.vis-icon-feed {
    margin-right: 0;
    margin-left: 5px;
}

html[dir="rtl"] #favLinks > [class^="col"] {
    float: right;
}
html[dir="rtl"] #fllupsScreen h2 span, html[dir="rtl"] #favLinks h2 span {
    padding-right: 0;
    padding-left: 10px;
}
html[dir="rtl"] .vis-feedTitleBar {
    padding-left: 0;
    padding-right: 10px;
}

html[dir="rtl"] #favLinks .row.userLinks_activeTab {
    border-left: 1px solid rgba(var(--v-c-primary), 1);
    border-right: none;
}

html[dir="rtl"] #userFavs h2 {
    margin-right: 10px;
}

html[dir="rtl"] .vis-css-treeview label i, html[dir="rtl"] .vis-css-treeview ul li a span {
    padding-right: 0;
    padding-left: 10px;
}

html[dir="rtl"] #vis_mainMenu .vis-menuTitle p {
    padding-right: 10px;
}

html[dir="rtl"] .vis-app-hdr-r-user a {
    padding-right: 0;
    padding-left: 5px;
}

html[dir="rtl"] .vis-ad-w-p-tb-search span:first-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*css for window*/
html[dir="rtl"] .vis-ad-w-p-tb {
    padding-right: 0;
    padding-left: 8px;
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-body, html[dir="rtl"] .vis-ad-w-p-ap-tp-o-b-head {
    border-top-left-radius: 0;
    border-top-right-radius: .60rem
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-body {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.10);
}
html[dir="rtl"] .vis-ad-w-p-actionpanel-r li.vis-ad-w-p-ap-tp-o-li-selected:before {
    border-left: none;
    border-right: 5px solid rgba(var(--v-c-primary),1);
    right: 0;
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-icorbar li {
    border-right: 3px solid transparent;
    border-left: none;
}

html[dir="rtl"] .vis-ad-w-p-actionpanel-r li.vis-ad-w-p-ap-tp-o-li-selected {
    border-right: 3px solid rgba(var(--v-c-primary),1);
}

html[dir="rtl"] .vis-ev-col-msign {
    left: 10px;
    right: auto;
}
html[dir="rtl"] .vis-input-wrap select.vis-ev-col-mandatory ~ .vis-ev-col-msign {
    left: 30px;
    right: auto;
}
html[dir="rtl"] .vis-ad-w-p-tabs-t {
    padding-right: 10px;
}
html[dir="rtl"] .vis-ad-w-p-tb-lc li span {
    padding-left: 0;
    padding-right: 5px;
}

html[dir="rtl"] .vis-input-wrap input:focus ~ label,
html[dir="rtl"] .vis-input-wrap input:not(:placeholder-shown) ~ label,
html[dir="rtl"] .vis-input-wrap textarea:not(:placeholder-shown) ~ label,
html[dir="rtl"] .vis-input-wrap select:focus ~ label,
html[dir="rtl"] .vis-input-wrap textarea:focus ~ label,
html[dir="rtl"] .vis-input-wrap select ~ label {
    right: 5px;
    left: auto;
}

html[dir="rtl"] .vis-input-wrap label {
    right: 30px;
    left: auto;
}
html[dir="rtl"] .vis-ev-col input:not([type=button]), html[dir="rtl"] .vis-ev-col textarea, html[dir="rtl"] .vis-control-wrap > button {
    padding: 5px 30px 5px 10px;
}
html[dir="rtl"] label.vis-ec-col-lblchkbox{
    right: 0;
}
html[dir="rtl"] .vis-ev-ctrlinfowrap {
    right: 10px;
    left: auto;
}
html[dir="rtl"] select {
    background-position-x: 10px,15px;
    padding-right: 10px;
    padding-left: 25px;
}
html[dir="rtl"] .vis-ev-col-fieldgroup :last-child {
    padding-left: 10px;
    padding-right: 0;
}
html[dir="rtl"] .vis-ad-w-p-tb-rc-a-list li span{
    padding-left: 0;
    padding-right: 5px;
}
html[dir="rtl"] .vis-input-wrap select.vis-ev-col-mandatory {
    /*background-position: calc(10% - 25px), calc(10% - 20px);*/
}

html[dir="rtl"] .vis-statusbar-combo {
    background-position: 4px, 8px
}
html[dir="rtl"] .vis-app-hdr {
    padding-right: 0;
    padding-left: 5px;
}

html[dir="rtl"] .input-group > .input-group-append > .btn,
html[dir="rtl"] .input-group > .input-group-append > .input-group-text,
html[dir="rtl"] .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
html[dir="rtl"] .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
html[dir="rtl"] .input-group > .input-group-prepend:not(:first-child) > .btn,
html[dir="rtl"] .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html[dir="rtl"] .vis-input-wrap *[data-hasBtn],
html[dir="rtl"] .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
html[dir="rtl"] .input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
html[dir="rtl"] .input-group > .input-group-append:not(:last-child) > .btn,
html[dir="rtl"] .input-group > .input-group-prepend > .btn,
html[dir="rtl"] .input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

html[dir="rtl"] .vis-input-wrap .input-group-prepend + .vis-control-wrap * {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

html[dir="rtl"] .input-group > .input-group-append:not(:last-child) > .input-group-text {
    border-radius: 0 !important;
}

html[dir="rtl"] .vis-input-wrap *[data-hasBtn]:focus {
    border-left: 1px solid rgba(var(--v-c-secondary),1);
    border-right: 1px solid rgba(var(--v-c-primary));
}

html[dir="rtl"] .vis-input-wrap .input-group-prepend + .vis-control-wrap *:focus {
    border-right: 1px solid rgba(var(--v-c-secondary),1);
    border-left: 1px solid rgba(var(--v-c-primary));
}

html[dir="rtl"] .input-group:focus-within .input-group-append .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-right: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group:focus-within .input-group-prepend .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-left: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group:focus-within .input-group-append:not(:last-child) .input-group-text {
    border-left: 1px solid rgba(var(--v-c-on-secondary),.1);
    border-right: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group-append {
    margin-right: -1px;
    margin-left: 0;
}

html[dir="rtl"] .input-group-prepend {
    margin-right: 0;
    margin-left: -1px;
}

html[dir="rtl"] .vis-ad-w-p-s-plst li:nth-child(2) {
    margin-left: -1px;
    margin-right: 10px;
}

html[dir="rtl"] .vis-ad-w-p-s-plst li:last-child {
    margin-right: -1px;
    margin-left: 0;
}
html[dir="rtl"] .vis-ad-w-p-tabs-oflow a,
html[dir="rtl"] .vis-statusbar-ul div,
html[dir="rtl"] .vis-ad-w-p-s-plst li:nth-child(2),
html[dir="rtl"] .vis-ad-w-p-s-plst li:last-child {
    transform: rotate(180deg);
}
html[dir="rtl"] .vis-control-wrap > button {
    text-align: center;
}

html[dir="rtl"] .vis-ad-w-p-tb-search {
    padding-left: 10px;
    padding-right: 0;
}

    html[dir="rtl"] .vis-ad-w-p-tb-search span:first-child i {
        transform: rotate(90deg);
    }

html[dir="rtl"] .vis-app-f-taskbar li a {
    padding-left: 0;
    padding-right: 5px;
}

html[dir="rtl"] .vis-ad-w-p-a-main {
    right: auto;
    left: 2px;
}

html[dir="rtl"] .vis-ad-w-p-a-m-lst span {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: left;
    box-shadow: 3px 0px 3px 0px rgba(var(--v-c-on-common), 0.15);
}
html[dir="rtl"] .vis-chatdetailwrap {
    padding-right: 10px;
}
html[dir="rtl"] .vis-attach-file-location select.vis-custom-select {
    background-position: calc(18% - 25px), calc(18% - 20px);
    padding: 0 10px 0 0;
}
html[dir="rtl"] .vis-attach-file-location > label {
    padding-right: 0;
    padding-left: 10px;
}
html[dir="rtl"] .vis-attach-btns > a {
    margin-left: 0;
    margin-right: 10px;
}
html[dir="rtl"] .vis-attach-file-text, html[dir="rtl"] .vis-ad-process-header, html[dir="rtl"] .vis-report-tittle {
    padding-left: 0;
    padding-right: 10px;
}

html[dir="rtl"] .vis-ad-w-p-header-h {
    right: 0;
    left:auto;
    transform: rotate(180deg);
}

html[dir="rtl"] .vis-gc-vtable.w2ui-grid .w2ui-editable input, html[dir="rtl"] .vis-gc-vtable.w2ui-grid .w2ui-editable select {
    position: relative;
    margin-top: 10px;
}
html[dir="rtl"] .vis-process-background-label {
    margin-left: 0;
    margin-right: 5px;
}
html[dir="rtl"] .vis-processpara-table-td3 label.vis-ec-col-lblchkbox input {
    margin-right: 0;
    margin-left: 5px;
}

html[dir="rtl"] .vis-advancedSearch-calender-Icon {
    margin-right: 0;
    margin-left: 10px;
}

/*rtl css End here*/


