
/*rtl css Start here*/
html[dir="rtl"] * {
    text-align: right;
}
html[dir="rtl"] .VIS-AMTD-MainContent .VIS_Pref_btn-2,
html[dir="rtl"] .pull-right,
html[dir="rtl"] .vis-pull-right,
html[dir="rtl"] .vis-group-finish,
html[dir="rtl"] .VIS_Pref_btn-2,
html[dir="rtl"] .vis-leftpanel-inn-wrap ~ div {
    float: left !important;
}

html[dir="rtl"] .vis-pull-left,
html[dir="rtl"] .pull-left,
html[dir="rtl"] .vis-alert-img {
    float: right !important;
}
html[dir="rtl"] #favLinks > [class^="col"],
html[dir="rtl"] .vis-info-l-s-wrap,
html[dir="rtl"] .VIS_Pref_menu,
html[dir="rtl"] .VIS-Lavel-float,
html[dir="rtl"] .VIS_Pref_col-33,
html[dir="rtl"] .VIS_Pref_dd,
html[dir="rtl"] .VIS_Pref_sett-1,
html[dir="rtl"] .vis-theme-drp-wrp,
html[dir="rtl"] div.VIS_Pref_slide-show.pp,
html[dir="rtl"] .VIS_Pref_notification-check,
html[dir="rtl"] .VIS_Pref_pp,
html[dir="rtl"] .vis-archive-left-sidebar,
html[dir="rtl"] .vis-pSelectInfo,
html[dir="rtl"] .vis-archive-l-s-content,
html[dir="rtl"] .vis-leftpanel-wrapper,
html[dir="rtl"] .vis-group-content-tittle,
html[dir="rtl"] .vis-group-user-profile,
html[dir="rtl"] .vis-group-user-img,
html[dir="rtl"] .VIS-AMTD-formData select,
html[dir="rtl"] .VIS-AMTD-formData input,
html[dir="rtl"] .VIS-AMTD-formData,
html[dir="rtl"] .VIS-AMTD-formDynmicInput,
html[dir="rtl"] .VIS-TM-left-tree,
html[dir="rtl"] .VIS-TM-middle,
html[dir="rtl"] .VIS-TM-right-slide,
html[dir="rtl"] .vis-form-data-sub,
html[dir="rtl"] .vis-attach-file-wrapla,
html[dir="rtl"] .vis-attachhistory-right-row2,
html[dir="rtl"] .vis-attachhistory-right-row3,
html[dir="rtl"] .vis-attachhistory-right-row2 i,
html[dir="rtl"] .vis-attachhistory-right-row i,
html[dir="rtl"] .vis-rad-actionBtn,
html[dir="rtl"] .vis-rad-recordData,
html[dir="rtl"] .vis-paymentselect-field,
html[dir="rtl"] .vis-paymentPrint-field,
html[dir="rtl"] .vis-sms-leftDiv,
html[dir="rtl"] .vis-Email-leftFooter,
html[dir="rtl"] .vis-orgaccess-description,
html[dir="rtl"] .vis-group-assinRole-check .vis-group-user-profile input[type="Checkbox"],
html[dir="rtl"] .vis-advancedSearchInput,
html[dir="rtl"] .vis-advancedSearchHorigontal,
html[dir="rtl"] .vis-cardviewmainsecondchild,
html[dir="rtl"] .VIS_Pref_err-btn,
html[dir="rtl"] .VIS_form-col,
html[dir="rtl"] .VIS_form-data-col,
html[dir="rtl"] .vis-advancedSearchInput > input,
html[dir="rtl"] .vis-advancedSearchInput > select,
html[dir="rtl"] .vis-advancedSearchInput > button,
html[dir="rtl"] .vis-initial-btn {
    float: right;
}

html[dir="rtl"] .vis-pull-right,
html[dir="rtl"] li.active:after,
html[dir="rtl"] .VIS_Pref_li:hover:after,
html[dir="rtl"] .VIS_Pref_pass,
html[dir="rtl"] .VIS_Pref_Savebtn,
html[dir="rtl"] .vis-its-ryt-panel .vis-initial-btn,
html[dir="rtl"] .vis-pSelectProcess,
html[dir="rtl"] .vis-paymentPrintChk-field,
html[dir="rtl"] .vis-group-head-right,
html[dir="rtl"] .vis-group-top-right,
html[dir="rtl"] .vis-attach-BottomRight,
html[dir="rtl"] .vis-attachhistory-comment-dateTime,
html[dir="rtl"] .vis-attachhistory-email-dropdown,
html[dir="rtl"] .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
html[dir="rtl"] .vis-ctrfrm-btnwrp div,
html[dir="rtl"] .btns,
html[dir="rtl"] .vis-email-btns,
html[dir="rtl"] .vis-email-sendbtn,
html[dir="rtl"] .vis-email-saveAttachbtn,
html[dir="rtl"] .vis-Dialog-buttons,
html[dir="rtl"] .vis-creategroup-btnwrap,
html[dir="rtl"] .VIS_pop-btn-wrap {
    float: left;
}
html[dir="rtl"] #fllupsScreen h2 span,
html[dir="rtl"] #favLinks h2 span
html[dir="rtl"] .vis-css-treeview label i,
html[dir="rtl"] .vis-css-treeview ul li a span,
html[dir="rtl"] .vis-attach-file-location > label,
html[dir="rtl"] .vis-archive-l-s-content + .vis-frm-bot-btn-wrp,
html[dir="rtl"] .vis-ad-w-p-tb-search,
html[dir="rtl"] .VIS-AMTD-formData,
html[dir="rtl"] .VIS-AMTD-formDynmicInput,
html[dir="rtl"] .vis-tm-sortable li i,
html[dir="rtl"] .scrolldrag li .vis-tm-upperdivchkandimg i,
html[dir="rtl"] .vis-ev-col-fieldgroup :last-child,
html[dir="rtl"] .vis-css-treeview label i,
html[dir="rtl"] .vis-css-treeview ul li a span,
html[dir="rtl"] .vis-attachhistory-right-row2 i,
html[dir="rtl"] .vis-advancedSearchInput,
html[dir="rtl"] .vis-advancedSearchContentArea,
html[dir="rtl"] .vis-tree-search,
html[dir="rtl"] .vis-pref-ctrl-lblwrp,
html[dir="rtl"] .VIS_Pref_show .VIS_Pref_dd:first-child,
html[dir="rtl"] .vis-group-content-headDown,
html[dir="rtl"] .w2ui-overlay .w2ui-col-on-off table td label,
html[dir="rtl"] .vis-cardviewmainsecondchild {
    padding-right: 0;
    padding-left: 10px;
}
html[dir="rtl"] .vis-attach-file-text,
html[dir="rtl"] .vis-ad-process-header,
html[dir="rtl"] .vis-report-tittle,
html[dir="rtl"] .vis-info-datasec,
html[dir="rtl"] .VIS-AMTD-formData select,
html[dir="rtl"] .VIS-AMTD-formData input,
html[dir="rtl"] .vis-advancedSearch-RecentRecords,
html[dir="rtl"] .VIS_Pref_show .VIS_Pref_dd:not(:first-child),
html[dir="rtl"] .vis-group-role-pad .vis-group-user-profile label{
    padding-left: 0;
    padding-right: 10px;
}
html[dir="rtl"] .vis-app-f-taskbar li a,
html[dir="rtl"] .vis-filter-dialog label,
html[dir="rtl"] .vis-ad-w-p-tb-lc li span,
html[dir="rtl"] .vis-ad-w-p-tb-rc-a-list li span,
html[dir="rtl"] .vis-feedTitleBar,
html[dir="rtl"] .vis-ulrole li {
    padding-left: 0;
    padding-right: 5px;
}
html[dir="rtl"] .vis-app-hdr-r-user a,
html[dir="rtl"] .vis-app-hdr,
html[dir="rtl"] .vis-attachhistory-attach-download,
html[dir="rtl"] .vis-advancedSearchHorigontal > label,
html[dir="rtl"] .vis-ad-w-p-nav-btns {
    padding-right: 0;
    padding-left: 5px;
}
html[dir="rtl"] .vis-attachhistory-email-dropdown,
html[dir="rtl"] .VIS_tree-container .nav-list .nav-list {
    padding-left: 0;
    padding-right: 15px;
}
html[dir="rtl"] .vis-rad-recordData,
html[dir="rtl"] .vis-attachhistory-right-row > ul > li {
    padding-right: 0;
    padding-left: 15px;
}
html[dir="rtl"] .VIS_form-row .VIS_form-col:not(:first-child),
html[dir="rtl"] .VIS_form-data-col:not(:first-child),
html[dir="rtl"] .zip-input {
    padding-left: 0;
    padding-right: 7px;
}
html[dir="rtl"] .VIS_form-row .VIS_form-col:not(:last-child),
html[dir="rtl"] .VIS_form-data-col:not(:last-child),
html[dir="rtl"] .form-input {
    padding-left: 7px;
    padding-right: 0;
}
html[dir="rtl"] .vis-feedIcons.vis-icon-feed,
html[dir="rtl"] .vis-processpara-table-td3 label.vis-ec-col-lblchkbox input,
html[dir="rtl"] .VIS-Lavel-float,
html[dir="rtl"] .VIS_Pref_btn-margin,
html[dir="rtl"] .vis-group-content-tittle i,
html[dir="rtl"] .vis-tm-childnodeinidailog,
html[dir="rtl"] .vis-rad-actionBtn,
html[dir="rtl"] .vis-fp-inputspan input[type=checkbox] {
    margin-right: 0;
    margin-left: 5px;
}
html[dir="rtl"] .vis-process-background-label,
html[dir="rtl"] .vis-apanel-rb-ul span,
html[dir="rtl"] .vis-group-head-right:after,
html[dir="rtl"] .VIS-Tm-btnicon:last-child,
html[dir="rtl"] .vis-allocation-rightContainer p + input[type="checkbox"],
html[dir="rtl"] .vis-CardView button,
html[dir="rtl"] .vis-Email-leftFooter > label,
html[dir="rtl"] .vis-treewindow-span,
html[dir="rtl"] .VIS_buttons-wrap span {
    margin-left: 0;
    margin-right: 5px;
}
/*html[dir="rtl"] .vis-advancedSearch-calender-Icon,*/
html[dir="rtl"] .vis-info-ls-btnswrap button,
html[dir="rtl"] .VIS_Pref_err_btnRight span,
html[dir="rtl"] .vis-viewMoreComments,
/*html[dir="rtl"] .vis-group-user-ico,*/
html[dir="rtl"] .VIS-TM-data-head input[type="checkbox"],
html[dir="rtl"] .vis-advancedSearchHorigontal,
html[dir="rtl"] .vis-btnOk,
html[dir="rtl"] .vis-group-user-wrap input[type="radio"],
html[dir="rtl"] .VIS-VImage-file-label {
    margin-right: 0;
    margin-left: 10px;
}
html[dir="rtl"] .vis-info-btnswrap .VIS_Pref_btn-2,
html[dir="rtl"] .vis-frm-bttsec .VIS_Pref_btn-2.vis-frm-button,
html[dir="rtl"] .VIS-TM-data-head .VIS-TM-data,
html[dir="rtl"] .vis-attach-btns > a,
html[dir="rtl"] .vis-unlinkallNodes,
html[dir="rtl"] .vis-attach-ico,
html[dir="rtl"] .VIS_Pref_btn-2.vis-frm-button,
html[dir="rtl"] .vis-ctrfrm-btnwrp input,
html[dir="rtl"] .btns > input[type=button],
html[dir="rtl"] .VIS-Tm-unlinkforbottmo,
html[dir="rtl"] .VIS-Tm-glyphiconglyphicon-link,
html[dir="rtl"] span.vis-ad-w-p-tb-rc-action,
html[dir="rtl"] .vis-groupbtn,
html[dir="rtl"] .vis-Dialog-buttons input,
html[dir="rtl"] .vis-processbtnwrap input[type="button"],
html[dir="rtl"] .vis-menuSearch a {
    margin-left: 0;
    margin-right: 10px;
}
html[dir="rtl"] #userFavs h2,
html[dir="rtl"] .ui-dialog .ui-dialog-buttonpane button,
html[dir="rtl"] .VIS-VImage-testBottom-btn a {
    margin-right: 10px;
}

html[dir="rtl"] #vis_mainMenu .vis-menuTitle p,
html[dir="rtl"] .vis-ad-w-p-tabs-t,
html[dir="rtl"] .vis-chatdetailwrap {
    padding-right: 10px;
}
html[dir="rtl"] .vis-attachhistory-right-row3 *,
html[dir="rtl"] .vis-ad-w-p-a-m-lst span,
html[dir="rtl"] .vis-attachhistory-view-comments,
html[dir="rtl"] .vis-pref-ctrl-lblwrp h5,
html[dir="rtl"] .vis-pref-ctrl-lblwrp label {
    text-align: left;
}
html[dir="rtl"] #favLinks .row.userLinks_activeTab {
    border-left: 1px solid rgba(var(--v-c-primary), 1);
    border-right: none;
}
html[dir="rtl"] .vis-ad-w-p-tb-search span:first-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*css for window*/
html[dir="rtl"] .vis-ad-w-p-tb {
    padding-right: 0;
    padding-left: 8px;
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-body, html[dir="rtl"] .vis-ad-w-p-ap-tp-o-b-head {
    border-top-left-radius: 0;
    border-top-right-radius: .60rem
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-body {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.10);
}
html[dir="rtl"] .vis-ad-w-p-actionpanel-r li.vis-ad-w-p-ap-tp-o-li-selected:before {
    border-left: none;
    border-right: 5px solid rgba(var(--v-c-primary),1);
    right: 0;
}

html[dir="rtl"] .vis-ad-w-p-ap-tp-o-icorbar li {
    border-right: 3px solid transparent;
    border-left: none;
    padding: 7px 9px 7px 0;
}

html[dir="rtl"] .vis-ad-w-p-actionpanel-r li.vis-ad-w-p-ap-tp-o-li-selected {
    border-right: 3px solid rgba(var(--v-c-primary),1);
}

html[dir="rtl"] .vis-ev-col-msign,
html[dir="rtl"] .vis-input-wrap select.vis-ev-col-mandatory ~ .vis-ev-col-msign,
html[dir="rtl"] .vis-file-close-ico,
html[dir="rtl"] .vis-ad-w-p-a-main,
html[dir="rtl"] .VIS_Pref_close-btn,
html[dir="rtl"] .vis-leftpanel-wrapper:after,
html[dir="rtl"] .address-close-icon,
html[dir="rtl"] .w2ui-grid .w2ui-toolbar-search .w2ui-search-down {
    right: auto;
}
html[dir="rtl"] .w2ui-grid .w2ui-toolbar-search .w2ui-search-down {
    left: 5px;
}
html[dir="rtl"] .vis-ev-col-msign {
    left: 10px;
}
html[dir="rtl"] .vis-input-wrap select.vis-ev-col-mandatory ~ .vis-ev-col-msign {
    left: 30px;
}
html[dir="rtl"] .vis-file-close-ico {
    left: -8px;
}
html[dir="rtl"] .vis-ad-w-p-a-main {
    left: 2px;
}
html[dir="rtl"] .VIS_Pref_close-btn {
    left: -10px;
}
html[dir="rtl"] .vis-leftpanel-wrapper:after,
html[dir="rtl"] .address-close-icon {
    left: -6px;
}
html[dir="rtl"] .vis-input-wrap input:focus ~ label,
html[dir="rtl"] .vis-input-wrap input:not(:placeholder-shown) ~ label,
html[dir="rtl"] .vis-input-wrap textarea:not(:placeholder-shown) ~ label,
html[dir="rtl"] .vis-input-wrap select:focus ~ label,
html[dir="rtl"] .vis-input-wrap textarea:focus ~ label,
html[dir="rtl"] .vis-input-wrap select ~ label,
html[dir="rtl"] .vis-advancedSearchInput > label, 
html[dir="rtl"] .vis-advancedSearchHorigontal > label {
    right: 5px;
    left: auto;
}

html[dir="rtl"] .vis-input-wrap label {
    right: 30px;
    left: auto;
}
html[dir="rtl"] .vis-ev-col input:not([type=button]):not([type="checkbox"]), 
html[dir="rtl"] .vis-ev-col textarea, 
html[dir="rtl"] .vis-control-wrap > button {
    padding: 5px 30px 5px 16px;
}
html[dir="rtl"] label.vis-ec-col-lblchkbox{
    right: 0;
}
html[dir="rtl"] .vis-ev-ctrlinfowrap,
html[dir="rtl"] .vis-formouterwrpdiv .vis-input-wrap input:not(:focus):placeholder-shown + label,
html[dir="rtl"] .vis-formouterwrpdiv .vis-input-wrap textarea:not(:focus):placeholder-shown + label,
html[dir="rtl"] .vis-leftsidebarouterwrap .vis-input-wrap input:not(:focus):placeholder-shown + label {
    right: 10px;
    left: auto;
}
html[dir="rtl"] select {
    background-position-x: 10px,14px;
    padding-right: 10px;
    padding-left: 25px;
}
html[dir="rtl"] .vis-input-wrap select.vis-ev-col-mandatory {
    /*background-position: calc(10% - 25px), calc(10% - 20px);*/
}
html[dir="rtl"] .vis-statusbar-combo {
    background-position: 4px, 8px
}
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-append > .btn,
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-append > .input-group-text,
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend:not(:first-child) > .btn,
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend:not(:first-child) > .input-group-text,
html[dir="rtl"] .location .input-group-text {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html[dir="rtl"] .vis-input-wrap *[data-hasBtn],
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-append:not(:last-child) > .btn,
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend > .btn,
html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group > .input-group-prepend > .input-group-text/*,
html[dir="rtl"] .location input.form-control:not(:last-child)*/ {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

html[dir="rtl"] .vis-input-wrap .input-group-prepend + .vis-control-wrap *,
html[dir="rtl"] .vis-leftsidebarouterwrap .vis-input-wrap .input-group-append:last-child > .input-group-text,
html[dir="rtl"] .vis-formouterwrpdiv .vis-input-wrap .input-group-append:last-child > .input-group-text:last-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

html[dir="rtl"] .vis-ad-w-p-vc-editview .input-group> .input-group-append:not(:last-child) > .input-group-text,
html[dir="rtl"] .vis-leftsidebarouterwrap .vis-input-wrap .input-group-append:last-child > .input-group-text:not(:last-child),
html[dir="rtl"] .vis-leftsidebarouterwrap .vis-input-wrap .input-group-append:last-child > .input-group-text:not(:last-child){
    border-radius: 0 !important;
}

html[dir="rtl"] .vis-input-wrap *[data-hasBtn]:focus {
    border-left: 1px solid rgba(var(--v-c-secondary),1);
    border-right: 1px solid rgba(var(--v-c-primary));
}

html[dir="rtl"] .vis-input-wrap .input-group-prepend + .vis-control-wrap *:focus {
    border-right: 1px solid rgba(var(--v-c-secondary),1);
    border-left: 1px solid rgba(var(--v-c-primary));
}

html[dir="rtl"] .input-group:focus-within .input-group-append .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-right: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group:focus-within .input-group-prepend .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-left: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group:focus-within .input-group-append:not(:last-child) .input-group-text {
    border-left: 1px solid rgba(var(--v-c-on-secondary),.1);
    border-right: 1px solid rgba(var(--v-c-on-secondary),.1);
}

html[dir="rtl"] .input-group-append,
html[dir="rtl"] .vis-ad-w-p-s-plst li:last-child,
html[dir="rtl"] .vis-formouterwrpdiv .input-group-append .input-group-text + .input-group-text,
html[dir="rtl"] .vis-leftsidebarouterwrap .input-group-append .input-group-text + .input-group-text {
    margin-right: -1px;
    margin-left: 0;
}

html[dir="rtl"] .input-group-prepend {
    margin-right: 0;
    margin-left: -1px;
}

html[dir="rtl"] .vis-ad-w-p-s-plst li:nth-child(2) {
    margin-left: -1px;
    margin-right: 10px;
}

html[dir="rtl"] .vis-ad-w-p-tabs-oflow a,
html[dir="rtl"] .vis-statusbar-ul div,
html[dir="rtl"] .vis-ad-w-p-s-plst li:nth-child(2),
html[dir="rtl"] .vis-ad-w-p-s-plst li:last-child,
html[dir="rtl"] .input-group-text .fa-arrow-left,
html[dir="rtl"] .vis-cardviewbutton button.vis-btnright,
html[dir="rtl"] .vis-cardviewbutton button.vis-btnleft,
html[dir="rtl"] .vis-archive-sb-t-button {
    transform: rotate(180deg);
}
html[dir="rtl"] .vis-control-wrap > button {
    text-align: center;
}
html[dir="rtl"] .vis-ad-w-p-tb-search span:first-child i,
html[dir="rtl"] .vis-menuSearch a.fa-search {
    transform: rotate(90deg);
}
html[dir="rtl"] .vis-ad-w-p-t-c-tc i,
html[dir="rtl"] .vis-tree-search .input-group-text a,
html[dir="rtl"] .vis-ad-w-p-tb-s-btn {
    transform: scaleX(-1);
}
html[dir="rtl"] .vis-ad-w-p-a-m-lst span {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 3px 0px 3px 0px rgba(var(--v-c-on-common), 0.15);
}
html[dir="rtl"] .vis-ad-w-p-header-h {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}
html[dir="rtl"] .vis-gc-vtable.w2ui-grid .w2ui-editable input, html[dir="rtl"] .vis-gc-vtable.w2ui-grid .w2ui-editable select {
    position: relative;
    margin-top: 10px;
}

html[dir="rtl"] .VIS-AMTD-formData:nth-child(4),
html[dir="rtl"] .VIS-AMTD-formDynmicInput .VIS-AMTD-formData {
    padding-left: 0;
}
html[dir="rtl"] .VIS-AMTD-formBtns a,
html[dir="rtl"] .vis-advancedSearchHorigontal:last-child,
html[dir="rtl"] .VIS-TM-path,
html[dir="rtl"] .vis-orgaccess-description {
    /*float: right;*/
    margin-left: 0px;
}
html[dir="rtl"] input:required:invalid,
html[dir="rtl"] input:focus:invalid,
html[dir="rtl"] input:required:valid {
    background-position: left center;
}
html[dir="rtl"] a.VIS_Pref_tooltip span {
    margin-left: 0;
    margin-right: -20px;
}
html[dir="rtl"] .VIS_Pref_callout {
    left: auto;
    right: 10px;
}
html[dir="rtl"] .VIS_Pref_content-right,
html[dir="rtl"] .VIS_Pref_content-right-2,
html[dir="rtl"] .VIS_Pref_content-right-3,
html[dir="rtl"] .VIS_Pref_content-right-4,
html[dir="rtl"] .VIS_Pref_content-right-5 {
    padding-right: 20px;
    padding-left: 0;
}
html[dir="rtl"] .VIS_Pref_content-right,
html[dir="rtl"] .VIS_Pref_content-right-5,
html[dir="rtl"] .vis-css-treeview ul li {
    padding-left: 10px;
}
html[dir="rtl"] .vis-cs-op-lbl {
    margin-right: 12px;
    margin-left: 0;
}
html[dir="rtl"] .vis-pSelectInner ~ .vis-paymentselect-field {
    padding-right: 12px;
    padding-left: 0;
}
html[dir="rtl"] input[type="checkbox"].VIS-tm-checkbox,
html[dir="rtl"] input[type="checkbox"].vis-tm-chkbox {
    margin: 0 0 0 10px !important;
}
html[dir="rtl"] .VIS-TM-path {
    margin-right: -15px;
}
html[dir="rtl"] .VIS-TM-tree-search .VIS-Tm-btnicon,
html[dir="rtl"] .vis-advancedSearch-RecentRecords {
    border-left: none;
    border-right: 1px solid rgba(var(--v-c-on-secondary), .25);
}
html[dir="rtl"] .VIS-TM-left-tree,
html[dir="rtl"] .vis-leftpanel-wrapper {
    border-right: none;
}
html[dir="rtl"] .VIS-TM-left-tree {
    border-left: 1px solid rgba(var(--v-c-on-secondary), .25);
}

html[dir="rtl"] .vis-leftpanel-wrapper {
    border-left: 5px solid rgba(var(--v-c-on-secondary), .3);
}
html[dir="rtl"] .vis-app-aform-root input[type=checkbox],
html[dir="rtl"] .ui-dialog input[type=checkbox] {
    margin: 4px 0 0 4px;
}
html[dir="rtl"] .vis-processpara-table-td3 {
    /*padding: 5px 5px 5px 0px;*/
}
html[dir="rtl"] .vis-tree-search input.form-control:not(:last-child) {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
html[dir="rtl"] .vis-tree-search .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
html[dir="rtl"] .right-inner-addon a {
    right: auto;
    left: 1px;
}
html[dir="rtl"] .VIS-Tm-unlinkforbottmo:after, .VIS-Tm-glyphiconglyphicon-link:after {
    bottom: 6px;
    right: -2px;
}
html[dir="rtl"] .VIS-TM-treeList ul li .VIS-Tm-glyphiconglyphicon-link:after {
    bottom: 1px;
    right: -3px;
}
html[dir="rtl"] .vis-tm-b-s-ryt input[type="checkbox"] {
    margin: 1px 0 0 5px !important;
}
html[dir="rtl"] .vis-process-left-sidebar {
    border-left: 1px solid rgba(var(--v-c-on-secondary), .1);
    border-right: none;
}

html[dir="rtl"] .vis-Email-rytWrap {
    /* float: right; */
    border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
    padding-right: 20px;
    /* margin-right: 20px; */
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}


html[dir="rtl"] .mr-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
}

html[dir="rtl"] .k-treeview .k-minus,
html[dir="rtl"] .k-treeview .k-minus-disabled,
html[dir="rtl"] .k-treeview .k-plus,
html[dir="rtl"] .k-treeview .k-plus-disabled {
    margin-left: 0;
    margin-right: -16px;
    transform: rotate(90deg);
}

html[dir="rtl"] .k-treeview .k-item {
    padding-left: 0;
    padding-right: 16px;
}

html[dir="rtl"] .k-treeview .k-in p,
html[dir="rtl"] .vis-fp-currntrcrds {
    padding-left: 0;
    padding-right: 6px;
}
html[dir="rtl"] .vis-paymentselect-field .vis-input-wrap .vis-paymentPrintChk-field label {
    padding-right: 0;
    padding-left: 7px;
}
html[dir="rtl"] .vis-info-botdatafield:first-child {
    padding-left: 15px;
}
html[dir="rtl"] .vis-paymentPrint-field input[name='vis-name'],
html[dir="rtl"] .vis-paymentPrint-field select[name='vis-name'] {
    margin-right: 0;
    margin-left: 15px;
}
html[dir="rtl"] .vis-group-user-text {
    padding-left: 10px;
    padding-right: 15px;
}
html[dir="rtl"] .vis-group-colwrap:nth-child(3) .vis-group-user-right li:first-child {
    margin-left: 10px;
}
html[dir="rtl"] .vis-orgaccess-description {
    margin-right: 30px;
}
html[dir="rtl"] .vis-ev-col-fg-more {
    padding-right: 0 !important;
    padding-left: 10px !important;
}
html[dir="rtl"] .vis-PopupInput-alert > label {
    padding-left: 0 !important;
    padding-right: 10px !important;
}
html[dir="rtl"] .vis-img-ctrl-icon {
    right: auto;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .25rem;
}
html[dir="rtl"] .w2ui-grid .w2ui-toolbar-search .w2ui-search-all {
    padding: 3px 10px 3px 18px;
}
html[dir="rtl"] .w2ui-overlay .w2ui-col-on-off table td:first-child {
    padding: 4px 6px 4px 0;
}

html[dir="rtl"] .w2ui-overlay .w2ui-col-on-off table td:last-child {
    padding: 4px 0 4px 6px;
}
html[dir="rtl"] .vis-acctviewer-tabswrap div:first-child {
    margin-right: 0 !important;
    margin-left: 15px;
}
.vis-leftpanel-inn-wrap ~ div {
    padding-left: 10px;
    padding-right: 0 !important;
}
html[dir="rtl"] .vis-acctviewerbottdiv input[type="checkbox"] {
    margin-left: 5px !important;
    margin-right: 20px !important;
}
html[dir="rtl"] .vis-filter-dialog {
    left: auto;
    right: 200px;
}
#vis_mainMenu .vis-menuTitle {
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
}
html[dir="rtl"] .vis-procss-more {
    right: auto !important;
    left: 29px;
}

html[dir="rtl"] .vis-ad-w-p-vc-gc [data-type='int'] {
    text-align: left;
}
html[dir="rtl"] .k-button-icontext .k-icon,
html[dir="rtl"] .k-button-icontext .k-image,
html[dir="rtl"] .k-button-icontext .k-sprite {
    margin-left: .3rem;
    margin-right: -.3rem;
}


/*rtl css End here*/


