

.vis-report-header h3 {
    margin: 0;
    font-size: 22px;
    font-family: helvetica;
    font-weight: 400;
    color: white;
}
.vis-report-header{
	width: 100%;
    background: #1aa0ed;
    /*padding: 10px 0px 10px 0px;*/
    float: left;
    padding-left: 10px;
}
.vis-report-tittle {
    width: 40%;
    float: left;
}
.vis-btn-close {
    width: 3%;
    background: url('../Images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 19px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    margin: 0;
}
.vis-clear-both{
	clear: both;
}
.vis-report-top-icons{
	float:right;	
}
.vis-report-top-icons > ul{
	margin:0;
	padding:0;
	list-style:none;	
}
.vis-report-top-icons > ul > li{
	float:left;	
	display:inline-block;
}
.vis-report-icon{
	width:22px;
	height:20px;
	float:left;
	margin: 0 8px;
	background-repeat:no-repeat;	
}
.vis-archive-ico{
	background-image:url(../Images/archive.png);	
}
.vis-repformat-ico{
	background-image:url(../Images/repformat.png);	
}
.vis-savepdf-ico{
	background-image:url(../Images/savepdf.png);	
}

.vis-savepdfALL-ico{
	background-image:url(../Images/multiplepdf.png);	
    height:23px;	    
}

.vis-savecsv-ico{
	background-image:url(../Images/savecsv.png);	
}

.vis-savecsvAll-ico{
	background-image:url(../Images/csv.png);
    height:23px;	
}
.vis-selectcsview-page {
    float: left;
    margin-top: 9px;
    width: 60px;
    background-color: #1577B0;
    border: none;
    color: #fff;
    height: 24px;
    margin-right: 9px;
}
.vis-requery-ico{
	background-image:url(../Images/requery.png);	
}
.vis-search-ico{
	background-image:url(../Images/search.png);	
}
.vis-customize-ico{
	background-image:url(../Images/customize.png);	
}
.vis-print-ico{
	background-image:url(../Images/print.png);	
}
.vis-report-content, .vis-report-content-head, .vis-report-data, .vis-report-data > table{
	float:left;
	width:100%;	
}
.vis-report-content{ padding:15px;}
.vis-report-content > h4{
	color:#1aa0ed;
	font-size:16px;
	width:100%;
	text-align:center;
	margin:0;
	padding:0;
}
.vis-report-content-head > div{
	float:left;
	width:150px;	
}
.vis-report-data > table, .vis-report-content-head{
	margin-top:20px;
}
.vis-report-table-head{
	background-color:#e8eef0;	
}
.vis-report-table-head > th{
	padding:10px;
	color:#535353;
	font-size:14px;
	font-weight:normal;	
}
.vis-report-table-row > td{
	font-size:12px;
	color:#666;
	padding:10px;	
}
.vis-report-gray{
	background:#f8f8f8;	
}
.vis-report-bottom{
	width:100%;
	float:left;
	/*position:absolute;*/
	bottom:0;
	background-color:#d9e3e7;
	padding-left:10px;	
}
.vis-report-bottom-left{
	float:left;	
}
.vis-report-bottom-left > p{
	float:left;
	font-size:12px;
	color:#535353;
	margin-bottom:0;
	padding:5px 0;	
}
.vis-report-bottom-right{
	float:right;
	background-color:#cedce1;
	padding-left:15px;	
}
.vis-report-bottom-right > ul{
	list-style:none;
	margin:0;
	padding:0;	
}
.vis-report-bottom-right > ul > li{
	float:left;
	margin:0 15px 0 0;
	background:url(../Images/bottom-divider.png) no-repeat right;
	padding:5px 15px 5px 0;
}   
.vis-report-bottom-right > ul > li > select{
	background:#e9eff2;
	border:none;
	padding:0 5px;
	outline:none;
}