/*select
{
    background-position-x: 3%;
}


.vis-taskbar-right
{
    float: left;
}



.vis-hasSubMenu:after
{
    display: none;
}

.vis-css-treeview label::before
{
    margin: 0px 0px 0px 10px;
    float: right;
}*/

/*.vis-menuitm-with-favItm
{
    float: right;
}

.vis-menufavitm
{
    float: left;
}*/




/*window header*/
/*.vis-awindow-toolbar
{
    float: left;
}*/


/*tab Control */
/*.vis-apanel-tabcontrol
{
    float: right;
}*/

/*.vis-apanel-tab-oflow
{
    float: right;
}*/

/*.vis-apanel-nav
{
    float: left;
}*/

/*.vis-apanel-bar-fixpart a
{
    left: 0px;
    -webkit-transform: rotate(180deg);
}*/

/*.vis-apanel-bar-varpart
{
    float: left;
}*/

/*.vis-apanel-rb-ul li
{
    text-align: right;
}*/

/*status bar*/
/*.vis-statusbar-ul > li img
{
    transform: scaleX(-1);
}*/
