@model VIS.Models.VSetupModel

<div class="advancedSearch-wrap">
    	<div class="header-wrap">
            <h3 class="advancedSearch-tittle">Initial Client Setup</h3>
            <button class="btn-close"></button>
            <div class="clear-both"></div>
        </div><!-- end of header -->
        
        <div class="advancedSearch-GrayWrap">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed suscipit erat, eget pellentesque diam. Nulla ac accumsan arcu. </p>
        	<div class="initial-client-form">
            	<div class="intial-form-data">
                	<label for="Tenant">Tenant</label>
                    <input type="text" name="tenant" placeholder="Client">
                    <a class="intial-info-icon"></a>
                </div>
                
                <div class="intial-form-data">
                	<label for="Org">Organization</label>
                    <input type="text" name="org" placeholder="Org">
                    <a class="intial-info-icon"></a>
                </div>
                
                <div class="intial-form-data">
                	<label for="UserTenant">User/Contact Tenant</label>
                    <input type="text" name="userTenant" placeholder="Client Admin">
                    <a class="intial-info-icon"></a>
                </div>
                
                <div class="intial-form-data">
                	<label for="UserOrg">User/Contact Organization</label>
                    <input type="text" name="userOrg" placeholder="Client User">
                    <a class="intial-info-icon"></a>
                </div>
                
                <ul class="initial-client-form-list">
                	<li>
                    	 <div class="intial-form-dataCombo">
                            <label for="Currency">Currency</label>
                            <select placeholder="Currency">
                            	<option>Dolor</option>
                                <option>Dolor</option>
                                <option>Dolor</option>
                            </select>
                        </div>
                    </li>
                    
                    <li>
                    	 <div class="intial-form-dataCombo" style="margin-right:0; float:right;">
                            <label for="Country">Country</label>
                            <select placeholder="Country">
                            	<option>India</option>
                                <option>England</option>
                                <option>India</option>
                            </select>
                        </div>
                    </li>
                    
                    <li>
                    	 <div class="intial-form-dataCombo">
                            <label for="City">City</label>
                            <select placeholder="City">
                            	<option>Mohali</option>
                                <option>Chandigarh</option>
                                <option>Rajpura</option>
                            </select>
                        </div>
                    </li>
                    
                    <li>
                    	 <div class="intial-form-dataCombo" style="margin-right:0; float:right;">
                            <label for="Region">Region</label>
                            <select placeholder="Region">
                            	<option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </li>
                    
                </ul>
                
                 <div class="intial-form-data">
                	<label for="Optional">Optional</label>
                    <div class="initial-form-checkbox">
                    	<input type="checkbox" value="Opportunity">
                        <label for="Opportunity">Opportunity</label>
                    </div>
                    
                    <div class="initial-form-checkbox">
                    	<input type="checkbox" value="Opportunity">
                        <label for="Opportunity">Sale Region</label>
                    </div>
                    
                    <div class="initial-form-checkbox">
                    	<input type="checkbox" value="Opportunity">
                        <label for="Opportunity">Product</label>
                    </div>
                    
                    <div class="initial-form-checkbox">
                    	<input type="checkbox" value="Opportunity">
                        <label for="Opportunity">Campaign</label>
                    </div>
                    
                     
                    <div class="initial-form-checkbox">
                    	<input type="checkbox" value="Opportunity">
                        <label for="Opportunity">Business Partner</label>
                    </div>
                    
                </div><!-- end of intial-form-data for checkbox -->
                
                <div class="initial-form-buttons">
                	<div class="initial-btn-right">
                    	<a class="initial-btn initial-btn-blue">Load Accounting Values</a>
                    </div>
                    <div class="initial-btn-left">
                    	<a class="initial-btn">Done</a>
                        <a class="initial-btn">Cancel</a>
                    </div>
                </div><!-- end of initial-form-buttons -->
                
            </div><!-- end of initial-client-form -->
            
        </div><!-- end of advancedSearch-GrayWrap -->
    
    </div>

