<template id="vis-ad-windowtmp">
    <div class="vis-ad-w">
        <div class="vis-ad-w-header">
            <div class='vis-ad-w-name'>
                <h5>.</h5>
            </div>
            <div class='vis-ad-w-toolbar'>
            </div>
            <div class='vis-ad-w-close'>
                <i class="vis vis-cross"></i>
            </div>
            <div class="vis-ad-w-header-border"></div>
        </div>
        <div class="vis-ad-w-body">
        </div>
    </div>
</template>

<template id="vis-ad-paneltmp">
    <div class="vis-ad-w-p">
        <div class="vis-ad-w-p-busy">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div class="vis-ad-w-p-title">
            <div class='vis-ad-w-p-t-name'>
                <h5> </h5>
            </div>
            <div class='vis-ad-w-p-t-toolbar'>
            </div>
            <div class='vis-ad-w-p-t-close'>
                <i class="vis vis-cross"></i>
            </div>
        </div>

        <div class="vis-ad-w-p-filterpnl">
            <div class="vis-fp-outerwrp">
                <div class="vis-fp-header"><h4> Filter</h4><i class="vis vis-mark"></i></div>
                <div class="vis-fp-bodywrap">
                    </div>
                </div>
                </div>
                <div class="vis-ad-w-p-header-l">
                    <div class="vis-ad-w-p-header-arrow-l">
                        <i class="fa fa-angle-double-left vis-ad-w-p-header-arrow-l-po" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="vis-ad-w-p-filter">
                    @*applied search filter text*@

                </div>

                <div class="vis-ad-w-p-tb">
                    <ul class="vis-ad-w-p-tb-lc">
                    </ul>
                    <div class="vis-ad-w-p-tb-search">
                        <span class="vis-ad-w-p-tb-advsrch"></span>
                        <input type="text" class="vis-ad-w-p-tb-s-input">
                        <span class="vis-ad-w-p-tb-s-icon">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                        <span class="vis-ad-w-p-tb-s-icon-down">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </span>
                        <span class="vis-ad-w-p-tb-s-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="vis-ad-w-p-tb-rc">
                        <span class="vis-ad-w-p-tb-rc-action">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </span>
                        <div class="dropdown vis-ad-w-p-tb-rc-action">
                            <span class="dropdown-toggle vis-ad-w-p-setting" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="vis vis-gear"></i>
                            </span>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul class="vis-ad-w-p-tb-rc-a-list">
                                </ul>
                            </div>
                        </div>

                        <span class="vis-ad-w-p-tb-rc-abar">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                </div>

                <div class="vis-ad-w-p-tabs-t">
                    <div class="vis-ad-w-p-tabs-oflow">
                        <a href="javascript:void(0)">
                            <i data-dir="bf" class="fa fa-angle-double-left"> </i>
                        </a>
                        <a href="javascript:void(0)">
                            <i data-dir="b" class="fa fa-angle-left"></i>

                        </a>
                    </div>
                    <div class="vis-ad-w-p-t-c">
                        <ul class="vis-ad-w-p-t-c-tc">
                        </ul>
                    </div>

                    <div class="vis-ad-w-p-tabs-oflow">

                        <a href="javascript:void(0)">
                            <i data-dir="r" class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:void(0)">
                            <i data-dir="rl" class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>

                <div class="vis-ad-w-p-nav">
                    <ul class="vis-ad-w-p-nav-btns">
                    </ul>
                </div>


                <div class="vis-ad-w-p-center vis-ad-w-p-center-flow-r">

                    <div class="vis-ad-w-p-center-view">
                        @*main View*@

                        <div class="vis-ad-w-p-center-tc">
                            @*tab control*@
                        </div>
                        <div class="vis-ad-w-p-center-inctab">
                            <div class="vis-ad-w-p-c-inc-main">
                                @*Include Tab*@
                                <div class="vis-ad-w-p-inc-tabs">
                                    <div class="vis-ad-w-p-inc-tabs-oflow">
                                        <a href="javascript:void(0)">
                                            <i data-dir="bf" class="fa fa-angle-double-left"> </i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i data-dir="b" class="fa fa-angle-left"></i>

                                        </a>
                                    </div>
                                    <div class="vis-ad-w-p-t-c-inc">
                                        <ul class="vis-ad-w-p-t-c-inc-tc">
                                        </ul>
                                    </div>
                                    <div class="vis-ad-w-p-inc-tabs-oflow">

                                        <a href="javascript:void(0)">
                                            <i data-dir="r" class="fa fa-angle-right"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i data-dir="rl" class="fa fa-angle-double-right"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="vis-ad-w-p-inc-tb">
                                    <div class="dropdown vis-ad-w-p-inc-tab-ac-buttons">
                                        <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                            <i class="vis vis-gear"></i>
                                        </span>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <ul class="vis-ad-w-p-inc-tab-a-list">
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="vis-ad-w-p-inc-tb-lc">
                                    </ul>
                                </div>
                                <div class="vis-ad-w-p-inc-content"></div>
                            </div>
                        </div>
                        <div class="vis-ad-w-p-center-footer">
                            @*Footer *@
                        </div>
                    </div>
                    <div class="vis-ad-w-p-actionpanel-r">
                        @* Tab Panel*@
                    </div>
                </div>
                <div class="vis-ad-w-p-action">
                    <div class="vis-ad-w-a-arrow">
                        <i class="fa fa-sort-down"></i>
                    </div>
                    <div class="vis-ad-w-p-a-main">
                        <ul class="vis-ad-w-p-a-m-lst vis-ad-w-p-a-m-dlist" style="flex: initial;">
                        </ul>
                        <ul class="vis-ad-w-p-a-m-lst vis-ad-w-p-a-m-slist"></ul>
                    </div>
                    <div class="vis-ad-w-p-a-oflow">
                        <span data-dir="u">
                            <i data-dir="u" class="fa fa-angle-up"> </i>
                        </span>
                        <span data-dir="d">
                            <i data-dir="d" class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div class="vis-ad-w-p-status">

                </div>
            </div>
</template>

<template id="vis-ad-statusbartmp">
    <div class="vis-ad-w-p-s-main">
        <div class="vis-ad-w-p-s-infoline">
            <span></span>
        </div>

        <div class="vis-ad-w-p-s-msg">
            <span></span>
        </div>

        <div class="vis-ad-w-p-s-pages">
            <ul class="vis-ad-w-p-s-plst">
                <li>
                    <span class="vis-ad-w-p-s-statusdb">0/0</span>
                    <div class="vis-ad-w-p-s-result">
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<template id="vis-ad-viewctrltmp">
    <div class="vis-ad-w-p-vc">
        <div class="vis-ad-w-p-vc-tree">
        </div>
        <div class="vis-ad-w-p-vc-acontainer">
            <span class="vis-ad-w-p-vc-header" ></span>
            @*toolbar*@
            @*toolbar*@
            <ul class="vis-ad-w-p-vc-actions"></ul>
        </div>
        <div class="vis-ad-w-p-vc-gc">

        </div>

        <div class="vis-ad-w-p-vc-v2">
            @*Mutirecord  view level 1*@
        </div>
    </div>
</template>



<template id="vis-ad-tabpnltmp">

    <div class="vis-ad-w-p-ap-tp-outerwrap">
        <div class="vis-ad-w-p-ap-tp-o-icorbar">
            <ul>
                
            </ul>
        </div>
        <div class="vis-ad-w-p-ap-tp-o-body">
            <div class="vis-ad-w-p-ap-tp-o-b-head">
                <h6 class=""></h6>
                <span class=""><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <div class="vis-ad-w-p-ap-tp-o-b-content">
            </div>

        </div><!-- vis-window-tab-panels -->
    </div><!-- vis-window-tab-panel-outerwrap -->
</template>






@*Controls*@
<template id="vis-ad-ctrlstmp">
    <div id="vis-ctrl-vtextbox">
        <div class="input-group vis-input-wrap">
            <div class="vis-inner-wrap">
                <input class="form-control" type="text" placeholder="Enter your text here">
                <label class="vis-input-label">--</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fal fa-handshake"></i>
                </span>
            </div>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</template>


<template id="vis-ad-fptmp">
        <div class="vis-fp-bodycontent">
            <div class="vis-fp-viwall">
                <span>[ViewAll]</span>
            </div>
            
                <div class="vis-fp-static-ctrlwrp">
                    @*controls*@
                </div>
                <div class="vis-fp-custcolumns" id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <span>[Custom Condition]</span>
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                <i class="vis vis-arrow-up"></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <div class="input-group vis-input-wrap">
                                    <div class="vis-control-wrap">
                                        <select class="vis-fp-cols"></select>
                                        <label class="vis-fp-lblcols">Column</label>
                                    </div>
                                </div>
                                <div class="input-group vis-input-wrap">
                                    <div class="vis-control-wrap">
                                        <select class="vis-fp-op"></select>
                                        <label class="vis-fp-lblop">Operator</label>
                                    </div>
                                </div>

                                <div class="vis-fp-valueone">
                                    @*<label style="">Query Value</label>*@
                                </div>
                                <div class="vis-fp-valuetwo">
                                    @*<label style="">Query Value To</label>*@
                                </div>
                                <div class="vis-fp-valuethree">

                                </div>
                                <div class="vis-fp-cc-addbtnwrp">
                                    <span class="vis-fp-cc-addbutton">Add</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vis-fp-custcoltagswrp">
                        <div class="vis-fp-custcoltag">

                        </div>
                    </div><!-- vis-fp-custcoltagswrp -->
                </div>
            
        </div>
    
</template>