<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://cloudservice.softwareonthecloud.com/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="CloudService.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://cloudservice.softwareonthecloud.com/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="CloudService.ServiceSoap" name="ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>