<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sbcloudservice.softwareonthecloud.com/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="CloudService.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>