/****** Style Inputs Control STRAT*****/
.vis-ev-col * {
    padding: 0px;
    font-weight: normal;
    color: rgba(var(--v-c-on-secondary), 1);
    margin-bottom: 0;
    margin-top: 0;
}

.vis-ev-full-h {
    height: 100%;
}


.vis-ev-col input:not([type=button]):not([type="checkbox"]):not([type="radio"]), .vis-ev-col select, .vis-ev-col textarea, .vis-control-wrap > button {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    /*border: 1px solid var(--input-border);*/
    border-radius: .25rem;
    color: rgba(var(--v-c-on-secondary), 1);
    background-color: transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.vis-ev-col input:not([type=button]):not([type="checkbox"]):not([type="radio"]),
.vis-ev-col textarea {
    padding: 5px 16px 5px 30px;
}

.vis-ev-col select {
    padding: 5px 30px 5px 30px !important;
}

.vis-input-wrap button.vis-ev-col-img-ctrl {
    min-height: 136px;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.vis-input-wrap label + button.vis-ev-col-img-ctrl {
    min-height: 115px;
    height: calc(100% - 21px);
    cursor: default;
}

.vis-input-wrap button.vis-ev-col-img-ctrl img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.vis-input-wrap-button-image-add {
    background: none !important;
    /*text-align: start;*/
    padding-left: 0px !important;
}

.vis-form-wrap {
    padding: 15px;
}

.vis-input-wrap {
    position: relative;
    margin-bottom: 15px;
}
.vis-input-wrap input:not([type="checkbox"]):not([type="radio"]), 
.vis-input-wrap select, .vis-control-wrap > button {
    height: 35px;
    -webkit-appearance: none;
    appearance: none;
}
.vis-control-wrap {
    flex: 1;
    position: relative;
    z-index: 1;
    width: 100%;
    /*display: flex;
    align-items: center;*/
}

.vis-ad-w-p-vc-gc [data-type='int'] {
    text-align: right;
}

.vis-input-wrap input {
    display: block;
    background-clip: padding-box;
}

.vis-input-wrap input, .vis-input-wrap textarea, .vis-input-wrap select, .vis-input-wrap > button {
    width: 100%;
    font-size: 14px;
}

.vis-input-wrap textarea {
    height: 100%;
}

/*.vis-input-wrap select, .vis-custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: linear-gradient(45deg, transparent 50%, rgba(var(--v-c-primary),1) 50%), linear-gradient(135deg, rgba(var(--v-c-primary),1) 50%, transparent 50%);
    background-position: calc(100% - 15px), calc(100% - 10px);
    background-size: 5px 4px, 5px 4px, 1px 1.5em;
    background-repeat: no-repeat;
}*/
select.vis-ev-col-mandatory {
    /*background-position: calc(100% - 25px), calc(100% - 20px);*/
}

.vis-control-wrap > button {
    background: rgba(var(--v-c-secondary), 1);
    width: 100%;
}

.vis-input-wrap input:not([data-placeholder=""]) ~ label {
    opacity: 0;
}

.vis-input-wrap label {
    color: rgba(var(--v-c-on-secondary), .6);
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    z-index: 4;
    margin: 0;
    height: 100%;
    align-items: center;
    display: flex;
}

.vis-input-wrap textarea ~ label {
    display: inline-block;
    padding-top: 5px;
}

.vis-input-wrap input:focus, .vis-input-wrap select:focus, .vis-input-wrap textarea:focus, .vis-control-wrap > button:focus {
    outline: none;
    box-shadow: none;
}

.vis-input-wrap input:focus, .vis-input-wrap select:focus, .vis-input-wrap textarea:focus {
    border: 1px solid rgba(var(--v-c-primary), 1);
}

.vis-input-wrap *[data-hasBtn] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.vis-input-wrap .input-group-prepend + .vis-control-wrap * {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.vis-input-wrap *[data-hasBtn]:focus {
    border-right: 1px solid rgba(var(--v-c-secondary),1);
}

.vis-input-wrap .input-group-prepend + .vis-control-wrap *:focus {
    border-left: 1px solid rgba(var(--v-c-secondary),1);
}

.vis-input-wrap input:focus ~ label, 
.vis-input-wrap input:not(:placeholder-shown) ~ label, 
.vis-input-wrap textarea:not(:placeholder-shown) ~ label, 
.vis-input-wrap select:focus ~ label, 
.vis-input-wrap textarea:focus ~ label, 
.vis-input-wrap select ~ label {
    top: -7px;
    font-size: 12px;
    background: linear-gradient(#fff 50%, transparent 50%);
    padding: 0 0.4rem;
    height: auto;
    left: 5px;
    opacity: 1;
    color: rgba(var(--v-c-on-secondary), 1);
}
.vis-input-wrap input:focus ~ label, 
.vis-input-wrap select:focus ~ label, 
.vis-input-wrap input:focus ~ label sup, 
.vis-input-wrap select:focus ~ label sup, 
.vis-input-wrap textarea:focus ~ label {
    color: rgba(var(--v-c-primary),1);
}
.input-group:focus-within .input-group-append .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-left: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.input-group:focus-within .input-group-prepend .input-group-text {
    border: 1px solid rgba(var(--v-c-primary),1);
    border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.input-group:focus-within .input-group-append:not(:last-child) .input-group-text {
    border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.vis-input-wrap input:not([data-placeholder=""])::-webkit-input-placeholder {
    opacity: 1;
}

.vis-input-wrap input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.vis-input-wrap .input-group-text {
    padding: .375rem .55rem;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    width: 35px;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(var(--v-c-secondary), 1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}


.input-group-text i {
    color: rgba(var(--v-c-on-secondary), 1);
}

.input-group-prepend .input-group-text i {
    color: rgba(var(--v-c-primary), 1);
}

.input-group-text img {
    max-width: 100%;
}

.vis-control-wrap > label:first-child {
    position: relative;
    height: auto;
    left: 0;
}

/* field group css STart*/
.vis-ev-col-fg-hdr {
    color: rgba(var(--v-c-primary), 1);
    font-size: 1rem;
    /*font-family: 'NoirPro-Medium';*/
    flex: 1;
}

.vis-ev-col-fieldgroup {
    background: rgba(var(--v-c-primary), 0.04);
    margin-bottom: 15px;
    /*padding: 5px 10px;*/
    display: flex;
    cursor: pointer;
}
.vis-ev-col-fieldgroup * {
    background: rgba(var(--v-c-on-secondary), .07);
}
.vis-ev-col-fieldgroup :first-child {
    padding: 5px 10px;
}
.vis-ev-col-fieldgroup :last-child {
    padding-right: 10px;
}
.vis-ev-col-fieldgroup i {
    font-size: 1.5rem;
    color: rgba(var(--v-c-primary), 1);
    /* padding: 0 10px; */
}

.vis-ev-col-fg-rotate {
    transform: rotateX(180deg);
}
/* field group css END*/
/****** Style Inputs Control END*****/
/***************************** Control Prop *******************************************/
.vis-ev-col-readonly {
    color: rgba(var(--v-c-on-secondary),.7) !important;
    background: rgba(var(--v-c-on-secondary),.04) !important;
    cursor: not-allowed;
}

select.vis-ev-col-readonly ~ label,
input.vis-ev-col-readonly:not(:placeholder-shown) ~ label {
    background: linear-gradient(#fff 50%, transparent 50%); /*Dynamic color*/
}


/*mandatory*/
.vis-ev-col-mandatory {
    color: inherit !important;
    background-color: rgba(var(--v-c-mandatory), .2);
    /*border: 1px solid rgba(var(--v-c-mandatory), 1) !important;*/
}

.vis-input-wrap .vis-ev-col-mandatory {
    color: rgba(var(--v-c-mandatory),1);
    background-color: inherit !important;
}
    /*.vis-input-wrap input.vis-ev-col-mandatory:not(:focus), .vis-input-wrap select:not(:focus).vis-ev-col-mandatory {
    border: 1px solid #ec3f3f;
}*/
.vis-input-wrap .vis-ev-col-mandatory ~ label, 
.vis-input-wrap .vis-ev-col-mandatory:not(:focus) ~ label sup, 
.vis-input-wrap .vis-ev-col-mandatory::-webkit-input-placeholder {
    color: rgba(var(--v-c-mandatory),1) !important;
}
.vis-ev-col-msign {
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
    color: rgba(var(--v-c-mandatory),1);
    display: none;
    height: 34px;
}

.vis-input-wrap select.vis-ev-col-mandatory ~ .vis-ev-col-msign {
    right: 30px;
}

.vis-ev-col-msign i {
    color: inherit;
}

.vis-input-wrap .vis-ev-col-mandatory ~ span {
    display: flex;
}

.vis-ev-col-error {
    background-color: #F5A0AD !important;
}

label.vis-ec-col-lblchkbox {
    position: relative;
    pointer-events: auto;
    left: 0;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    color: rgba(var(--v-c-on-secondary), 1);
    align-items: center;
}

/*.vis-ev-col label.vis-ec-col-lblchkbox {
    color: rgba(var(--v-c-on-secondary), 1);
    align-items: center;
}*/

.vis-ec-col-lblchkbox input[type=checkbox] {
    margin: 0 4px;
    padding: 0;
    border-radius: .15rem;
}
.vis-ec-col-lblchkbox input[type=checkbox]:focus {
    /* outline: auto; */
    /* outline-color: rgba(var(--v-c-primary), 1); */
}

.vis-ev-col input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px rgba(var(--v-c-common), 0.7);
}


/*.vis-ev-col-mandatory .input-group-text {
    border: 1px solid #ec3f3f;
    border-left: 1px solid var(--input-border);
}*/
/*END mendatory*/

/* control info icon*/
.vis-ev-ctrlinfowrap {
    position: absolute;
    left: 10px;
    top: 11px;
    cursor: pointer;
    outline: none;
    z-index: 5;
    display: flex;
    align-items: center;
}

label.vis-ec-col-lblchkbox + .vis-ev-ctrlinfowrap {
    position: relative;
    top: 0;
    left: 5px;
    display: inline-flex;
}

.vis-input-wrap textarea ~ .vis-ev-ctrlinfowrap, 
.vis-input-wrap button.vis-ev-col-img-ctrl ~ .vis-ev-ctrlinfowrap {
    top: 9px;
    align-items: flex-start;
    bottom: auto;
}

.vis-input-wrap button + .vis-ev-ctrlinfowrap {
    /*display: none;*/
}

.vis-input-wrap label + button + .vis-ev-ctrlinfowrap {
    margin-top: 21px;
}

/*bootstrap popover*/
.popover {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.popover-header {
    background-color: rgba(var(--v-c-secondary), 1);
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.popover, .popover-body {
    color: rgba(var(--v-c-on-secondary), 1);
}

/*for all forms*/
.input-group-text {
    display: inline-flex;
    justify-content: center;
    width: 36px;
}

.vis-img-ctrl-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(var(--v-c-on-secondary), .2);
    padding: 10px;
    border-bottom-left-radius: .25rem;
    cursor: pointer;
}

/*checkbox and radio css*/
input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    width: 12px;
    padding: 0;
    height: 12px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    min-width: 12px;
    min-height: 12px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    /*border: 1px solid rgba(var(--v-c-primary), 1);*/
    position: relative;
}
input[type="checkbox"]:focus, 
input[type="radio"]:focus {
    border: 1px solid rgba(var(--v-c-primary), 1);
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    right: 0;
    margin: auto;
}
input[type="checkbox"]:checked:before {
    width: 4px;
    height: 7px;
    bottom: 1px;
    border: solid rgba(var(--v-c-primary), 1);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
input[type="radio"]:checked:before {
    width: 6px;
    height: 6px;
    background-color: rgba(var(--v-c-primary), 1);
    bottom: 0;
    border-radius: .1rem;
}
input[type="checkbox"]:not(:checked),
input[type="radio"]:not(:checked){
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
}


/***************************** Control Prop End ****************************************/


