/*  */
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .vis-apanel-table-td3 {
        width: 500px;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .vis-apanel-table-td3 {
        width: 300px;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
@media only screen and (max-device-width : 1024px) {
    .vis-apanel-table-td3 {
        width: 0px;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
@media (max-width: 999px){
    .ui-dialog{
        max-width: 80% !important;
    }
}
@media (max-height: 767px) {
    .vis-allocation-payment-grid, .vis-allocation-cashLine-grid, .vis-allocation-invoice-grid, .vis-allocation-gl-grid {
        height: 80%;
    }
}
@media (max-width:600px) {

    .vis-ad-w-p-header-l {
        grid-column: 3 / 6;
        grid-row: 3 /3;
        height: 0px;
        width: auto;
    }

    .vis-ad-w-p-header_root_common {
        flex-direction: row !important;
        overflow-x: auto;
    }

    .vis-w-p-header-data-f label {
        min-width: 130px;
    }

    .vis-ad-w-p-center-flow-r {
        flex-direction: column;
    }

    .vis-ad-w-p-actionpanel-r {
        /*grid-column: 1/1;
        grid-row: 5/5;*/
        height: auto;
        width: auto;
    }
    .vis-ad-w-p-ap-tp-o-body {
        border-top-right-radius: .60rem;
    }
    .vis-ad-w-p-ap-tp-o-b-head {
        border-top-right-radius: .50rem;
    }

    .vis-ad-w-p-tabs-l {
        grid-column: 4/4;
        grid-row: 5 / 5;
        /*height: 22px;*/
        width: auto;
        flex-flow: row;
    }

    .vis-ad-w-p-tb-search {
        display: none;
    }

    .vis-ad-w-p-s-result {
        display: none;
    }

    .vis-ad-w-p-tabs-l .vis-ad-w-p-t-c {
        overflow: unset;
        overflow-x: auto;
        width: 1px;
    }

    .vis-ad-w-p-tabs-l ul {
        flex-flow: row;
    }

    #vis_userDate {
        display: none;
    }

    /* tab Panel*/
    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-outerwrap {
        flex-direction: column;
        width: auto !important;
    }

    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-o-icorbar {
        order: 1;
        height: 35px;
        width: auto;
        align-items: flex-start;
        flex-basis: auto;
    }

    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-outerwrap {
        width: auto;
        height: 500px;
    }

    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-o-icorbar ul {
        flex-direction: row;
    }
    .vis-ad-w-p-actionpanel-r li {
        border-bottom: 3px solid transparent;
        border-left: none;
        padding: 4px 9px;
    }

        li.vis-ad-w-p-ap-tp-o-li-selected {
            border-bottom: 3px solid rgba(var(--v-c-primary),1);
        }

             li.vis-ad-w-p-ap-tp-o-li-selected:before {
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                /*border-bottom: 5px solid transparent;*/
                border-bottom: 5px solid rgba(var(--v-c-primary),1);
                bottom: 0px;
                margin: auto;
                right: 0;
            }

/*Single layout*/

    .vis-ev-col {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .vis-ev-col-start2 {
        grid-column-start: 1;
    
    }

    .vis-ev-col-start3 {
        grid-column-start: 1;
      
    }

    .vis-ev-col-start4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .vis-ev-col-end2 {
        grid-column-end: 5;
    }

    .vis-ev-col-end3 {
        grid-column-end: 5;
    }

    .vis-ev-col-end4 {
        grid-column-end: 5;
    }
    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-o-b-content > div {
        position: relative;
    }
    .vis-apanel-sorttab-td-inner {
        height: 50%;
    }
    .vis-apanel-sorttab-td-inner {
        width: 75%;
    }

    /*Single layout*/
}


@media screen and (min-width: 650px) and (max-width: 1000px) {

    .vis-ev-col {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .vis-ev-col-start2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .vis-ev-col-start3 {
        grid-column-start: 1;
    }

    .vis-ev-col-start4 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .vis-ev-col-end2 {
        grid-column-end: 5;
    }

    .vis-ev-col-end3 {
        grid-column-end: 3;
    }

    .vis-ev-col-end4 {
        grid-column-end: 5;
    }
}


    /*.vis-w-ap-toolbar 
{
    margin: 0;
    flex-basis: auto;
}

.vis-w-ap-search 
{
    padding: 7px 10px;
    height: 91%;
    font-size: 13px;
    margin-right: 10px;
    flex-basis: 300px;
    vertical-align: middle;
    position: relative;
}*/

@media (hover: none) {
    .vis-fp-static-ctrlwrp, .vis-fp-datawrap {
        overflow: auto;
    }

    .vis-fp-viwall {
    visibility:visible;
    }
}
    /* END */
