html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 200;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.vis-app-body {
    height: 100%;
    width: 100%;
    /*display: flex;
    overflow: auto;
    flex-flow: column;*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.vis-app-hdr {
    /*flex-basis: 42px;*/
    height: 42px;
    display: flex;
    border-bottom: 1px solid rgba(var(--v-c-primary),0.07);
    padding-right: 5px;
    color: rgba(var(--v-c-primary),1);
}

    .vis-app-hdr ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .vis-app-hdr li {
        flex-basis: auto;
    }

    .vis-app-hdr a {
        /*color: rgba(var(--v-c-primary),1);*/
    }

        .vis-app-hdr a:hover {
            text-decoration: none;
            color: rgba(var(--v-c-primary), 1);
        }

.vis-app-hdr-l {
    flex: 0;
    flex-basis: auto;
    display: flex;
    list-style: none;
    margin: 0;
}

.vis-app-hdr-l-menu {
    background-color: rgba(var(--v-c-on-secondary),0.04);
    color: rgba(var(--v-c-on-secondary),0.40);
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    width: 42px;
    align-items: center;
    justify-content: center;
}

.vis-app.hdr-clouddaysleft {
    background-color: orange;
    color: rgba(var(--v-c-on-primary),1);
    height: 100%;
    font-size: 1.8rem;
    display: flex;
    width: 42px;
    align-items: center;
    justify-content: center;
}

.vis-app-v-line {
    color: rgba(var(--v-c-on-primary),1);
    width: 2px;
    display: block;
}

.vis-app-hdr-r {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

    .vis-app-hdr-r li {
        margin: 0 5px;
    }


.vis-app-hdr-r-theme {
    /*color: rgba(var(--v-c-primary),1);*/
}

.vis-app-hdr-r li:first-child {
    color: rgba(var(--v-c-on-secondary),0.60);
}

.vis-app-hdr-r-user {
    /*color: rgba(var(--v-c-primary),1);*/
    display: inline-flex;
    align-items: center;
    font-size: 1.1rem;
}

    .vis-app-hdr-r-user a {
        padding-right: 5px;
    }

.vis-app-hdr-r-logout {
    font-size: 1.4rem;
    margin-right: 2px;
    display: flex;
    /*padding: 6px;*/
    border-radius: 10px;
    /*background-color: rgba(var(--v-c-primary),1);*/
    color: rgba(var(--v-c-on-secondary),0.40);
}

.vis-app-overlay {
    height: 100%;
    position: absolute;
}

.vis-app-section {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
}

.vis-app-section-main {
    display: flex;
    /* flex-flow: column; */
    flex: 1;
}

/*footer*/

.vis-app-footer {
    height: 23px;
    grid-column-start: 1;
    grid-row-start: 3;
    background-color: rgba(var(--v-c-on-secondary),0.16);
}

    .vis-app-footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex
    }

    .vis-app-footer li {
        flex-basis: auto;
        padding: 1px;
        text-align: left;
        cursor: pointer;
        display: inline-flex;
        background-color: transparent;
        margin: 0;
        /*margin-right: 10px;
        margin-left: 10px;*/
        padding: 0px 10px 0px 10px;
        color: rgba(var(--v-c-on-secondary), 0.8);
        align-items: center;
        min-height: 23px;
    }

        .vis-app-footer li:first-child {
            background: rgba(var(--v-c-primary));
            color: rgba(var(--v-c-on-primary));
        }

        .vis-app-footer li.vis-app-f-selected {
            background: rgba(var(--v-c-on-secondary), 0.07);
            box-shadow: 0px 0px 5px rgba(var(--v-c-on-secondary), 0.39);
        }

.vis-app-f-taskbar li span {
    font-size: 0.975rem;
}

.vis-app-f-taskbar li a {
    font-size: 0.75rem;
    word-wrap: break-word;
    text-decoration: none;
    padding-left: 5px;
}

.vis-app-footer-c {
    display: flex;
    height: 100%;
}

.vis-app-footer-c-l {
    flex: 1;
}

.vis-app-footer-c-r {
    flex: 0;
    flex-basis: 23px;
}

/*end footer*/

/*them e*/
.vis-theme-rec {
    width: 138px;
    height: 25px;
    display: flex;
    border-radius: 5px;
    padding: 2px;
    background-color: lightgray;
    margin-bottom: 5px;
}

.vis-theme-color {
    height: 100%;
    flex: 1;
}
