

/* new Window Design*/

.vis-ad-w {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: rgba(var(--v-c-common), 1);
}

.vis-ad-w-header {
    /*height: 42px;*/
    display: flex;
    /*background-color: rgba(var(--v-c-primary),1);
    color: rgba(var(--v-c-on-primary));*/
    padding: 10px;
    position:relative; 
}

.vis-ad-w-name {
    flex-basis: auto;
    align-items: center;
    display: flex;
    /*margin: 0 5px;*/
    color: rgba(var(--v-c-primary), 1);
}

    .vis-ad-w-name h5 {
        margin: 0;
        font-size: 1rem;
    }

.vis-ad-w-toolbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.vis-ad-w-close {
    /*flex-basis: 42px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    cursor: pointer;
    color: rgb(var(--v-c-on-secondary), 1);
}

.vis-ad-process-close {
    order: 1;
    padding: 0 10px;
}

.vis-ad-w-header-border {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: rgba(var(--v-c-primary), 1);
    left: 0;
    bottom: 0;
}
.vis-ad-print-process {
    background: transparent !important;
}

.vis-ad-process-header {
    flex: 1;
    padding-left: 10px;
}



.vis-ad-w-body {
    grid-column-start: 1;
    grid-row-start: 2;
    /*display: flex;*/
    position: relative;
}


/* END window*/

/* APanel Start  ad window panel*/
/****_______________************************
    |_title________|
    |toolbar
    | header
    | filter
    |tabcontrol
    |center
    |status
*/

.vis-ad-w-p {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-template-rows: auto auto auto auto auto 1fr auto;
    height: calc(100vh - 66px);
    height: calc((var(--vis-screen-height,1vh) *100) - 66);
    max-height: height: calc((var(--vis-screen-height,1vh) *100) - 66);
    position: relative;
    /*overflow: auto;*/
}

.vis-ad-w-p-busy {
    width: 100%;
    /*background-color: red;*/
    opacity: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    bottom: 0;
    top: 0;
    color: rgba(var(--v-c-primary),1);
    /*background: url("../Images/busy.gif") no-repeat;
    background-position: center center;*/
}

.vis-ad-w-p-filterpnl {
    grid-column: 1/1;
    grid-row: 1/8;
    position:relative;
    width:260px;
}

.vis-ad-w-p-tabs-l {
    grid-column: 2 /2;
    grid-row: 1/8;
    display: flex;
    flex-flow: column;
}

.vis-ad-w-p-header-l {
    grid-column: 3/3;
    grid-row: 1/8;
    display: flex;
    overflow: auto;
    box-shadow: 1px 0px 4px 0px rgba(var(--v-c-on-secondary), 0.4);
    color: rgba(var(--v-c-on-primary),1);
    font-size: 1rem;
}

.vis-ad-w-p-title {
    grid-column: 4/7;
    grid-row: 1/1;
    padding: 5px 14px 5px;
    display: flex;
}

.vis-ad-w-p-tb {
    grid-column: 4/7;
    grid-row: 2/2;
    /* height: 20px; */
    display: flex;
    color: rgba(var(--v-c-primary),1);
    padding: 0px 8px 8px 3px;
    align-items: center;
}

.vis-ad-w-p-header-t {
    grid-column: 3/6;
    grid-row: 3/3;
    display: flex;
    overflow: auto;
    color: rgba(var(--v-c-on-primary),1);
    font-size: 1rem;
}

.vis-ad-w-p-filter {
    grid-column: 4/6;
    grid-row: 4/4;
    /*background-color: grey;*/
}

.vis-ad-w-p-tabs-t {
    grid-column: 4/4;
    grid-row: 5 / 5;
    display: flex;
    align-items: center;
    background: rgba(var(--v-c-secondary), 0.5);
    padding-top: 7px;
    padding-left: 10px;
}

.vis-ad-w-p-nav {
    grid-column: 5/5;
    grid-row: 5/5;
    display: flex;
    align-items: center;
    background: rgba(var(--v-c-secondary), 0.5);
    padding-right: 5px;
    padding-top: 5px;
}


/* header*/

.vis-ad-w-p-t-name {
    flex-basis: auto;
    align-items: center;
    display: flex;
    /*margin: 0 5px;*/
    color: rgb(var(--v-c-primary), 1);
}

    .vis-ad-w-p-t-name h5 {
        margin: 0;
        font-size: 1rem;
    }

.vis-ad-w-p-t-toolbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.vis-ad-w-p-t-close {
    /*flex-basis: 42px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    cursor: pointer;
    color: rgb(var(--v-c-on-secondary), 1);
}

.vis-ad-w-p-header-arrow-l {
    display: none;
    background: rgba(var(--v-c-on-secondary), 0.3);
    font-size: 1.2rem;
    padding: 5px 10px;
    color: white;
    height: 28px;
}

.vis-ad-w-p-header-arrow-l-po {
    position: absolute;
    cursor: pointer;
}


/* end */


/*
    -view1/view2
    - tabs/action
    -inctab
    - footer
*/
.vis-ad-w-p-center {
    grid-column: 4/6;
    grid-row: 6/6;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: rgba(var(--v-c-secondary), 0.5);
    position: absolute;
}

.vis-ad-w-p-center-flow-r {
    flex-direction: row;
}

.vis-ad-w-p-center-flow-b {
    flex-direction: column;
}

.vis-ad-w-p-action {
    grid-column: 6/6;
    grid-row: 3/8;
    width: 45px;
    display: flex;
    flex-flow: column;
    color: rgba(var(--v-c-primary), 1);
    position: relative;
    align-items: center;
    background-color: transparent;
}


.vis-ad-w-p-status {
    background-color: rgba(var(--v-c-secondary), 0.5);
    grid-column: 4/6;
    grid-row: 7/7;
    display: flex;
    font-size: 0.75rem;
    color: rgba(var(--v-c-on-secondary), 1);
    padding: 5px 10px;
}



/* toolbar action */
.vis-ad-w-p-tb-lc, .vis-ad-w-p-inc-tb-lc {
    margin: 0;
    font-size: 1.2rem;
    padding: 0;
    flex: 1;
    display: flex;
    list-style: none;
    align-items: center;
}

.vis-ad-w-p-inc-tb-lc {
    font-size: 1rem;
}

    .vis-ad-w-p-tb-lc li, .vis-ad-w-p-inc-tb-lc li {
        padding: 0 7px;
        display: inline-flex;
        color: rgba(var(--v-c-on-secondary), 1);
        align-items: center;
        cursor: pointer;
    }

        .vis-ad-w-p-tb-lc li > div, .vis-ad-w-p-inc-tb-lc li > div {
            display: inline-flex;
        }

        .vis-ad-w-p-tb-lc li span, .vis-ad-w-p-inc-tb-lc li span {
            font-size: 0.8rem;
            padding-left: 5px;
        }


.vis-ad-w-p-tb-search {
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(var(--v-c-secondary), .5);
    color: rgba(var(--v-c-on-secondary), 0.7);
    border-radius: 50px;
    padding-right: 10px;
    height: 32px;
}

.vis-ad-w-p-tb-advsrch {
    background: rgba(var(--v-c-primary),1);
    border-radius: 50px;
    height: 100%;
    width: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(var(--v-c-on-primary),1);
    cursor: pointer;
    font-size: .875rem;
    overflow: hidden;
}

    .vis-ad-w-p-tb-advsrch li, .vis-ad-w-p-tb-advsrch li > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }


.vis-ad-w-p-tb-search .vis-ad-w-p-tb-s-input {
    border: none !important;
    background: transparent;
    height: 100%;
    padding-left: 8px;
    border-radius: 0;
    font-size: 14px;
}

    .vis-ad-w-p-tb-search .vis-ad-w-p-tb-s-input:focus {
        outline: none;
    }

.vis-ad-w-p-tb-s-btn {
    padding-left: 3px;
    cursor: pointer;
}

.vis-ad-w-p-tb-s-icon {
    width: 20px;
    cursor: pointer;
    text-align: center;
}

.vis-ad-w-p-tb-s-icon-down {
    width: 20px;
    cursor: pointer;
    text-align: center;
}

.vis-ad-w-p-tb-rc {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.vis-ad-w-p-tb-rc-action {
    margin: 0 10px;
    font-size: 1.2rem;
    color: rgba(var(--v-c-on-secondary), 1);
    cursor: pointer;
}
span.vis-ad-w-p-tb-rc-action {
    margin-right: 0;
}
.vis-ad-w-p-inc-tab-ac-buttons .dropdown-toggle:after {
    margin-left: 0px;
    margin-right: 5px;
}

.vis-ad-w-p-inc-tab-ac-buttons {
    cursor: pointer;
}
    .vis-ad-w-p-tb-rc-action .dropdown-toggle:after {
        display: none;
    }

.vis-ad-w-p-tb-rc-action .dropdown-menu,
.vis-ad-w-p-inc-tab-ac-buttons .dropdown-menu {
    padding: 0;
    background: rgba(var(--v-c-secondary), 1);
    margin-top: 5px;
    border: 1px solid rgba(var(--v-c-primary), .05);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
}

.vis-ad-w-p-tb-rc-action .dropdown-item,
.vis-ad-w-p-inc-tab-ac-buttons .dropdown-item {
    font-weight: normal;
    font-size: .875rem;
    padding: .25rem 1rem;
}

    .vis-ad-w-p-tb-rc-action .dropdown-item:hover,
    .vis-ad-w-p-inc-tab-ac-buttons .dropdown-item:hover {
        background: rgba(var(--v-c-primary), 1);
        color: rgba(var(--v-c-on-primary), 1);
    }

    .vis-ad-w-p-tb-rc-action .dropdown-item:first-child,
    .vis-ad-w-p-inc-tab-ac-buttons .dropdown-item:first-child {
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
    }

    .vis-ad-w-p-tb-rc-action .dropdown-item:last-child,
    .vis-ad-w-p-inc-tab-ac-buttons .dropdown-item:last-child {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

.vis-ad-w-p-tb-rc-abar {
    color: rgba(var(--v-c-on-primary),1);
    background-color: rgba(var(--v-c-primary),1);
    border-radius: 25px;
    padding: 4px 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.vis-ad-w-p-tb-rc-a-list, .vis-ad-w-p-inc-tab-a-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.vis-ad-w-p-tb-rc-a-list li, .vis-ad-w-p-inc-tab-a-list li {
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}
.vis-ad-w-p-tb-rc-action .dropdown-menu li:first-child,
.vis-ad-w-p-inc-tab-ac-buttons .dropdown-menu li:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.vis-ad-w-p-tb-rc-action .dropdown-menu li:last-child,
.vis-ad-w-p-inc-tab-ac-buttons .dropdown-menu li:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.vis-ad-w-p-tb-rc-a-list li:hover,
.vis-ad-w-p-inc-tab-a-list li:hover{
    background-color: rgba(var(--v-c-primary),1);
    color: rgba(var(--v-c-on-primary),1);
}

.vis-ad-w-p-tb-rc-a-list li span, .vis-ad-w-p-inc-tab-a-list li span {
    font-size: 0.8rem;
    padding-left: 5px;
}

.vis-ad-w-p-tb-rc .dropdown-menu {
    transform: translate3d(-105px, 27px, 0px);
}
/*End toolbar */
/* tab controls*/


.vis-ad-w-p-tabs-t .vis-ad-w-p-t-c {
    flex: 1;
    display: flex;
    width: 1px;
    overflow: hidden;
}

.vis-ad-w-p-tabs-t .vis-ad-w-p-t-c-mob {
    overflow-x: auto;
}

.vis-ad-w-p-t-c-inc {
    flex: 1;
    display: flex;
    overflow-x: auto;
    width: 1px;
    overflow: hidden;
}

.vis-ad-w-p-tabs-t ul {
    flex-flow: row;
}

.vis-ad-w-p-tabs-l .vis-ad-w-p-t-c {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.vis-ad-w-p-tabs-l ul {
    flex-flow: column
}

.vis-ad-w-p-t-c ul,
.vis-ad-w-p-t-c-inc ul {
    flex: auto;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
}


.vis-ad-w-p-t-c-tc {
}

.vis-ad-w-p-t-c-inc-tc {
    flex-flow: row;
}

.vis-ad-w-p-t-c li, .vis-ad-w-p-t-c-inc li {
    /*margin: 1px 5px;*/
    color: rgba(var(--v-c-on-secondary), 1);
    padding: 0 10px 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.vis-ad-w-p-t-c-tc i, .vis-ad-w-p-t-c-inc-tc i {
    font-size: .875rem;
    display: inline-flex;
    padding-right: 3px;
}

.vis-ad-w-p-t-c-tc span, .vis-ad-w-p-t-c-inc-tc span {
    font-size: 0.9rem;
}

.vis-ad-w-p-t-c li.vis-apanel-tab-selected {
    border-bottom: 2px solid rgba(var(--v-c-primary),1);
    color: rgba(var(--v-c-primary),1);
}

.vis-ad-w-p-t-c li h5, .vis-ad-w-p-t-c-inc li h5 {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.vis-ad-w-p-t-c-inc li.vis-apanel-tab-selected {
    border-top: 2px solid rgba(var(--v-c-primary), 1);
    margin-bottom: -1px;
    border-bottom: none;
    background: #fff;
    position: relative;
}
.vis-ad-w-p-inc-tabs .vis-apanel-tab-selected:before {
    position: absolute;
    content: '';
    border: solid rgba(var(--v-c-primary), 1);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: -4px;
    background: #fff;
    left: 47%;
}
.vis-ad-w-p-t-c-inc li {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    border-bottom: none;
    padding-top: 5px;
    border-right: none;
}

    .vis-ad-w-p-t-c-inc li:last-child {
        border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
    }

.vis-ad-w-p-t-c-inc ul {
    padding-left: 20px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.vis-ad-w-p-inc-tabs + .vis-ad-w-p-inc-tb {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.vis-ad-w-p-t-c li.vis-apanel-tab-selected h5, .vis-ad-w-p-t-c-inc li.vis-apanel-tab-selected h5 {
    font-size: 0.9375rem;
}


.vis-ad-w-p-tabs-oflow, .vis-ad-w-p-inc-tabs-oflow {
    flex: 0;
    flex-basis: auto;
    display: flex;
    flex-flow: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

.vis-ad-w-p-tabs-t .vis-ad-w-p-tabs-oflow:first-child {
    padding-left: 0;
}
.vis-ad-w-p-inc-tabs-oflow:first-child {
    padding-left: 0;
}
.vis-ad-w-p-tabs-oflow a, .vis-ad-w-p-inc-tabs-oflow a {
    font-size: 1.2rem;
    padding: 2px 5px;
}



.vis-ad-w-p-nav-btns {
    flex: 0;
    flex-basis: auto;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 5px;
}

    .vis-ad-w-p-nav-btns li {
        padding: 0 5px;
        cursor: pointer;
        font-size: 1rem;
        color: rgba(var(--v-c-on-secondary), 1);
    }

        .vis-ad-w-p-nav-btns li:hover, .vis-ad-w-p-tb-lc li:hover {
            color: rgba(var(--v-c-primary), 1);
        }
/* end tab controls*/


/*center*/
.vis-ad-w-p-center-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 80%;
    max-height: 99%;
    /*overflow-y: hidden;*/
    padding: 0 10px;
    /*grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto auto auto auto;*/
}

.vis-ad-w-p-actionpanel-b {
    padding: 0 10px;
}

.vis-ad-w-p-center-tc {
    order: 1;
    /*background-color: floralwhite;*/
    /*height:200px;*/
}

.vis-ad-w-p-center-inctab {
    /*grid-row: 3/3;*/
    display: none;
    order: 2;
    padding: 0;
    flex: 0;
    flex-basis: 250px;
    flex-flow: column;
    /*padding-top:7px;*/
    /*height: 325px;*/
}

.vis-ad-w-p-inc-content .w2ui-grid .w2ui-grid-body table .w2ui-head {
    border-top: none;
}

.vis-ad-w-p-c-inc-main {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    display: grid;
    flex: 1;
    position: relative;
}

    .vis-ad-w-p-c-inc-main:before {
        position: absolute;
        content: "\f141";
        font: normal normal normal 18px/1 FontAwesome;
        color: rgba(var(--v-c-on-secondary), 1);
        top: -5px;
        left: 50%;
    }

.vis-ad-w-p-center-inctab .ui-resizable-n {
    top: 0;
}
/*include tab rows =3*/
/*include tab row 1*/
.vis-ad-w-p-inc-tabs {
    display: flex;
    flex-basis: auto;
    order: 0;
}
/*include tab row 2*/
.vis-ad-w-p-inc-tb {
    flex-basis: auto;
    display: flex;
    grid-row: 1/1;
    grid-column: 2/2;
    order: 1;
    flex-flow: row;
    color: rgba(var(--v-c-primary),1);
    padding: 0;
    align-items: center;
}
/*include tab row 3*/
.vis-ad-w-p-inc-content {
    grid-column: 1/3;
    grid-row: 2/2;
    /*flex:1;*/
    display: flex;
    height: 100%;
    /*order: 2;*/
}

.vis-ad-w-p-center-footer {
    order: 3;
}



.vis-ad-w-p-actionpanel-r {
    /*grid-column: 2/2;
    grid-row: 1/4;*/
}

/*.vis-ad-w-p-actionpanel-b {
    grid-column: 1/1;
    grid-row: 5/5;
}*/
.vis-ad-w-p-actionpanel-b .vis-ad-w-p-ap-tp-o-body {
    border-top-right-radius: .60rem;
}

.vis-ad-w-p-actionpanel-b .vis-ad-w-p-ap-tp-o-b-head {
    border-top-right-radius: .50rem;
}

/* end center */

/*View Controller*/
.vis-ad-w-p-vc {
    order: 0;
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    color: rgba(var(--v-c-on-secondary), 1);
    background: rgba(var(--v-c-common), 1);
    height: 100%;
}

.vis-ad-w-p .vis-ad-w-p-vc {
    height: auto;
}

/*tree css START here*/
.vis-ad-w-p-vc-tree {
    grid-row: 1/3;
    grid-column: 1/1;
    display: flex;
    width: 300px;
    background: rgba(var(--v-c-secondary), 0.5);
}

.vis-css-treewindow ul,
.vis-css-treewindow li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.vis-css-treewindow li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.vis-css-treewindow input[type="checkbox"] {
    position: absolute !important;
    opacity: 0;
}

.vis-css-treewindow {
    /*font: normal 11px "Segoe UI", Arial, Sans-serif;*/
    font-size: 13px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* height: 100%; */
    position: relative;
    display: block;
    /* margin-bottom: 30px; */
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    /* background-color: #1B1E24; */
    color: black;
    background: rgba(var(--v-c-common), 1);
    /* opacity: .9;*/
}

    .vis-css-treewindow a {
        color: rgba(var(--v-c-on-secondary), 1);
        text-decoration: none;
        /*color: #F8F8F8;*/
        display: inline-block;
    }

        .vis-css-treewindow a span {
            margin: 0 4px;
        }

.vis-css-treewindow > ul {
    padding: 2px 10px 0px 7px;
    width: auto;
}

    .vis-css-treewindow a:hover {
        /*text-decoration: underline;*/
    }

    .vis-css-treewindow input + label + span + ul {
        margin: 0 0 0 20px;
    }

html[dir="rtl"] .vis-css-treewindow input + label + span + ul {
    margin: 0 20px 0 0;
}

.vis-css-treewindow input + label + span + ul li img {
    margin: 0 4px 0 4px;
    height: 16px;
}

.vis-css-treewindow input ~ ul {
    display: none;
}

.vis-css-treewindow input:disabled + label {
    cursor: default;
    opacity: .6;
}

.vis-css-treewindow input:checked:not(:disabled) ~ ul {
    display: block;
}

/*.css-treeview label*/
.vis-css-treewindow label::before {
    /*background: url("../Images/login/folder.png") no-repeat;*/
    height: 16px;
    content: "\f114";
    width: 16px;
    margin: 0 4px 0 4px;
    font: normal normal normal 14px/1 FontAwesome;
}

.vis-css-treewindow label,
/*.css-treeview a,*/
.vis-css-treewindow label::before {
    display: inline-flex;
    height: 16px;
    /* line-height: 30px;*/
    vertical-align: top;
    cursor: pointer;
    color: rgba(var(--v-c-on-secondary), 0.8);
    align-items: center;
}

.vis-css-treewindow label {
    /*background-position: 18px 0;*/
    margin-right: 0px;
    font-weight: normal;
    margin-bottom: 0;
}

.vis-css-treewindow input:checked + label::before {
    /*background-position: 0 -16px;*/
    /*background: url("../Images/login/folder-open.png") no-repeat;*/
    content: "\f115";
}

.vis-css-treewindow input:checked {
    margin: 0;
}

label.vis-css-treewindow-selected, label.vis-css-treewindow-selected:before {
    /*background-color: #DDDFDF;*/
    color: rgba(var(--v-c-primary), 1);
}

.vis-treewindow-span {
    margin-left: 5px;
    width: 12px;
    cursor: pointer;
    display: inline-block;
}

.vis-css-treewindow-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* left arrow slant */
    border-right: 5px solid transparent; /* right arrow slant */
    border-top: 5px solid rgba(var(--v-c-on-secondary), 0.8); /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
}

.vis-css-treewindow-selected + span span {
    border-top: 5px solid rgba(var(--v-c-primary), 1);
}

.vis-tree-search {
    padding: 0px 10px 0px 0;
}

    .vis-tree-search input {
        background: rgba(var(--v-c-secondary), 1);
        border-radius: 1.5rem;
        font-size: 14px;
        padding: 0 10px;
        border: 1px solid rgba(var(--v-c-primary),.10);
        color: rgba(var(--v-c-on-secondary), 0.8);
    }

    .vis-tree-search .input-group {
        background: rgba(var(--v-c-common), 1);
        padding: 10px;
    }

.vis-ad-w-p-vc-tree td {
    padding: 0;
}

.vis-tree-search .input-group-text {
    border-radius: 1.5rem;
    background: rgba(var(--v-c-primary), 1);
    border: 1px solid rgba(var(--v-c-primary), 1);
}

    .vis-tree-search .input-group-text a {
        color: rgba(var(--v-c-on-primary), 1);
    }

.vis-tree-search input:focus {
    outline: none;
    border: 1px solid rgba(var(--v-c-primary), 1);
    box-shadow: none;
    background: rgba(var(--v-c-secondary), 1);
}

.vis-tree-search input::-webkit-input-placeholder {
    color: rgba(var(--v-c-primary), .6);
}


/*tree css END here*/
.vis-ad-w-p-vc-acontainer {
    grid-row: 1/1;
    grid-column: 2/2;
    display: flex;
    color: rgba(var(--v-c-on-secondary),1);
    background-color: rgba(var(--v-c-secondary),.5);
}

.vis-ad-w-p-vc-gc {
    grid-row: 2/2;
    grid-column: 2/2;
    position: relative;
}

.vis-ad-w-p-vc-v2 {
    grid-row: 1/3;
    grid-column: 1/3;
    display: none;
}

/* end View controller*/
/* vc include tab setting*/
.vis-ad-w-p-vc-header {
    margin-top: 10px;
    display: none;
}

.vis-ad-w-p-vc-actions {
    margin: 0;
    margin-top: 10px;
    display: none;
    list-style: none;
}

    .vis-ad-w-p-vc-actions li {
        padding: 0 5px;
    }
/* action bar*/


.vis-ad-w-a-arrow {
    display: flex;
    align-items: center;
    position: relative;
    top: -8px;
}

.vis-ad-w-p-a-main {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 1.2rem;
    padding: inherit;
    bottom: 40px;
    background-color: inherit;
    z-index: 1;
}

.vis-ad-w-p-a-main-mob {
    overflow-y: auto;
    bottom: 0px;
}

.vis-ad-w-p-a-m-lst {
    flex: auto;
    display: flex;
    flex-flow: column;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

.vis-ad-w-p-a-m-dlist {
    /*min-height: 35px;*/
    display: none;
}

.vis-ad-w-p-a-m-lst li {
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 35px;
    cursor: pointer;
}

.vis-ad-w-p-a-m-lst span {
    margin: 1px 0 0;
    font-size: .8rem;
    display: none;
    width: calc(97% - 40px);
    text-align: right;
    background: rgba(var(--v-c-common), 1);
    padding: 7px 5px;
    box-shadow: -1px 0px 3px 0px rgba(var(--v-c-on-common), 0.15);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid rgba(var(--v-c-on-common), 0.10);
    min-height: 34px;
}

.vis-ad-w-p-a-m-lst li i {
    /*float: right;*/
    /*width: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    /*cursor: pointer;*/
    min-width: 41px;
    color: rgba(var(--v-c-primary), 1);
    font-size: 1rem;
}

.vis-ad-w-p-a-m-lst span:after {
    /*content: '';
        position: absolute;
        background: #ffffff;
        width: 2px;
        height: auto;
        right: 31px;
        min-height: 51px;
        top: 2px;*/
}

.vis-ad-w-p-a-oflow {
    /*flex: 0;*/
    flex-basis: auto;
    margin-top: auto;
    display: flex;
    flex-flow: column;
    width: 100%;
    z-index: 2;
}
/* action end */


.vis-ad-w-p-s-plst li:not(:first-child) {
    padding: 3px 5px;
    background: rgba(var(--v-c-common), 1);
    border: 1px solid rgba(0, 0, 0, 0.18);
    cursor: pointer;
    font-size: 0.8rem;
}

.vis-ad-w-p-s-plst li {
    display: inline-flex;
    align-items: center;
    color: rgba(var(--v-c-on-secondary), 1);
}

    .vis-ad-w-p-s-plst li div {
        display: flex;
        align-items: center;
    }

    .vis-ad-w-p-s-plst li:nth-child(2) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: -1px;
        margin-left: 10px;
    }

    .vis-ad-w-p-s-plst li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -1px;
    }

    .vis-ad-w-p-s-plst li select {
        border: none;
        background-color: transparent;
    }

        .vis-ad-w-p-s-plst li select:focus {
            outline: none;
        }

li.vis-page-item-select {
    background: rgba(var(--v-c-primary), 1) !important;
    color: rgba(var(--v-c-on-primary), 1);
}

.vis-ad-w-p-s-main {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}
.vis-ad-w-p-s-infoline {
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: center !important;
}
/*.vis-ad-w-p-s-result {
    grid-row: 2/2;
    grid-column: 1/1;
}*/

.vis-ad-w-p-s-sep {
    margin: 0 10px;
}

.vis-ad-w-p-s-msg {
    grid-row: 1/1;
    grid-column: 1/1;
    overflow-y: auto;
    min-height: 17px;
    max-height: 29px;
}

.vis-ad-w-p-s-statusdb {
    cursor: pointer;
    padding: 0 10px;
    position: relative;
    margin-right: 10px;
    color: rgba(var(--v-c-primary),1);
}
.vis-ad-w-p-s-statusdb:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
    display: inline-block;
    right: 0;
}
.vis-ad-w-p-s-pages {
    grid-row: 1/1;
    grid-column: 3/3;
}

.vis-ad-w-p-s-plst {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}



/* views */

/* Single */
.vis-ad-w-p-vc-editview {
    padding: 0;
    overflow-y: auto;
    display: none;
    position: absolute;
    max-height: 100%;
    width: 100%;
    /* min-height: 100%; */
    padding: 15px 10px 0 10px;
}


.vis-ad-w-p-vc-ev-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
}

.vis-ev-col {
    grid-column-start: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
/*.vis-ev-col select, .vis-ev-col input {
        height: 35px;
        border-radius: 5px;
    }
    .vis-ev-col textarea{
        border-radius: 5px;
    }*/
.vis-ev-col-start2 {
    grid-column-start: 2;
}

.vis-ev-col-start3 {
    grid-column-start: 3;
}

.vis-ev-col-start4 {
    grid-column-start: 4;
}

.vis-ev-col-end2 {
    grid-column-end: 3;
}

.vis-ev-col-end3 {
    grid-column-end: 4;
}

.vis-ev-col-end4 {
    grid-column-end: 5;
}




/* End Single */




/*Header panel css START*/

.vis-ev-col-fg-more {
    display: flex;
    align-items: center;
    padding-right: 10px !important;
    font-size: .875rem;
    color: rgba(var(--v-c-primary), 1) !important;
}

.vis-ev-col-fieldgroup :last-child {
    padding-right: 10px;
    padding-top: 5px;
}

.vis-ev-col-fg-rotate {
    transform: rotateX(180deg);
    padding-top: 0 !important;
    padding-bottom: 5px;
}

.vis-ad-w-p-header-v {
    /*margin-top: -19px;*/
    position: absolute;
    color: rgba(var(--v-c-on-primary),1);
    top: 18px;
    left: auto;
    background: rgba(var(--v-c-primary),1);
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    padding: 2px 3px 0px 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
    font-size: 1.1rem;
}

.vis-ad-w-p-header-h {
    /*margin-top: 15px;*/
    position: absolute;
    color: rgba(var(--v-c-on-primary),1);
    top: 18px;
    left: auto;
    background: rgba(var(--v-c-primary),1);
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    padding: 1px 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
    font-size: 1.1rem;
}



.vis-ad-w-p-header_root_common {
    overflow-x: auto;
    /*font-family: 'NoirPro-Regular' !important;*/
    /*color:white;*/
    /*font-size:1rem;*/
}

.vis-w-p-header-data-f {
    /*font-size: 1rem;*/
    padding: 5px 10px 5px 0px;
    /*color: #fff;*/
    display: flex;
    /*align-items: center;*/
    flex: 1;
    width: 100%;
}

.vis-w-p-card-data-f {
    padding: 5px 10px 5px 0px;
    display: flex;
    flex: 1;
    width: 100%;
}

.vis-w-p-header-data-label {
    /*font-size: 0.80rem;*/
}

.vis-w-p-card-data-label {
    font-weight: 400;
    margin-bottom:0px;
}

.vis-w-p-card-Label-f span {
    /*font-weight: bolder;*/
}


/*.vis-w-p-header-data-f h3 {
        font-weight: normal;
        font-size: 0.875rem;
        margin-bottom: 3px;
    }*/

.vis-w-p-header-data-f p {
    font-size: 0.875rem;
    margin: 0;
}

.vis-w-p-header-data-f label {
    display: block;
    font-weight: unset;
    margin-bottom: unset;
    word-break: break-all;
}


.vis-w-p-header-icon-f {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    min-width:35px;
}


.vis-w-p-card-icon-f {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 35px;
}

/* .vis-w-p-header-icon-f:after {
    position: absolute;
        content: '';
        width: 35px;
        height: 35px;
        background: rgba(var(--v-c-on-secondary), 0.1);
        filter: brightness(0.2);
        z-index: 0;
    }*/

    .vis-w-p-header-icon-fixed {
        position: relative;
        z-index: 1;
        display: flex;
        border-radius: 50%;
        min-width: 35px;
        min-height: 35px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: rgba(var(--v-c-on-secondary), 0.1);
    }


.vis-w-p-card-icon-fixed {
    position: relative;
    z-index: 1;
    display: flex;
    /*border-radius: 50%;*/
    min-width: 35px;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*background: rgba(var(--v-c-on-secondary), 0.1);*/
}

.vis-w-p-header-icon-f span {
    position: relative;
    z-index: 1;
    display: flex;
    min-width: 35px;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    background: rgba(var(--v-c-on-secondary), 0.1);
    /*border-radius: 50%;*/
    width: 100%;
    height: 100%;
}

.vis-w-p-card-icon-f span {
    position: relative;
    z-index: 1;
    display: flex;
    min-width: 35px;
    min-height: 35px;
    align-items: center;
    /*justify-content: center;*/
    /*background: rgba(var(--v-c-on-secondary), 0.1);*/
    /*border-radius: 50%;*/
    width: 100%;
    height: 100%;
}

.vis-w-p-header-Label-f {
    /*padding-left: 10px;*/
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
}

    .vis-w-p-header-Label-f button {
        /*border-radius: 50%; 
        border: 2px solid #fff;
        overflow: hidden;*/
        /*margin: auto;*/
        width: 100%;
        border: none;
        max-height: 150px;
        background: transparent;
        overflow: hidden;
        color: inherit !important;
    }


        


    .vis-w-p-header-Label-f img {
        max-width: 100%;
        max-height: 100%;
        border: none;
        transform: scale(1.3);
    }



.vis-w-p-card-Label-f {
    display: flex;
    flex-direction: column;
    height:100%;

}

    .vis-w-p-card-Label-f button {
        width: 100%;
        border: none;
        max-height: 150px;
        background: transparent;
        overflow: hidden;
        color: inherit !important;
    }





    .vis-w-p-card-Label-f img {
        max-width: 100%;
        /*max-height: 100%;*/
        border: none;
        object-fit: cover;
        /*transform: scale(1.3);*/
    }



.vis-w-p-header-Label-center-f {
    /*width: calc(100% - 35px);*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}

    .vis-w-p-header-Label-center-f label {
        text-align: center;
    }


.vis-w-p-card-Label-center-f {
    display: flex;
    justify-content: center;
}

    .vis-w-p-card-Label-center-f label {
        text-align: center;
    }

.vis-grid-img-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: auto;
}

.vis-w-p-Header-Root-v {
    display: grid;
}

.vis-w-p-Header-Root-h {
    display: grid;
    flex: 1;
}

/*.vis-grid-img-thumb img {
        max-width: 100%;
    }*/


/*Header panel css END*/



/* Tab Panel CSS*/

.vis-ad-w-p-ap-tp-outerwrap {
    display: flex;
    height: auto;
    justify-content: flex-end;
    position: relative;
    width: 250px;
    background: #fff;
}

.vis-ad-w-p-ap-tp-o-icorbar {
    width: 35px;
    /* height: 100%; */
    order: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 35px;
    align-items: center;
}

.vis-ad-w-p-ap-tp-o-body {
    order: 1;
    flex: 1;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.10);
    border-top-left-radius: .60rem;
}

.vis-ad-w-p-ap-tp-o-b-head {
    display: flex;
    background: rgba(var(--v-c-primary),1);
    color: rgba(var(--v-c-on-primary),1);
    padding: 7px 10px;
    border-top-left-radius: .50rem;
}

    .vis-ad-w-p-ap-tp-o-b-head h6 {
        flex: 1;
        margin: 0;
        font-size: .875rem;
        display: inline-flex;
    }

    .vis-ad-w-p-ap-tp-o-b-head span {
        display: inline-flex;
        cursor: pointer;
    }

.vis-ad-w-p-ap-tp-o-b-content {
    height: calc(100% - 30px);
}

.vis-ad-w-p-a-oflow span {
    width: 100%;
    cursor: pointer;
    padding: 2px 0;
}

    .vis-ad-w-p-a-oflow span i {
        width: 100%;
        text-align: center;
    }

.vis-ad-w-p-ap-tp-o-icorbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.vis-ad-w-p-ap-tp-o-icorbar li {
    list-style: none;
    padding: 7px 0 7px 9px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
    justify-content: center;
    cursor: pointer;
    color: rgba(var(--v-c-primary),1);
}

.vis-ad-w-p-ap-tp-o-icorbar i {
    font-size: 1.1rem;
}

.vis-ad-w-p-ap-tp-o-icorbar img {
    max-width: 21px;
    max-height: 20px;
}

.vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-outerwrap {
    height: auto !important;
}

.vis-ad-w-p-actionpanel-b .vis-ad-w-p-ap-tp-outerwrap {
    flex-direction: column;
    width: auto !important;
    height: 250px;
}

.vis-ad-w-p-actionpanel-b .vis-ad-w-p-ap-tp-o-icorbar {
    order: 1;
    height: 35px;
    width: auto;
    align-items: flex-start;
    flex-basis: auto;
}

    .vis-ad-w-p-actionpanel-b .vis-ad-w-p-ap-tp-o-icorbar ul {
        flex-direction: row;
    }

li.vis-ad-w-p-ap-tp-o-li-selected {
    /*border-bottom: 1px solid #1aa0ed;
    border-top: 1px solid #1aa0ed;*/
    /*background: rgba(var(--v-c--primary),1);*/
    border-left: 3px solid rgba(var(--v-c-primary),1);
}

    li.vis-ad-w-p-ap-tp-o-li-selected:before {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid rgba(var(--v-c-primary),1);
        content: '';
        position: absolute;
        left: 0px;
    }

.vis-ad-w-p-actionpanel-b li {
    border-bottom: 3px solid transparent;
    border-left: none;
    padding: 4px 9px;
}

    .vis-ad-w-p-actionpanel-b li.vis-ad-w-p-ap-tp-o-li-selected {
        border-bottom: 3px solid rgba(var(--v-c-primary),1);
    }

        .vis-ad-w-p-actionpanel-b li.vis-ad-w-p-ap-tp-o-li-selected:before {
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            /*border-bottom: 5px solid transparent;*/
            border-bottom: 5px solid rgba(var(--v-c-primary),1);
            bottom: 0px;
            margin: auto;
            right: 0;
        }

/* End Tab Panel*/


/*actions popups css*/
.vis-chat-msgbox {
    Height: 65px;
    width: 100%;
    font-size: 10pt;
    resize: none;
    outline: none;
    border: 1px solid rgba(var(--v-c-on-secondary),.1);
    border-radius: .4rem;
    /*margin-top: 10px;*/
}

    .vis-chat-msgbox:focus {
        border: 1px solid rgba(var(--v-c-primary), 1);
    }

.vis-chatboxwrap {
    margin-bottom: 10px;
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
    min-height: 50px;
    border-radius: .4rem;
    overflow-y: auto;
    color: rgba(var(--v-c-on-secondary),1);
    display: flex;
    padding: 5px;
}

.vis-chatimgwrap {
    height: 48px;
    width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--v-c-primary),.3);
    border-radius: .25rem;
}

    .vis-chatimgwrap i {
        font-size: 1.75rem;
        color: rgba(var(--v-c-primary), 1);
    }

    .vis-chatimgwrap img {
        max-width: 100%;
        max-height: 100%;
    }

.vis-chatdetailwrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.vis-chatusername {
    color: rgba(var(--v-c-primary), 1);
    cursor: pointer;
    flex: 1;
}

.vis-chatdetailouterwrap {
    overflow-y: auto;
    height: 260px;
}

.vis-gc-vtable.w2ui-grid .w2ui-editable input, .vis-gc-vtable.w2ui-grid .w2ui-editable select {
    padding: 4px;
    min-height: 32px;
    font-size: .875rem;
    height: 32px;
    position: absolute;
    margin-top: -15px !important;
    z-index:1;
}



/**********************Filter Panel*/

.vis-fp-outerwrp {
    width: 260px;
    position: absolute;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(var(--v-c-on-secondary), .10);
    background: white;
}

.vis-fp-header {
    display: flex;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
    padding: 5px 10px;
    align-items: center;
}
.vis-fp-header h4 {
    margin: 0;
    font-size: 1rem;
    flex: 1;
}
.vis-fp-header i {
    font-size: .75rem;
    cursor: pointer;
}
.vis-fp-bodywrap {
    flex: 1;
    overflow: auto;
    height: calc(100% - 30px);
}
.vis-fp-bodycontent {
    height: 100%;
}
.vis-fp-custcolumns {
    padding: 10px;
    border-top: 1px solid rgba(var(--v-c-on-secondary), .2);
    margin-top: 5px;
}

.vis-fp-savedsearch {
    background: rgba(var(--v-c-secondary), .3);
    padding: 10px;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .1);
}

.vis-fp-fieldset {
    border: 1px solid rgba(var(--v-c-on-secondary), .3);
    border-radius: .25rem;
}

.vis-fp-legend {
    width: auto;
    padding: 0 5px;
    font-size: .75rem;
    margin: 0;
    margin-left: 5px;
}

.vis-fp-savedsearch select {
    width: 100%;
    border: none;
    background: transparent;
    font-size: .875rem;
    padding: 0 6px 5px;
    color: rgba(var(--v-c-on-secondary), 1);
    outline: none;
}

.vis-fp-fieldset:focus-within {
    border: 1px solid rgba(var(--v-c-primary), 1);
}

    .vis-fp-fieldset:focus-within legend {
        color: rgba(var(--v-c-primary), 1);
    }

.vis-fp-custcolumns .card {
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
}

.vis-fp-custcolumns .card-header {
    background: rgba(var(--v-c-secondary), .5);
    display: flex;
    padding: 5px 10px;
    font-size: .875rem;
}

    .vis-fp-custcolumns .card-header span {
        flex: 1;
    }

.vis-fp-custcolumns .card-body {
    padding: 10px;
}

.vis-fp-custcolumns a {
    color: rgba(var(--v-c-on-secondary), 1);
}

.vis-fp-custcoltagswrp {
    padding-top: 10px;
}
.vis-fp-custcoltag {
    display: flex;
    font-size: .75rem;
    /* align-items: center; */
    border-radius: 1rem;
    /* background: rgba(var(--v-c-secondary), .5); */
    /*padding: 3px 10px;*/
    flex-direction: column;
}

    .vis-fp-custcoltag span {
        flex: 1;
    }

    .vis-fp-custcoltag i {
        cursor: pointer;
    }



.vis-fp-footwrap {
    padding: 10px;
    display: flex;
}

    .vis-fp-footwrap input {
        background: rgba(var(--v-c-primary), 1);
        border: none;
        color: rgba(var(--v-c-on-primary), 1);
        border-radius: 3px;
        flex: 1;
        padding: 9px;
        cursor: pointer;
        font-size: .875rem;
    }

.main-fp-wrap {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
}

.vis-fp-static-ctrlwrp {
    padding: 5px 10px 0px;
    max-height: calc(100% - 60px);
    overflow: hidden;
}
.vis-fp-static-ctrlwrp:hover{
    overflow: overlay;
}

.vis-fp-static-ctrlwrp-auto {
    max-height: max-content;
}

.vis-fp-lst-searchrcrds {
    font-size: .75rem;
    position: relative;
    top: -10px;
}
.vis-fp-inputspan, .vis-fp-istagwrap {
    display: flex;
    align-items: center;
}
.vis-fp-inputspan {
    margin-bottom: 3px;
}
.vis-fp-istagwrap {
    flex: 1;
}
.vis-fp-lst-searchrcrds span {
    /* padding: 4px 0; */
    /* cursor: pointer; */
    margin-bottom: 0;
}

.vis-fp-viwall {
    display: flex;
    justify-content: flex-end;
    font-size: .75rem;
    color: rgba(var(--v-c-primary), 1);
    padding: 4px 10px 0 10px;
    visibility:hidden;
}
.vis-fp-viwall span {
    cursor: pointer;
}
.vis-fp-datawrap {
    height: calc(100% - 23px);
    overflow: hidden;
    padding-top: 1px;
}
.vis-fp-datawrap:hover{
    overflow: overlay;
}
.vis-fp-currntrcrdswrap {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    /*margin: 5px 0 7px 0;*/
    position: relative;
    top: -10px;
}
.vis-fp-currntrcrds {
    background: rgba(var(--v-c-secondary), .7);
    border-radius: .6rem;
    padding: 3px 0 3px 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 5px 0 5px 0;
}
.vis-fp-valueone .vis-input-wrap label {
    color: rgba(var(--v-c-on-secondary), 1);
}
.vis-fp-currntrcrds span {
    flex: 1;
    color: rgba(var(--v-c-primary), 1);
}
.vis-fp-currntrcrds i {
    font-size: .6rem;
    cursor: pointer;
    padding: 5px 7px;
    color: rgba(var(--v-c-primary), 1);
}
.vis-fp-currntrcrds:hover {
    background: rgba(var(--v-c-primary), .1);
    color: rgba(var(--v-c-primary), 1);
}
.vis-fp-inputspan input[type=checkbox] {
    border: 1px solid rgba(var(--v-c-on-secondary), 0.3);
    -webkit-appearance: none;
    border-radius: 2px;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
    outline: none;
}

    .vis-fp-inputspan input[type=checkbox]:checked {
        background: rgba(var(--v-c-primary), 1);
        border: 1px solid rgba(var(--v-c-primary), 1);
    }

        .vis-fp-inputspan input[type=checkbox]:checked:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 9px;
            top: 0;
            bottom: 2px;
            left: 1px;
            right: 0;
            margin: auto;
            border: solid rgba(var(--v-c-on-primary), 1);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

.vis-fp-spanCount {
    float: right;
    margin-right: 5px;
}
.vis-input-wrap .vis-fp-lst-searchrcrds {
    display: flex;
    top: auto;
}

.vis-input-wrap .vis-fp-lst-searchrcrds .vis-fp-inputspan {
    padding-left: 10px;
}
.vis-fp-cc-addbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
    border-radius: .25rem;
    padding: 7px;
    cursor: pointer;
}

.vis-apanel-sorttab-cont {
    display: flex;
    height: calc(100% - 21px);
}

    .vis-apanel-sorttab-cont ul.vis-sortTab-select {
        margin: 0 20px;
        flex: 1;
    }

    .vis-apanel-sorttab-cont ul li {
        padding: 3px 15px;
    }

        .vis-apanel-sorttab-cont ul li:nth-child(odd) {
            background: rgba(var(--v-c-secondary), .5);
        }
/**********************END Filter Panel*/


.vis-grid-td-icon-grp {
    padding: 0px 7px 0px 0px !important;
    display: flex;
    align-items: center;
}

.vis-grid-row-td-icon {
    height: 32px;
    width: 32px;
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 .4rem;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--v-c-primary),0.4);
}

    .vis-grid-row-td-icon span {
        /* font-weight: bold; */
        font-size: 24px;
        /* color: rgba(var(--v-c-primary)); */
        line-height: 16px;
        display: contents;
    }
.vis-grid-row-td-icon i {
    font-size: 1.1rem;
    margin-top: .1rem;
}

.vis-grid-td-icon-grp.w2ui-editable {
    display: block;
}

*, button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.vis-navMainWrap {
    /*width: 80vw;*/
    height: calc(100vh - 66px);
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 10%);
    min-width: 550px !important;
}

.vis-navFilterIco {
    /* width: 30px; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(var(--v-c-primary), 1);
    font-size: 1.2rem;
    position: relative;
    padding-right: .4rem;
}
.vis-navFilterIco a {
    font-size: 1.5rem;
}
.vis-removeFilter {
    position: absolute;
    background: #ffffff;
    right: -2px;
    bottom: 3px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #0098f7;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.vis-navSearchWrap {
    background: rgba(var(--v-c-secondary), .5);
    border-radius: 1rem;
    flex: 1;
}

    .vis-navSearchWrap input {
        height: 30px;
        border-radius: 1rem;
        border: none;
        font-size: .875rem;
        padding-left: 1rem;
        background-color: transparent;
    }

        .vis-navSearchWrap input:focus {
            box-shadow: none;
            background-color: transparent;
        }

    .vis-navSearchWrap .input-group-text {
        border-radius: 1rem;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        background: rgba(var(--v-c-primary), 1);
        color: rgba(var(--v-c-on-primary), 1);
        border: none;
        cursor: pointer;
    }

.vis-navFilterIco:before {
    position: relative;
    content: '|';
    color: rgba(var(--v-c-on-secondary), .2);
    margin-right: .625rem;
    margin-left: .8rem;
}

.vis-navHeadWrap {
    padding: .4rem .625rem;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .05);
    justify-content: space-between;
}

    .vis-navHeadWrap h5 {
        color: rgba(var(--v-c-primary), 1);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        width:250px
    }

.vis-navFilterIco i {
    cursor: pointer;
}

.vis-navLeftWrap {
    width: 250px;
    /*background: rgba(var(--v-c-secondary), .3);*/
    height: 100%;
    border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
    overflow: auto;
}

.vis-navMainWrap > .vis-navContentWrap {
    height: calc(100% - 43px);
    width: 100%;
}

.vis-navList {
    display: flex;
    align-items: center;

}

.vis-navmenuItems-Container .vis-navList a i {
    padding-right: .5rem;
}

.vis-navList a {
    color: inherit;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex: 1;
}
.vis-navLeftWrap .vis-navList a {
    justify-content: space-between;
}

.vis-navList a span {
    flex: 1;
}

    .vis-navList a i:first-child,
    .vis-navLeftWrap a i {
        font-size: .75rem;
    }

.vis-navColWrap {
    padding-left: 1rem;
    padding-top: .625rem;
    flex: 1;
}
.vis-navColWrap > .vis-navSubMenu:first-child {
    margin-top: .5rem;
}
.vis-navColWrap > .vis-navSubMenu {
    padding-left: 0;
}
.vis-navDataHead {
    display: flex;
    align-items: center;
    font-size: .875rem;
    color: rgba(var(--v-c-on-secondary), 1);
    margin-bottom: .5rem;
    font-weight: 600;
}

.vis-navDataHead i, 
.vis-navDataHead img {
    padding-right: .5rem;
}
.vis-navDataWrap a span {
    padding: 0 .5rem;
    font-size: .875rem;
}

.vis-navDataWrap .vis-navList {
    border-left: 3px solid rgba(var(--v-c-on-secondary), .1);
    display: flex;
    align-items: center;
}

.vis-navLeftWrap .vis-navSelected {
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
}

.vis-navDataWrap .vis-navSelected {
    border-color: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-primary), 1);
}

.vis-navMainContent {
    flex: 1;
    padding-right: .5rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: calc(100% - 258px);
}

.vis-navDataWrap ul {
    padding-left: .8rem;
}

.vis-navDataWrap .vis-navSelected i:last-child {
    color: rgba(var(--v-c-on-secondary), 1);
}

.vis-navList .dropdown-toggle {
    background: transparent;
    border: none;
}

    .vis-navList .dropdown-toggle:after {
        display: none;
    }

.vis-navDataWrap .vis-navList:not(.vis-navSelected) a,
.vis-navList .dropdown-toggle {
    opacity: .8;
    font-size: 1rem;
}

.vis-navList span {
    padding: 0 .5rem;
}

.vis-navSubMenu {
    margin-top: 1rem;
    padding-left: .5rem;
}

.vis-navmenuItems-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.vis-navmenuItems-Container .vis-navList {
    border-left: 3px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-navMainContent .vis-navList:hover {
    border-color: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-primary), 1);
}
.vis-navContentWrap,
.vis-navMainContent {
    width: 100%;
}

.vis-menuSum-hide {
display:none !important;
}
.vis-navAccordian {
    padding: .1rem .4rem !important;
    cursor: pointer;    
}

.vis-navDataHead span {
    flex: 1;
}
.vis-navLeftWrap .vis-navList {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .05);
}
.vismenu-hidden-header {
    padding: .5rem 0 .2rem 0;
    margin: .625rem 0 0 1rem;
    font-weight: 600;
    color: rgba(var(--v-c-primary), 1);
    width: 98%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}
.vis-nav-AllItems {
    width: 100%;
}

.vis-nav-AllItems-Header {
    background: #fff;
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    position: absolute;
    z-index: 1;
    padding: 0 .625rem;
}

.vismenu-hidden-header:after {
    position: absolute;
    content: '';
    height: 1px;
    /*background: linear-gradient( 90deg, transparent 10%, rgba(var(--v-c-primary), 1) 50%, transparent 90%);*/
    width: 60%;
    top: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    margin: auto;
    background-color: rgba(var(--v-c-primary), 1);
}

.vis-grid-row-td-icon-center {
    display: flex;
    justify-content: center;
    padding: 3px !important;
}

.vis-window-instruc-overlay-new {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000040;
    z-index: 5;
}

.vis-window-instruc-overlay-new-inn {
    position: relative;
    top: 76px;
    left: 72px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1);
    width:max-content;
    border-radius: 0.25rem;
    padding: 10px;
}

html[dir="rtl"] .vis-window-instruc-overlay-new-inn {
    left:auto;
    right:72px;
}

.vis-window-instruc-overlay-new-li {
    position: relative;
    z-index: 99;
    background: #fff;
    padding: 0.5rem !important;
    border-radius: 0.3rem;
    transform: scale(1.1);
}

.vis-window-instruc-overlay-new-inn p {
    margin-bottom: 0px;
}

.vis-window-instruc-overlay-new-inn:before {
    position: absolute;
    content: '';
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(var(--v-c-primary), 1);
}

/*.vis-menu-heading-divider-left,
.vis-menu-heading-divider-right {
    flex: 1;
    height: 1px;
}
.vis-menu-heading-divider-left {
    background: linear-gradient( 90deg, transparent 10%, rgba(var(--v-c-primary), 1) 90%);
}

.vis-menu-heading-divider-right {
    background: linear-gradient( 90deg, rgba(var(--v-c-primary), 1) 10%, transparent 90%);
}*/