@{
    Layout = null;

    var url1 = Url.Content("~/");
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="2;url= @url1" />
    <title> Redirect </title>
</head>
<body>
    <h2>Sorry, either your session or Authroized token has timed out. You'll be redirected to the Home page in 3 seconds...
    </h2>
</body>
</html>
