
@*Main Div*@
<div>
    @*Upper div*@
    <div>
        
        @*left div*@
        <div></div>

        @*Middle div*@
        <div>
        </div>


        @*Right div*@
        <div>
        </div>
    </div>

    @*lower div*@
    <div>
    </div>

</div>
