<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sbcloudservice.softwareonthecloud.com/AccountService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountServiceSoap"
                contract="AcctService.AccountServiceSoap" name="AccountServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>