/*w2ui Grid*/
/* align middle row data*/
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data
{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.w2ui-grid .w2ui-grid-body table .w2ui-col-number
{
    width: 34px;
    color: #777777;
    background-color: rgba(233, 237, 243, 0.5);
    vertical-align: middle;
}

.w2ui-grid .w2ui-grid-body table .w2ui-col-select
{
    width: 26px;
    vertical-align: middle;
   
}
/*end*/

/*change color row odd and even*/
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd
{
    color: inherit;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
}

    /*.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover
    {
        color: inherit;
        background-color: #63BFE9;
    }

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover
    {
        background-color: #ffffff;
    }*/

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even
{
    color: inherit;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
}

    /*.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover
    {
        color: inherit;
        background-color: #63BFE9;
    }

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-empty-record:hover
    {
        background-color: #ffffff;
    }*/

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected
{
    color: #000000 !important;
    background-color: #63BFE9 !important;
}



/* grid Header*/
.w2ui-grid .w2ui-grid-body table .w2ui-head
{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    color: #000000;
    background: #E8EEF0;
    /*background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: linear-gradient(#f9f9f9, #e4e4e4);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe4e4e4', GradientType=0);*/
}

    .w2ui-grid .w2ui-grid-body table .w2ui-head > div
    {
        padding: 7px 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }


/*
 *  w2ui panel
 */
/*set zindex 0 default is 120 */
.w2ui-layout > div .w2ui-panel
{
    z-index: 0;
}
/* end */

/* w2ui overlay before*/
.w2ui-overlay:before {
    left:0;
}



input:not([type=button]):disabled, select:disabled, textarea:disabled, input:not([type=button])[readonly], select[readonly], textarea[readonly] {
    background-color:inherit;
    color:inherit;
}

/*
 *  Jquery Dialog Custome Design
 */
.ui-dialog .ui-dialog-titlebar-close
{
    width: 40px;
    background: url('../base/images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
    padding-top: 24px;
    padding-bottom: 20px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    position: absolute;
    top: 9px;
    right: 0px;
}


html[dir="rtl"] .ui-dialog .ui-dialog-titlebar-close {
    right:auto;
    left: 0em !important;

}

.ui-dialog .ui-dialog-titlebar
{
    width: 100%;
    background: #1aa0ed;
    /*padding: 10px 0px 10px 0px;
    float: left;
    padding-left: 1%;*/
    margin: 0;
}

.ui-dialog .ui-dialog-title
{
    margin: 0;
    font-size: 22px;
    font-family: helvetica;
    font-weight: 400;
    color: white;
}

html[dir="rtl"] .ui-dialog .ui-dialog-title {
    float: right;
}


.ui-dialog
{
    border-left: 2px solid #3892DA;
    border-right: 2px solid #3892DA;
    border-bottom: 2px solid #3892DA;
}

.ui-button-text-only
{
    border: 0px;
    background: #616364 !Important;
    padding: 5px 10px;
    color: white !Important;
    font-size: 14px;
    font-weight: 200;
    font-family: helvetica;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;
}

.ui-dialog .ui-dialog-content
{
    position: relative;
    border: 0;
    padding: 10px 15px 10px 15px;
    background: 0;
    overflow: auto;
}
    
.ui-widget
{
    font-family: helvetica;
    font-size: 1em;
}
