<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMService"/>
                <binding name="ServiceSoap1"/>
                <binding name="BasicHttpBinding_IMService1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.161/CloudService55/MService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMService" contract="MService.IMService" name="BasicHttpBinding_IMService"/>
            <endpoint address="http://localhost/cloudservice55/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap1" contract="ServerInfo.ServiceSoap" name="ServiceSoap1"/>
            <endpoint address="http://localhost/CloudService12/MService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMService1" contract="MService.IMService" name="BasicHttpBinding_IMService1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
