/*p { font-size: 14px;}*/


@font-face {
    font-family: 'HelveticaStd';
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaRoman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}




.market-body {
    margin: 0px;
    background: #63BFE9;
    font-family: HelveticaRoman;
    font-weight: 400;
    outline: none;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

    .market-body p {
        font-size: 14px;
    }

    .market-body ul {
        padding: 0;
    }




    .market-body li {
        list-style: none;
    }


.market-clear-both {
    clear: both;
}



.market-header {
    position: fixed;
    width: 100%;
}

.market-header-down {
    height: 5%;
    background: #009DF0;
    min-height: 42px;
}

.market-app-list-inner > img {
    margin-top: 6px;
}

.header-menu-li {
    padding: 0px;
    margin: 0px;
    float: right;
    width: 95%;
    padding-right: 10px;
}

.market-body h2 {
    margin: 0;
    border-bottom: 1px solid #E3F5FD;
    font-size: 20px;
    color: #1b95d7;
    font-weight: 200;
}

.market-body h2 {
    margin: 0;
    border-bottom: 1px solid #E3F5FD;
    font-size: 20px;
    color: #1b95d7;
    margin-top: 25px;
    cursor: pointer;
    font-weight: 600!important;
}

.market-body h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

    .market-body h4 sup {
        color: red;
    }

.market-body h5 {
    font-size: 16px;
    color: white;
    margin: 0px;
}

.market-sear {
    background: url('../Images/sear.png');
    width: 27px;
    height: 26px;
    border: 0px;
    vertical-align: middle;
}

.market-body img {
    vertical-align: middle;
}

.market-pretraga input {
    border: 1px solid #007BC1;
    padding: 3px;
    background: #0080C9;
    margin: 0px;
    color: white;
    height: 26px;
    width: 89%;
}

.market-close-img {
    padding: 0px!important;
    margin: 0px!important;
    background-color: #616364!important;
    width: 44px;
    height: 42px!important;
    margin-top: -5px!important;
    background: url('../Images/close.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
}

li.market-pretraga {
    width: 300px;
}



.market-body ul a {
    font-size: 15px;
    text-decoration: none;
}


@media screen and (min-width:768px) and (max-width:1024px) {
    .market-about-app > img {
        width: 22% !important;
    }

    .market-left-sidebar {
        width: 300px !important;
    }

    .market-body .market-app-detail-inner .market-title {
        font-size: 22px !important;
        margin-top: 3px !important;
    }

    .market-author {
        font-size: 11px !important;
    }

    .market-about-app {
        width: 65%;
    }

    .market-app-install {
        width: 60px !important;
        padding: 3px !important;
        font-size: 13px !important;
    }

    .market-app-detail-inner .market-install-detail {
        font-size: 12px !important;
    }

    .market-body .market-app-rating p {
        font-size: 12px !important;
        margin: 0 0 4px !important;
    }

    .market-app-description {
        margin-top: 20px !important;
        padding: 15px 20px 20px !important;
    }

    .market-app-rating {
        margin-top: 10px !important;
    }

    .market-app-list-inner {
        width: 100%;
    }

        .market-app-list-inner > div {
            width: 51%!important;
        }

    .market-app-install {
        float: left !important;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    li.market-pretraga {
        width: 273px;
    }

    .market-left-sidebar {
        width: 250px !important;
    }

    .market-app-list-inner > img {
        margin-bottom: 10px;
        width: 50px;
    }

    .market-app-list .market-app-list-inner p.market-title {
        font-size: 11px;
    }

    .market-app-list .market-app-list-inner p.market-tag-line {
        font-size: 11px;
    }

    .market-about-app {
        width: 54%;
    }

    .market-body .market-app-detail-inner .market-title {
        margin-bottom: 10px !important;
    }

    .market-about-app > div {
        float: none !important;
    }

    .market-reviews-right {
        width: 67% !important;
    }

    .market-reviews-left {
        width: 30% !important;
    }
}

@media screen and (max-width:767px) {
    .nevidljivo {
        display: none;
    }

    .header-down-right ul li {
        display: none;
    }

    .market-body .market-li {
        font-size: 14px !important;
        padding: 7px 25px 7px 56px !important;
    }

    html[dir="rtl"] .market-body .market-li {
        padding: 7px 56px 7px 25px !important;
    }

    .market-body .market-pretraga {
        padding: 3px 0 !important;
        width: 39% !important;
    }

    .market-body .market-search-input {
        width: 71% !important;
    }

    .market-body .market-sear {
        margin-top: -1px !important;
    }

    .market-body .market-li-close-img .market-close-img {
        background-position: 14px 6px !important;
        height: 31px !important;
        margin: 0 !important;
    }

    .market-body .market-header-down {
        height: 2% !important;
        min-height: 1% !important;
    }

    .market-body .market-app-menu {
        overflow-x: scroll;
    }

    .market-app-menu > ul {
        overflow-x: scroll;
        width: 784px;
    }

    .market-left-sidebar {
        width: 100% !important;
        float: none !important;
        height: auto !important;
    }

    .market-right-content {
        height: auto !important;
    }

    .market-about-app {
        float: none !important;
        overflow: hidden;
    }

    .market-body .market-about-app > img {
        float: none !important;
        margin: 0 auto !important;
        display: block;
    }

    .market-app-detail-inner .market-title {
        text-align: center;
    }

    .market-app-rating {
        float: none !important;
        margin-top: 20px !important;
    }

    .market-app-description {
        margin-top: 20px !important;
        padding: 20px !important;
    }

    .market-screenshot-inner > div {
        width: 220px !important;
    }

        .market-screenshot-inner > div > img {
            width: 100% !important;
        }

    .market-ai-block {
        width: 100% !important;
        padding-bottom: 10px !important;
    }

    .market-reviews-left {
        float: none !important;
        margin-bottom: 20px;
        width: 100% !important;
    }

    .market-rw-img {
        margin-bottom: 20px;
    }

    .market-reviews-right {
        display: block;
        float: none !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .market-app-list-inner > div {
        width: 120px;
    }
}
/*Market Page*/
.market-body {
    background-color: transparent;
}

.i.activ-hover.active-on {
    margin-left: 3px;
}

.market-body .market-header-down ul {
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.market-body .header-up-left {
    height: 37px !important;
}

.market-body .market-header-down ul li {
    float: left;
}

html[dir="rtl"] .market-body .market-header-down ul li {
    float: right;
}

.market-body .market-pretraga {
    padding: 8px 0;
}

.market-li {
    background-image: url("../Images/market_green.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    font-size: 19px;
    margin-right: 8px;
    padding: 9px 29px 8px 85px;
}

html[dir="rtl"] .market-li {
    margin-right: 0px;
    margin-left: 8px;
    padding: 9px 85px 8px 29px;
    background-image: url("../Images/market_green_rtl.jpg");
}

.market-body .folder img {
    margin-top: 0px;
}

.market-body .up-ul-li li {
    padding: 2px 14px;
}

.market-body label {
    margin: 0;
    font-weight: 400;
}


.market-body .market-li-close-img {
    float: right !important;
}

.market-body .market-checkbox {
    float: right !important;
    padding: 11px 10px 0 10px;
    color: white;
}

.market-checkbox {
    margin: 0;
}



.market-cb {
    margin: 0 4px 0 4px!important;
    vertical-align: middle;
}


html[dir="rtl"] .market-body .market-li-close-img {
    float: left !important;
}

html[dir="rtl"] .market-body .market-checkbox {
    float: left !important;
}

.market-body .log-out > a {
    color: transparent;
}

.market-body .market-close-img {
    /*background-position: 14px 17px;*/
    height: 44px !important;
    margin: 0 0 0 !important;
    width: 44px;
    float: right;
}

.market-app-menu {
    float: left;
    /*margin-top: 82px;*/
    margin-top: 44px;
    overflow: hidden;
    width: 100%;
}

    .market-app-menu ul {
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid #eeeeee;
    }

    .market-app-menu li {
        float: left;
    }

html[dir="rtl"] .market-app-menu li {
    float: right;
    border-left: 1px solid #eeeeee;
    border-right-width: 0;
}

.market-app-menu-a {
    border-bottom: 3px solid transparent;
    color: #999999;
    display: block;
    padding: 15px 24px 15px 48px;
    background-repeat: no-repeat;
    background-position: 13px center;
}

html[dir="rtl"] .market-app-menu-a {
    padding: 15px 48px 15px 24px;
    background-position: center right 13px;
}

.market-body .market-search-input {
    width: 66%;
}

.market-app-menu-a:hover {
    border-bottom: 3px solid #eeeeee;
}

.market-a-active {
    color: #000000 !important;
    border-bottom: 3px solid #009df0 !important;
}

.market-app-menu li {
    border-right: 1px solid #eeeeee;
    float: left;
}

.market-all-app {
    background-image: url('../Images/all_app.png');
}

.market-top-paid {
    background-image: url('../Images/top_paid.png');
}

.market-top-free {
    background-image: url('../Images/top_free.png');
}

.market-planned {
    background-image: url('../Images/planned.png');
}

.market-my-app {
    background-image: url('../Images/my_app.png');
}

.market-main-app-list {
    padding-left: 0px;
}

.market-main-app-list {
    overflow: hidden;
    padding-left: 0px;
    margin-top: 5px;
}

.market-app-list {
    border-bottom: 1px solid #eeeeee;
    float: left;
    padding: 15px 20px 15px 15px;
    width: 100%;
}

html[dir="rtl"] .market-app-list {
    padding: 15px 15px 15px 20px;
}

.market-stars {
    color: transparent;
    margin: 0px;
}

.market-app-list:hover {
    background-color: #009df0;
}

.market-app-list .market-app-list-inner p {
    margin: 0;
}

    .market-app-list .market-app-list-inner p.market-tag-line {
        font-size: 12px;
        opacity: 0.6;
    }

.market-app-list:hover .market-stars {
    /*background-image: url('../Images/stars/stars_hover.png');*/
}

.market-app-list:hover .market-app-install {
    color: #60bd32;
}

.market-stars {
    background-image: url('../Images/stars/four-half-stars.png');
    background-repeat: no-repeat;
    background-position: left center;
}

html[dir="rtl"] .market-stars {
    background-position: right center;
}

.market-app-list:hover .market-title, .market-app-list:hover .market-tag-line {
    color: #fff;
}

.market-selected-module {
    color: #fff;
    background-color: #009df0;
}


.market-title {
    margin-top: 5px !important;
}

.market-app-list-inner > img {
    margin-right: 15px;
    max-height: 50px;
    max-width: 50px;
}

.market-app-list-inner > div, .market-app-list-inner > img {
    float: left;
    width: 65%;
}

html[dir="rtl"] .market-app-list-inner > div {
    float: right;
    width: 65%;
}

html[dir="rtl"] .market-app-list-inner > img {
    float: right;
    width: 65%;
    margin-left: 15px;
    margin-right: 0;
}

.market-Installed {
    color: #cdcdcd !important;
    border-color: #f7f7f7 !important;
}

.market-app-install {
    border: 1px solid #d0d0d0;
    color: #62be39;
    float: right;
    font-size: 13px!important;
    margin: 15px 0;
    padding: 5px 0px;
    width: 70px;
    background-color: #fff;
    text-align: center;
}

.market-main-container {
    height: 85%;
}

.market-left-sidebar {
    border-right: 1px solid #eeeeee;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 428px;
    margin-right: 8px;
}

html[dir="rtl"] .market-left-sidebar {
    border-left: 1px solid #eeeeee;
    float: right;
    margin-right: 0;
    border-right-width: 0;
    margin-left: 8px;
}

.market-right-content {
    border-left: 1px solid #eeeeee;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

html[dir="rtl"] .market-right-content {
    border-right: 1px solid #eeeeee;
    border-left-width: 0px;
}

.market-app-detail {
    padding: 20px 20px 0px 20px;
    overflow: hidden;
}

.market-about-app {
    float: left;
}

    .market-about-app > img {
        float: left;
        margin-right: 20px;
        max-height: 142px;
        max-width: 142px;
    }

html[dir="rtl"] .market-about-app > img {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

.market-about-app > div {
    float: left;
}

.market-app-detail-inner p {
    margin: 0 0 5px;
}

.market-app-detail-inner .market-title {
    font-size: 27px;
    margin-top: 0px !important;
    font-family: HelveticaStd;
}

.market-author {
    color: #888888;
}

.market-app-detail-inner p {
    margin: 0 0 5px;
}

.market-install-detail > a {
    background-color: #62be39;
    color: #fff !important;
    display: inline-block;
    margin-right: 20px;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    /*width: 70px;*/
    font-size: 13px;
}

html[dir="rtl"] .market-install-detail > a {
    margin-right: 0px;
    margin-left: 20px;
}

.market-app-detail-inner .market-install-detail {
    font-size: 15px;
    margin-top: 15px;
}

    .market-app-detail-inner .market-install-detail span {
        color: #888888;
    }

.market-app-rating {
    float: right;
    margin-top: 0px;
}

.market-developer {
    color: #1b95d7 !important;
}

.market-app-rating p {
    color: #888888;
    margin: 0px 0px 10px !important;
    font-size: 13px;
}

    .market-app-rating p label {
        color: #000;
    }

.market-app-description {
    background-color: #eeeeee;
    padding: 70px 20px 20px;
    margin-top: -32px;
}

.market-screenshot {
    margin-bottom: 30px;
}

.market-screenshot-outer {
    overflow: hidden;
    overflow-x: scroll !important;
}

.market-screenshot .market-screenshot-inner div {
    float: left;
    margin-right: 12px;
}

    .market-screenshot .market-screenshot-inner div img {
        width: 268px;
        height: 202px;
    }

html[dir="rtl"] .market-screenshot .market-screenshot-inner div {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}

.market-screenshot .market-screenshot-inner {
    width: 5620px;
}

.market-contnet-title {
    font-size: 25px !important;
    margin: 0 0 15px !important;
    width: 100%;
    color: #121212 !important;
    overflow: hidden;
}

.market-description, .market-features {
    margin-bottom: 30px;
}

    .market-description > p, .market-terms-condition > p {
        margin-top: 0px;
        font-size: 13px;
        color: #666666;
    }

    .market-description p select, .market-terms-condition p select {
        color: #1b95d7 !important;
    }

    .market-features ul {
        padding-left: 0px;
    }

        .market-features ul li {
            color: #666666;
            font-size: 13px;
            margin-bottom: 5px;
            display: block;
            padding-left: 20px;
            background-image: url("../Images/li_before.png");
            background-position: left top;
            background-repeat: no-repeat;
        }

.market-additional-information {
    overflow: hidden;
}

.market-ai-block {
    float: left;
    padding: 0 1.8% 2% 0;
    width: 18%;
}

    .market-ai-block .market-block-title {
        font-weight: bold;
    }

    .market-ai-block > p {
        color: #666666;
        margin: 0 0 10px !important;
    }
/*      Review sec      */
.market-reviews {
    margin: 40px 0 0;
    overflow: hidden;
    width: 100%;
}

.market-wr-rv > a {
    background: none repeat scroll 0 0 white;
    border: 1px solid #e4e4e4;
    color: #009df0;
    margin: 0;
    padding: 7px 12px;
    text-decoration: none;
}


.market-reviews-left {
    float: left;
    width: 20%;
}

.market-rw-img {
    box-shadow: 0 0 2px 2px #d0d0d0;
    float: left;
    margin: 14px 0 5px 2px;
    width: 100%;
}

.market-reviews-right {
    float: right;
    margin: 40px 0 59px 10px;
    overflow-x: scroll !important;
    overflow-y: hidden;
    width: 78%;
}

.market-rw-block {
    float: left;
    margin-right: 20px;
    width: 200px;
}

    .market-rw-block > img {
        float: left;
        padding: 3% 0 0 1%;
        width: 25%;
    }

    .market-rw-block .market-name {
        color: #009df0;
        float: left;
        font-size: 13px;
        height: auto;
        margin: 10px 0 0 10px;
        padding: 0;
    }

    .market-rw-block .market-stars {
        float: left;
        margin: 5px 0 0 10px;
        padding: 0;
        width: 60%;
    }

.market-rw-content {
    color: #737373;
    float: left;
    font-size: 13px;
    line-height: 17px;
    margin: 10px 0 0 !important;
    padding: 0 12px 4px 0;
}

.market-reviews-left .market-contnet-title {
    float: left;
    width: 100%;
    margin: 0 !important;
}

.market-reviews-left .market-wr-rv {
    float: left !important;
    margin: 0 !important;
    width: auto !important;
}

    .market-reviews-left .market-wr-rv a {
        border: 1px solid #cccccc;
        box-shadow: none !important;
        float: left;
        padding: 5px 11px;
        font-size: 14px;
    }

.market-rw-img > img {
    width: 100%;
}

.market-more {
    background-image: url("../Images/more.png");
    background-position: 55px 11px;
    background-repeat: no-repeat;
    border: 1px solid #d0d0d0;
    color: #1b95d7;
    padding: 4px 35px 6px 10px;
    text-decoration: none;
}

    .market-more:hover {
        color: #858585;
    }

.market-contnet-title .market-more {
    float: right;
    font-size: 14px;
}

.market-half-star {
    background-image: url('../Images/stars/half-star.png');
}

.market-one-star {
    background-image: url('../Images/stars/one-star.png');
}

.market-one-half-stars {
    background-image: url('../Images/stars/one-half-stars.png');
}

.market-two-stars {
    background-image: url('../Images/stars/two-stars.png');
}

.market-two-half-stars {
    background-image: url('../Images/stars/two-half-stars.png');
}

.market-three-stars {
    background-image: url('../Images/stars/three-stars.png');
}

.market-three-half-stars {
    background-image: url('../Images/stars/three-half-stars.png');
}

.market-four-stars {
    background-image: url('../Images/stars/four-stars.png');
}

.market-four-half-stars {
    background-image: url('../Images/stars/four-half-stars.png');
}

.market-full-stars {
    background-image: url('../Images/stars/full-stars.png');
}

.market-full {
    background: none repeat scroll 0 0 #1ba0ed;
    width: 80%;
}

.market-four {
    background: none repeat scroll 0 0 #4AB1EC;
    width: 20%;
}

.market-three {
    background: none repeat scroll 0 0 #8ECFF7;
    width: 45%;
}

.market-two {
    background: none repeat scroll 0 0 #B5E0F8;
    width: 10%;
}

.market-one {
    background: none repeat scroll 0 0 #fff;
    width: 15%;
}

.market-rating {
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
    overflow: hidden;
}

.market-num-rating {
    float: left;
    font-size: 32px;
    width: 30%;
}

.market-stars-basedon {
    color: #707070;
    float: left;
    margin: 5px 0 0 15px;
    width: 60%;
}

.market-based-on {
    font-size: 9px;
    margin: 2px 0 0;
}

.market-single-star-color {
    overflow: hidden;
}

    .market-single-star-color p {
        margin: 0;
        float: left;
    }

    .market-single-star-color .market-rating-stars {
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: transparent;
        margin-right: 5px;
        text-align: right;
        transform: scaleY(-1) rotate(180deg);
        width: 35%;
    }

.market-star-color {
    padding: 10px;
}

.market-single-star-color .market-rating-num {
    font-size: 9px;
    line-height: 1.5;
    padding-left: 5px;
    width: 56%;
    position: relative;
}

.market-rating-num > span {
    display: block;
}


/* Dependency Dialog*/

.market-dp-da .market-app-detail {
    padding: 5px 0 0;
}

.market-dp-da .market-about-app > img {
    max-width: 75px;
    max-height: 75px;
}

.market-dp-da .market-app-description {
    padding: 42px 20px 20px 70px;
}

html[dir="rtl"] .market-dp-da .market-app-description {
    padding: 42px 70px 20px 20px;
}

/* Key Dialog*/

a.market-community-key {
    background: #1aa0ed;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    margin-top: 47px;
    float: left;
    cursor: pointer;
}

.market-divide {
    width: 1px;
    float: left;
    background: #d4d4d4;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

span.market-span-or {
    color: #888;
}

label.market-enter-key {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
    margin-top: 22px;
}

a.market-validate {
    float: right;
    background: #616364;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
}

.market-kd-title {
    font-size: 21px;
    margin-top: 0px !important;
    font-family: HelveticaStd;
}

/* Module Dialog*/

.market-popup {
    width: 700px;
}

.market-popup-content {
    float: left;
    width: 100%;
    background: #fff;
}

.market-popup-buttons {
    float: left;
    width: 100%;
    /*margin-bottom: 30px;*/
    margin-top: 7px;
}

.market-popup-description-inner {
    float: left;
    margin-left: 10px;
    width: 94.5%;
    margin-top: 20px;
}

.market-popup-logs {
    float: left;
    background: #fff;
    width: 100%;
    height: 55px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
}

p.market-log {
    font-size: 11px;
    color: #666;
    margin: 5px 0 0 10px;
}


.market-popup-btn {
    border: 1px solid #d0d0d0;
    float: left;
    font-size: 13px;
    padding: 5px 0px;
    width: 70px;
    background-color: #62be39;
    color: #fff !important;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
}

.market-popup-viennaLogo {
    float: right;
    text-align: center;
    margin-top: 32px;
    /*margin-right: 40px;*/
}

.market-popup-install-text {
    float: left;
}

    .market-popup-install-text > p {
        color: #888;
        font-weight: bold;
    }

.market-popup-client {
    float: left;
    width: 48%;
    margin-bottom: 30px;
    margin-right: 20px;
}

    .market-popup-client > h6 {
        margin: 0;
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }

.market-popup-client-options {
    float: left;
    background: #fff;
    width: 100%;
    height: 90px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.market-client-data {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
}

    .market-client-data > input[type="checkbox"] {
        float: left;
        margin: 0;
        margin-top: 1px;
    }

    .market-client-data > label {
        font-size: 13px;
        float: left;
        margin-left: 5px;
    }

html[dir="rtl"] .market-client-data > input[type="checkbox"] {
    float: right;
}

html[dir="rtl"] .market-client-data > label {
    float: right;
    margin-right: 5px;
}


p.market-lang {
    float: left;
    width: 100%;
    margin: 5px 0 0px 5px;
    font-size: 13px;
    padding: 5px;
}

    p.market-lang.first {
        margin-top: 5px;
        border-bottom: 1px solid #eee;
    }

    p.market-lang:hover {
        background: #1b95d7;
        color: #fff;
    }

.market-pop-divider {
    float: left;
    width: 100%;
    background: #d1cdcd;
    height: 1px;
    margin-bottom: 20px;
}

.market-progress {
    width: 90%;
    height: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.market-progress-in {
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.market-versionsection {
    width: 100%;
    overflow: auto;
}
.market-versionpara {
    width: 65%;
    display: inline-block;
}
.market-button-version-detail {
   background-color: #62be39;
    color: #fff!important;
    display: inline-block;   
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    width: auto;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
