
@font-face {
    font-family: 'NoirPro-Regular';
    src: url('../fonts/NoirPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NoirPro-Light';
    src: url('../fonts/NoirPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'NoirPro-SemiBold';
    src: url('../fonts/NoirPro-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NoirPro-Medium';
    src: url('../fonts/NoirPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NoirPro-Bold';
    src: url('../fonts/NoirPro-Bold.ttf') format('truetype');
}
/*Scroll bar*/
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(var(--v-c-on-secondary),0.3);*/
    border-radius: 5px;
    background: rgba(var(--v-c-primary),.11);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--v-c-primary),.8);
    outline: none;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(var(--v-c-primary),1);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(var(--v-c-primary),.4);
    }

/* ENd */
/*w2ui Grid*/
/* align middle row data*/
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.w2ui-grid .w2ui-grid-body table .w2ui-col-number {
    width: 34px;
    color: #777777;
    background-color: rgba(233, 237, 243, 0.5);
    vertical-align: middle;
}

.w2ui-grid .w2ui-grid-body table .w2ui-col-select {
    width: 26px;
    vertical-align: middle;
}

.w2ui-grid .w2ui-grid-body {
    background-color: transparent;
}
    /*end*/

    /*change color row odd and even*/
    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
        color: inherit;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(var(--v-c-on-secondary), 0.09);
    }

    /*.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover
    {
        color: inherit;
        background-color: #63BFE9;
    }

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover
    {
        background-color: #ffffff;
    }*/

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
        color: inherit;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(var(--v-c-on-secondary), 0.09);
    }

    /*.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover
    {
        color: inherit;
        background-color: #63BFE9;
    }

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-empty-record:hover
    {
        background-color: #ffffff;
    }*/

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected,
    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected {
        color: #000000 !important;
        background-color: rgba(var(--v-c-secondary), 1) !important;
    }



    /* grid Header*/
    .w2ui-grid .w2ui-grid-body table .w2ui-head {
        margin: 0px;
        padding: 0px;
        border-right: 0;
        border-top: 2px solid rgba(var(--v-c-on-secondary), 0.09);
        border-bottom: 2px solid rgba(var(--v-c-on-secondary), 0.09);
        color: rgba(0, 0, 0, 0.70);
        background: transparent;
        font-weight: 600;
        /*background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
  background-image: linear-gradient(#f9f9f9, #e4e4e4);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe4e4e4', GradientType=0);*/
    }

        .w2ui-grid .w2ui-grid-body table .w2ui-head > div {
            padding: 12px 7px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: rgba(var(--v-c-on-secondary), 0.8);
        }

.w2ui-col-header {
    border-right: 1px solid #e7ecef;
}

/*
 *  w2ui panel
 */
/*set zindex 0 default is 120 */
.w2ui-layout > div .w2ui-panel {
    z-index: 0;
}
/* end */

/* w2ui overlay before*/
.w2ui-overlay:before {
    left: 0;
}



input:not([type=button]):disabled, select:disabled, textarea:disabled, input:not([type=button])[readonly], select[readonly], textarea[readonly] {
    background-color: inherit;
    color: inherit;
}

/*
 *  Jquery Dialog Custome Design
 */
.ui-dialog .ui-dialog-titlebar-close {
    width: 40px;
    background: url('../base/images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
    padding-top: 24px;
    padding-bottom: 20px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 0px;
}


html[dir="rtl"] .ui-dialog .ui-dialog-titlebar-close {
    right: auto;
    left: 0em !important;
}

.ui-dialog .ui-dialog-titlebar {
    width: 100%;
    background: rgba(var(--v-c-primary), 1);
    /*padding: 10px 0px 10px 0px;
    float: left;
    padding-left: 1%;*/
    margin: 0;
}

.ui-dialog .ui-dialog-title {
    margin: 0;
    font-size: 14px;
    font-family: helvetica;
    font-weight: 400;
    color: rgba(var(--v-c-on-primary), 1);
    width: 100%;
}
.ui-button .ui-icon, .ui-button:hover .ui-icon {
    background-image: url(../migration/themes/base/images/ui-icons_ffffff_256x240.png);
}


.ui-button-text-only {
    border: 0px;
    background: #616364 !Important;
    padding: 5px 10px;
    color: white !Important;
    font-size: 14px;
    font-weight: 200;
    font-family: helvetica;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 10px 10px 0;
    background: 0;
    overflow: auto;
}

.ui-widget {
    font-family: helvetica;
    font-size: 1em;
}

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: verdana, Arial,Helvetica,sans-serif;
        outline: none;
    }

/*input:not([type=button]):focus,  select:focus, textarea:focus {
    border: 1px solid rgba(var(--v-c-primary), 1);
}*/
/*JqueryUI properties override*/
.ui-button {
    background: rgba(var(--v-c-primary), 1) !important;
    color: #fff !important;
    padding: 0.5rem 1.5rem !important;
    border: 1px solid rgba(var(--v-c-primary), 1);
}

    .ui-button:focus {
        outline: none;
    }

.ui-dialog {
    border: 2px solid rgba(var(--v-c-primary), 1) !important;
    /*border-right: 2px solid rgba(var(--v-c-primary), 1) !important;
    border-bottom: 2px solid rgba(var(--v-c-primary), 1) !important;*/
    padding: 0;
    border-radius: 0.50rem;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.23);
}

    .ui-dialog .ui-dialog-titlebar-close {
        height: 100% !important;
        padding: 0.2rem 0 !important;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: hidden !important;
    }

    .ui-dialog .ui-dialog-titlebar {
        padding: .4em 1em;
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-button:hover {
    border: 1px solid rgba(var(--v-c-primary), 1);
    background: rgba(var(--v-c-primary), 1);
}

.ui-dialog .ui-dialog-buttonpane {
    border-bottom-left-radius: .40rem;
    border-bottom-right-radius: .40rem;
    margin-top: 0;
    padding: 10px;
}
.ui-dialog .ui-dialog-buttonpane button{
    margin: 0;
}
.ui-widget.ui-widget-content {
    /*border: 1px solid rgba(var(--v-c-on-secondary),.1);*/
    /*border-radius: .25rem;*/
}


/****************** w2ui-grid ***********************/
.w2ui-grid {
    border: none;
}

    .w2ui-grid .w2ui-grid-body table td {
        border-right: none;
    }

    .w2ui-grid .w2ui-grid-body .w2ui-grid-columns {
        box-shadow: none;
    }

    .w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
        padding: 10px 7px;
        color: rgba(var(--v-c-on-secondary), 0.65);
        border-right: 1px solid transparent;
    }
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data:first-child > div {
    padding: 10px 0;
}

    .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover, .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover {
        color: inherit;
        background-color: rgba(var(--v-c-secondary), 1);
    }

    .w2ui-grid .w2ui-grid-body table .w2ui-col-select div input[type=checkbox] {
        border: 1px solid rgba(var(--v-c-on-secondary), 0.3);
        -webkit-appearance: none;
        border-radius: 2px;
        position: relative;
        width: 12px;
        height: 12px;
    }

        .w2ui-grid .w2ui-grid-body table .w2ui-col-select div input[type=checkbox]:checked {
            background: rgba(var(--v-c-primary), 1);
            border: 1px solid rgba(var(--v-c-primary), 1);
        }

            .w2ui-grid .w2ui-grid-body table .w2ui-col-select div input[type=checkbox]:checked:before {
                position: absolute;
                content: '';
                width: 5px;
                height: 9px;
                top: 0;
                bottom: 2px;
                left: 1px;
                right: 0;
                margin: auto;
                border: solid rgba(var(--v-c-on-primary), 1);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

    .w2ui-grid .w2ui-editable {
    }
        .w2ui-grid .w2ui-editable input {
            padding: 1px;
            min-height: 35px;
        }

            .w2ui-grid .w2ui-editable input.w2ui-select {
                height:35px;
            }

            /**************************************/