@font-face {
    font-family: 'vis-fonts';
    src: url('../fonts/vis-fonts.eot?22zgxr');
    src: url('../fonts/vis-fonts.eot?22zgxr#iefix') format('embedded-opentype'), url('../fonts/vis-fonts.ttf?22zgxr') format('truetype'), url('../fonts/vis-fonts.woff?22zgxr') format('woff'), url('../fonts/vis-fonts.svg?22zgxr#vis-fonts') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


.vis {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vis-fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vis-chat:before {
    content: "\e90f";
}

.vis-sms:before {
    content: "\e936";
}

.vis-smsx:before {
    content: "\e937";
}

.vis-subscribe:before {
    content: "\e928";
}

.vis-tl-4:before {
    content: "\e935";
}

.vis-tl-3:before {
    content: "\e932";
}

.vis-tl-2:before {
    content: "\e933";
}

.vis-tl-1:before {
    content: "\e934";
}

.vis-attachdocumentfrom:before {
    content: "\e92f";
}

.vis-attachdocumentfromx:before {
    content: "\e930";
}

.vis-zoomacross:before {
    content: "\e931";
}

.vis-arrow-down:before {
    content: "\e900";
}

.vis-arrow-right:before {
    content: "\e901";
}

.vis-arrow-left:before {
    content: "\e902";
}

.vis-arrow-up:before {
    content: "\e903";
}

.vis-viewdocumentx:before {
    content: "\e904";
}

.vis-createdocumentx:before {
    content: "\e905";
}

.vis-viewdocument:before {
    content: "\e906";
}

.vis-uploaddocumentx:before {
    content: "\e907";
}

.vis-uploaddocument:before {
    content: "\e908";
}

.vis-createdocument:before {
    content: "\e909";
}

.vis-attachmentx:before {
    content: "\e90a";
}

.vis-attachment:before {
    content: "\e90b";
}

.vis-email:before {
    content: "\e90c";
}

.vis-edit:before {
    content: "\e90d";
}

.vis-multi:before {
    content: "\e90e";
}

.vis-chatx:before {
    content: "\e910";
}

.vis-mark:before {
    content: "\e911";
}

.vis-refresh:before {
    content: "\e912";
}

.vis-ignore:before {
    content: "\e913";
}

.vis-search:before {
    content: "\e914";
}

.vis-appointment:before {
    content: "\e915";
}

.vis-next:before {
    content: "\e916";
}

.vis-previous:before {
    content: "\e917";
}

.vis-pagedown:before {
    content: "\e918";
}

.vis-pageup:before {
    content: "\e919";
}

.vis-find:before {
    content: "\e91a";
}

.vis-print:before {
    content: "\e920";
}

.vis-save:before {
    content: "\e921";
}

.vis-new:before {
    content: "\e922";
}

.vis-plus:before {
    content: "\e923";
}

.vis-delete:before {
    content: "\e927";
}

.vis-subscribex:before {
    content: "\e929";
}

.vis-task:before {
    content: "\e92a";
}

.vis-letter:before {
    content: "\e92b";
}

.vis-report:before {
    content: "\e92c";
}

.vis-recordaccess:before {
    content: "\e92d";
}

.vis-recordaccessx:before {
    content: "\e92e";
}

.vis-home:before {
    content: "\e91b";
}

.vis-card:before {
    content: "\e91c";
}

.vis-pencil:before {
    content: "\e91d";
}

.vis-image:before {
    content: "\e91e";
}

.vis-images:before {
    content: "\e91f";
}

.vis-file-empty:before {
    content: "\e924";
}

.vis-copy:before {
    content: "\e925";
}

.vis-file-text:before {
    content: "\e926";
}

.vis-history:before {
    content: "\e94d";
}

.vis-user:before {
    content: "\e971";
}

.vis-users:before {
    content: "\e972";
}

.vis-spinner11:before {
    content: "\e984";
}

.vis-lock:before {
    content: "\e98f";
}

.vis-lockx:before {
    content: "\e990";
}

.vis-request:before {
    content: "\e991";
}

.vis-cog:before {
    content: "\e994";
}

.vis-bin:before {
    content: "\e9ac";
}

.vis-logout:before {
    content: "\e9b6";
}

.vis-clipboard:before {
    content: "\e9b8";
}

.vis-workflow:before {
    content: "\e9bc";
}

.vis-import:before {
    content: "\e9c5";
}

.vis-export:before {
    content: "\e9c6";
}

.vis-attachment1:before {
    content: "\e9cd";
}

.vis-star-empty:before {
    content: "\e9d7";
}

.vis-star-half:before {
    content: "\e9d8";
}

.vis-star-full:before {
    content: "\e9d9";
}

.vis-help:before {
    content: "\ea09";
}

.vis-info:before {
    content: "\ea0c";
}

.vis-cancel-circle:before {
    content: "\ea0d";
}

.vis-markx:before {
    content: "\ea10";
}

.vis-multix1:before {
    content: "\ea70";
}

.vis-multix:before {
    content: "\ea71";
}
