@font-face {
  font-family: 'vis-fonts';
  src:  url('../fonts/vis-fonts.eot?k5rd5m');
  src:  url('../fonts/vis-fonts.eot?k5rd5m#iefix') format('embedded-opentype'),
    url('../fonts/vis-fonts.ttf?k5rd5m') format('truetype'),
    url('../fonts/vis-fonts.woff?k5rd5m') format('woff'),
    url('../fonts/vis-fonts.svg?k5rd5m#vis-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.vis {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vis-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vis-arrow-down:before {
  content: "\e907";
}
.vis-arrow-up:before {
  content: "\e900";
}
.vis-arrow-left:before {
  content: "\e901";
}
.vis-arrow-right:before {
  content: "\e902";
}
.vis-edit .path1:before {
  content: "\e903";
  color: rgb(0, 166, 81);
}
.vis-edit .path2:before {
  content: "\e904";
  margin-left: -0.9482421875em;
  color: rgb(0, 0, 0);
}
.vis-edit .path3:before {
  content: "\e905";
  margin-left: -0.9482421875em;
  color: rgb(0, 0, 0);
}
.vis-edit .path4:before {
  content: "\e906";
  margin-left: -0.9482421875em;
  color: rgb(0, 0, 0);
}
.vis-letter:before {
  content: "\e908";
}
.vis-plus:before {
  content: "\e909";
}
.vis-find:before {
  content: "\e90a";
}
.vis-report:before {
  content: "\e90b";
}
.vis-create-document:before {
  content: "\e90c";
}
.vis-file-cross:before {
  content: "\e90d";
}
.vis-upload-document:before {
  content: "\e90e";
}
.vis-view-document:before {
  content: "\e90f";
}
.vis-task:before {
  content: "\e910";
}
.vis-workflow:before {
  content: "\e911";
}
.vis-record-access:before {
  content: "\e912";
}
.vis-subscribex:before {
  content: "\e913";
}
.vis-subscribe:before {
  content: "\e914";
}
.vis-ignore:before {
  content: "\e915";
}
.vis-new:before {
  content: "\e916";
}
.vis-delete:before {
  content: "\e917";
}
.vis-print:before {
  content: "\e918";
}
.vis-save:before {
  content: "\e919";
}
.vis-search:before {
  content: "\e91a";
}
.vis-home:before {
  content: "\e91b";
}
.vis-card:before {
  content: "\e91c";
}
.vis-multi:before {
  content: "\e91d";
}
.vis-multix:before {
    content: "\e91c";
}
.vis-image:before {
  content: "\e91e";
}
.vis-images:before {
  content: "\e91f";
}
.vis-file-empty:before {
  content: "\e924";
}
.vis-files-copy:before {
  content: "\e925";
}
.vis-file-text2:before {
  content: "\e926";
}
.vis-barcode:before {
  content: "\e937";
}
.vis-qrcode:before {
  content: "\e938";
}
.vis-ticket:before {
  content: "\e939";
}
.vis-history:before {
  content: "\e94d";
}
.vis-sms:before {
  content: "\e96e";
}
.vis-chat:before {
  content: "\e970";
}
.vis-user:before {
  content: "\e971";
}
.vis-users:before {
  content: "\e972";
}
.vis-spinner11:before {
  content: "\e984";
}
.vis-lock:before {
  content: "\e98f";
}
.vis-unlocked:before {
  content: "\e990";
}
.vis-request:before {
  content: "\e991";
}
.vis-cog:before {
  content: "\e994";
}
.vis-bin:before {
  content: "\e9ac";
}
.vis-logout:before {
  content: "\e9b6";
}
.vis-clipboard:before {
  content: "\e9b8";
}
.vis-tree:before {
  content: "\e9bc";
}
.vis-import:before {
  content: "\e9c5";
}
.vis-export:before {
  content: "\e9c6";
}
.vis-attachment:before {
  content: "\e9cd";
}
.vis-star-empty:before {
  content: "\e9d7";
}
.vis-star-half:before {
  content: "\e9d8";
}
.vis-star-full:before {
  content: "\e9d9";
}
.vis-help:before {
  content: "\ea09";
}
.vis-info:before {
  content: "\ea0c";
}
.vis-cancel-circle:before {
  content: "\ea0d";
}
.vis-mark:before {
  content: "\ea0f";
}
.vis-refresh:before {
  content: "\ea2e";
}
